
<ion-content>
  <form  #f [formGroup]="form" (ngSubmit)="logForm(f)">
  <ion-grid>
    <ion-row>
      <ion-col class="d-flex-cen flex-col txt-center" size="10" offset="1">
        <p class="ff-E-M fs-14  txt-linkcolor">Enter the OTP sent to your mobile/email</p>
        <!-- <p class="ff-E-M txt-center mr-0 fs-10">Enter the OTP sent on your phone number <span class="ff-E-SB">860 218 0038.</span></p> -->
        <!-- <a class="ff-E-M fs-10 txt-transform txt-linkcolor mr-t-15" href="">Change Mobile Number</a> -->
      </ion-col>
      <ion-col size="12">
        <p *ngIf="form.get('otp_email') && !form.get('otp_email').valid && form.get('otp_email').touched"
          class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red">Field is required *</p>
      </ion-col>
      <ion-col size="12" class="itemproperty d-flex-cen">
        <ion-item  lines="none">
          <!-- <ion-label position="floating" class="ff-E-R fs-12 txt-black">Enter OTP Sent to email</ion-label> -->
          <ion-input name="password" required formControlName="otp_email" [(ngModel)]="OtpData.otp" class="inputPassword"  placeholder="Enter OTP Sent to email"></ion-input>
        </ion-item>
      </ion-col>
      <p class="ff-E-M fs-10 wd-90 txt-grey txt-right" (click)="resendOTp('email')" >haven't received OTP In Email? <span class="txt-transform txt-linkcolor">Resend</span></p>
      <ion-col size="12">
        <p *ngIf="form.get('otp_mobile') && !form.get('otp_mobile').valid && form.get('otp_mobile').touched"
          class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red">Field is required *</p>
      </ion-col>
      <ion-col size="12" class="itemproperty d-flex-cen">
        <ion-item  lines="none">
          <!-- <ion-label position="floating" class="ff-E-R fs-12 txt-black">Enter OTP Sent to email</ion-label> -->
          <ion-input name="password" required formControlName="otp_mobile" [(ngModel)]="OtpData.otp_mobile" class="inputPassword"  placeholder="Enter OTP Sent to phone"></ion-input>
        </ion-item>
      </ion-col>  
      <p class="ff-E-M fs-10 wd-90 txt-grey txt-right" (click)="resendOTp('mobile')" >haven't received OTP In Mobile? <span class="txt-transform txt-linkcolor">Resend</span></p>
      <ion-col class="mr-t-25 colpadding">
        <ion-buttons class="d-flex-sb wd-100">
          <ion-button  shape="round" (click)="gotoRegister()" class="mr-b-5 ion-activatable ripple-parent borderBTn Btn ff-E-M fs-10">Cancel</ion-button>
          <ion-button shape="round" type="submit" (click)="gotoHome()" class="mr-b-5 fillBTn Btn ff-E-R fs-10">Submit</ion-button>
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </ion-buttons>
        <div class="Bottomline mr-t-20"></div>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>