.discount{
    width: 84px;
    height: 84px;
    background-position: center;
    background-size: cover;
    background-image: url(../../../assets/discount.svg);
}
ion-button{
    --padding-bottom:10px;
    --padding-top:10px;
    --padding-start:40px;
    --padding-end:40px;
}
.colpadding{
    padding: 2px 32px !important;
}
.coupensCode{
    width: 100%;
    height: 52px;
    border-radius: 10px;
    background-color: #F5F3F2;
}


.itemproperty{
    margin-top: 10px !important;
    // margin-bottom: 15px;
    background-position: top right;
    background-repeat: no-repeat;
}
.otpContainer{
    height: 34px;
    border-radius: 20px;
    width: 80%;
    background-color: #F6F6F6;
}

.cardtop,.card-bottom{
    padding: 0px 5px;
}

.Bottomline{
    width: 100%;
    height: 1px;
    background-color: #F1EFEF;
}


.itemproperty ion-button ion-icon,
.cardBottom ion-button ion-icon{
    padding:4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#6D4053;
}


.cardBottom ion-button{
position: absolute;
right: 0px;
bottom: 0px;
--box-shadow:none;
--background:transparent;
}


.opt{
    letter-spacing: 5px;
}

ion-item{
    width: 90%;
}
.inputPassword{
    --padding-start: 20px !important;
    --padding-end: 20px !important;
    // --padding-bottom:20px !important;
    border-radius:20px;
    // width: 100%;
    --background: #F6F6F6;
}