.searchbarcol ion-searchbar {
    --background:#F6F6F6 !important;
    --icon-color:white;    
    --border-radius: 20px !important;
}

.essentials{
    // margin-right: 15px;
    margin-top: 50px;
    padding: 28% 15px 15px 15px;
    width: 150px;
    height: 216px;
    border-radius: 20px;
    background-color: #F5F3F2;
    position: relative;
}

.essentials ion-img{
    width: 122px;
    height: 122px;
 position: absolute;
 top: -27%;
//  left: -1%;
}
.selectbox{
    padding: 3px 10px 3px 10px;
    // padding-top: 5px;
    // padding-bottom: 5px;
    border-radius: 20px;
    background-color:white;
    --placeholder-opacity:1;
    --placeholder-color:black;
}

.essentials ion-icon{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 4px;
    background:var(--color-gradient-180);
    color: white;
}

.essentials .iconcontainer{
    
    position: absolute;
    bottom: -8%;    
    border-radius: 50%;
    padding: 4px;
    background: #FF9FD1;
}

.productContainer ion-col{
    display: flex;
    justify-content: center;
}