<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-page/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Search Result</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="gotofilter()">
        <ion-img style="width:25px; height:30px;" src="../../assets/filterIcon.png"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-grid class="col-padding">
    <ion-row>
      <ion-col class="searchbarcol" size="12">
        <ion-searchbar [(ngModel)]="myInput" (ngModelChange)="onInputSearch()" showCancelButton="never" placeholder="Search a product"></ion-searchbar>
      </ion-col>
      <!-- <ion-col size="12">
        <p class="ff-E-M fs-12 txt-lightGrey mr-0 mr-b-10 ">{{this.searchlength}} items found for '{{this.myInput}}'</p>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>
<ion-grid class="ion-padding">
  <ion-row class="productContainer">
    <ion-col *ngFor="let item of this.searchResult" class="mr-t-40" size="6">
      <div class="essentials" >
          <ion-img src="../../../assets/milkpacket.png"></ion-img>
          <p class="mr-t-25 ff-E-M fs-14 txt-black mr-0">{{item.name}}</p>
          <p class="ff-E-M fs-12 txt-lightGrey mr-0">Humble Cow</p>
          <!-- <p class="ff-E-M fs-12 txt-black mr-t-5  mr-0">{{item.sell_price}}</p> -->

          <!-- <ion-select class=" mr-t-15 ff-E-R fs-11 txt-black selectbox" placeholder="500ml | ₹ 48.50">
            <ion-select-option>500ml | ₹ 48.50</ion-select-option>
            <ion-select-option>500ml | ₹ 48.50</ion-select-option>
            <ion-select-option>500ml | ₹ 48.50</ion-select-option>
          </ion-select> -->

          <!-- <ion-select interface="popover" interface="popover" class=" mr-t-25 ff-E-R fs-11 txt-black selectbox" placeholder="500ml | ₹ 48.50">
            <ion-select-option>500ml | ₹ 48.50</ion-select-option>
            <ion-select-option>500ml | ₹ 48.50</ion-select-option>
            <ion-select-option>500ml | ₹ 48.50</ion-select-option>
          </ion-select> -->
          <ion-select interface="popover"  (ionChange)="optionchange($event)"  placeholder="Select Type" class="mr-t-25 ff-E-R fs-11 txt-black selectbox">
            <ion-select-option  *ngFor="let option of item.type" value={{option.id}},{{option.product_quantity}},{{option.product_amount}}>{{option.product_quantity}}ml | ₹ {{option.product_amount}}</ion-select-option>
            <!-- <ion-select-option>250ml | ₹ 24.25</ion-select-option>
            <ion-select-option>100ml | ₹ 12.13</ion-select-option> -->
          </ion-select>
          <div class="d-flex-cen">
          <div (click)="openSpecificProduct(item)" class="iconcontainer  d-flex-cen">
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
        </div>
        </div>
    </ion-col>
    
  </ion-row>
</ion-grid>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
