
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="d-flex-cen flex-col txt-center" size="8" offset="2">
        <p class="ff-E-R fs-14  txt-linkcolor">Edit Subscription</p>
        <!-- <p class="ff-E-M txt-center mr-0 fs-10 txt-grey ">Your orders from your Subscriptions on the vacation days will be cancelled.</p> -->
      </ion-col>
      <ion-col size="12" class="d-flex-cen">
        <ion-buttons class="addsubbutton mr-t-20">
          <ion-button (click)="removeOne()" class="d-flex-j-sb-a-end">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>
          <p id="addREmove" class="mr-l-15 mr-r-15 ff-E-M fs-14">{{this.data.quantity}}</p>
          <ion-button (click)="addOne()" class="d-flex-j-sb-a-end">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-buttons> 
      </ion-col>
      <ion-col class="itemproperty d-flex-cen flex-col">
        <div class="datetimeContainer d-flex-sb">
          <ion-datetime class="ff-E-R fs-12 d-flex-sb" [(ngModel)]="start_date" placeholder="Select Start Date" display-timezone="utc"></ion-datetime>
          <ion-icon name="calendar-clear"></ion-icon>
        </div>
        <div class="datetimeContainer d-flex-sb">
          <ion-datetime class="ff-E-R fs-12 d-flex-sb" [(ngModel)]="end_date" placeholder="Select End Date" display-timezone="utc"></ion-datetime>
          <ion-icon name="calendar-clear"></ion-icon>
        </div>
        <div class="checkBox-container" >
          <ion-item lines="none" *ngFor="let day of daysCheckBox; let i = index" class="checkbox-block d-flex-cen mr-b-10 ion-no-padding">
            <ion-label class="fs-16  txt-lightBrown  mr-r-25 txt-center ff-E-M">{{day.slot}}</ion-label>
            <ion-checkbox (ionChange)="addCheckBox(i,day)" [(ngModel)]="day.checked" class="checkboxs"></ion-checkbox>
          </ion-item>                
      </div>
      
      </ion-col>
      <ion-col class="colpadding">
        <ion-buttons class="d-flex-sb wd-100">
          <ion-button (click)="closeModal()" class="ion-activatable ripple-parent borderBTn Btn ff-E-M fs-12">Cancel</ion-button>
          <ion-button class="fillBTn Btn ff-E-R fs-12" (click)="editSubscription()">Save</ion-button>
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>