<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Day-Wise Subscription Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-thumbnail >
          <div class="thumbDate d-flex-cen flex-col "><p class="mr-0 ff-E-R fs-16 txt-white">12</p> <p class=" mr-0 ff-E-R fs-10 txt-white">Dec</p></div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12">Status: <span class="txt-green">Delivered</span></p><p class="ff-E-SB fs-10 txt-black">Delivery Time: 09:30 AM</p></ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail >
          <div class="thumbDate d-flex-cen flex-col "><p class="mr-0 ff-E-R fs-16 txt-white">12</p> <p class=" mr-0 ff-E-R fs-10 txt-white">Dec</p></div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12">Status: <span class="txt-green">Delivered</span></p><p class="ff-E-SB fs-10 txt-black">Delivery Time: 09:30 AM</p></ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail >
          <div class="thumbDate d-flex-cen flex-col "><p class="mr-0 ff-E-R fs-16 txt-white">12</p> <p class=" mr-0 ff-E-R fs-10 txt-white">Dec</p></div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12">Status: <span class="txt-red">Not Delivered</span></p><p class="ff-E-SB fs-10 txt-black">Delivery Time: 09:30 AM</p></ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail >
          <div class="thumbDate d-flex-cen flex-col "><p class="mr-0 ff-E-R fs-16 txt-white">12</p> <p class=" mr-0 ff-E-R fs-10 txt-white">Dec</p></div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12">Status: <span class="txt-yellowBrown"> Delivery Canceled</span></p><p class="ff-E-SB fs-10 txt-black">Delivery Time: 09:30 AM</p></ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail >
          <div class="thumbDate d-flex-cen flex-col "><p class="mr-0 ff-E-R fs-16 txt-white">12</p> <p class=" mr-0 ff-E-R fs-10 txt-white">Dec</p></div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12">Status: <span class="txt-green">Delivered</span></p><p class="ff-E-SB fs-10 txt-black">Delivery Time: 09:30 AM</p></ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail >
          <div class="thumbDate d-flex-cen flex-col "><p class="mr-0 ff-E-R fs-16 txt-white">12</p> <p class=" mr-0 ff-E-R fs-10 txt-white">Dec</p></div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12">Status: <span class="txt-grey">Upcoming</span></p><p class="ff-E-SB fs-10 txt-black">Delivery Time: 09:30 AM</p></ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail >
          <div class="thumbDate d-flex-cen flex-col "><p class="mr-0 ff-E-R fs-16 txt-white">12</p> <p class=" mr-0 ff-E-R fs-10 txt-white">Dec</p></div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12">Status: <span class="txt-grey">Upcoming</span></p><p class="ff-E-SB fs-10 txt-black">Delivery Time: 09:30 AM</p></ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail >
          <div class="thumbDate d-flex-cen flex-col "><p class="mr-0 ff-E-R fs-16 txt-white">12</p> <p class=" mr-0 ff-E-R fs-10 txt-white">Dec</p></div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12">Status: <span class="txt-green">Delivered</span></p><p class="ff-E-SB fs-10 txt-black">Delivery Time: 09:30 AM</p></ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail >
          <div class="thumbDate d-flex-cen flex-col "><p class="mr-0 ff-E-R fs-16 txt-white">12</p> <p class=" mr-0 ff-E-R fs-10 txt-white">Dec</p></div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12">Status: <span class="txt-green">Delivered</span></p><p class="ff-E-SB fs-10 txt-black">Delivery Time: 09:30 AM</p></ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail >
          <div class="thumbDate d-flex-cen flex-col "><p class="mr-0 ff-E-R fs-16 txt-white">12</p> <p class=" mr-0 ff-E-R fs-10 txt-white">Dec</p></div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12">Status: <span class="txt-green">Delivered</span></p><p class="ff-E-SB fs-10 txt-black">Delivery Time: 09:30 AM</p></ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
