<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-page/subscription"></ion-back-button>
    </ion-buttons>
    <ion-title>Order Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirTutorial()">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="this.orderDetail !== undefined">
  <div class="toggleDiv" id="tutorial" hidden="true">
    <ion-buttons class="flex-col ">
      <ion-button class="ff-E-M fs-12">View Day-Wise Status</ion-button>
      <div class="line"></div>
      <ion-button class="ff-E-M fs-12 ">Stop Subscription</ion-button>
      <div class="line"></div>
      <ion-button class="ff-E-M fs-12" (click)="gotoHelp()">Get Help</ion-button>
      <div class="line"></div>
    </ion-buttons>
  </div>
  <ion-grid class="ion-padding">
    <ion-row class="ion-padding">
      <ion-col class="progressBoxContainer ion-no-padding" size="12">
        <div class="progressWrapper d-flex-sb flex-col">  
          <p class="ff-E-M mr-0 fs-10 txt-pinkgrey">Order Status</p>
          
        <div class="progressinner txt-center">
          <p *ngIf="this.orderDetail.delivery_status === 'p'" class="ff-E-R mr-0 fs-20">Pending</p>
          <p *ngIf="this.orderDetail.delivery_status === 'd'" class="ff-E-R mr-0 fs-20">Delivered</p>
          <p *ngIf="this.orderDetail.delivery_status === 'c'" class="ff-E-R mr-0 fs-20">Cancelled</p>
          <p class="ff-E-M mr-0 fs-10">status</p>
        </div>
        <div class="progressbottom d-flex-sb">
          <div class="progressLeft  txt-left">
            <p class="ff-E-R fs-20 mr-0 ">₹ 157.00</p>
            <p class="ff-E-M fs-10 mr-0">Amount Per Day during Subscription</p>
          </div>
          <div class="progressRight txt-right">
            <p class="ff-E-R fs-20 mr-0 ">₹ {{this.orderDetail.amount}}</p>
            <p class="ff-E-M fs-10 mr-0">Total Amount Paid till date</p>
          </div>
        </div>
      </div>
      </ion-col>
      <!-- <ion-col>
        <div  lines="none" class="packetContainer d-flex mr-t-15">  
          <ion-thumbnail class="mr-r-15">
            <ion-img src="../../../assets/milkpacket.png"></ion-img>
          </ion-thumbnail>
          <ion-label class="widthofLabel"><p class="ff-E-M fs-12 txt-black mr-0">{{this.orderDetail.name}}</p> <p class="fs-11 txt-grey mr-0">Humble Cow</p><p class="ff-E-R fs-12 txt-black mr-t-5">500ml (₹ 48.50) x 02</p></ion-label>
          <ion-label class="ff-E-SB fs-12 txt-v-cen txt-lightBrown txt-right">
            ₹ 97.00
          </ion-label>
        </div>
        <div   class="packetContainer d-flex mr-t-15">  
          <ion-thumbnail class="mr-r-15">
            <ion-img src="../../../assets/milkpacket.png"></ion-img>
          </ion-thumbnail>
          <ion-label class="widthofLabel"><p class="ff-E-M fs-12 txt-black mr-0">Skimmed Milk</p> <p class="fs-11 txt-grey mr-0">Humble Cow</p><p class="ff-E-R fs-12 txt-black mr-t-5">500ml (₹ 48.50) x 02</p></ion-label>
          <ion-label class="ff-E-SB fs-12 txt-v-cen txt-lightBrown txt-right">
            ₹ 97.00
          </ion-label>
        </div>
        <div   class="packetContainer d-flex mr-t-15">  
          <ion-label class="widthofLabel"><p class="ff-E-M fs-12 txt-black mr-0">Delivery Charge</p></ion-label>
          <ion-label class="ff-E-SB fs-12 txt-v-cen txt-lightBrown txt-right">
            ₹ 10.00
          </ion-label>
        </div>
        <div   class="packetContainer d-flex mr-t-15">  
          <ion-label class="widthofLabel"><p class="ff-E-M fs-12 mr-0">Coupon Applied</p> <p class="ff-E-M fs-11 txt-black mr-0">FLT50</p></ion-label>
          <ion-label class="ff-E-SB fs-12 txt-v-cen txt-lightBrown txt-right">
            - ₹ 8.00
          </ion-label>
        </div>

      </ion-col> -->
      <ion-col size="10" class="txt-left mr-t-25">
        <p class="ff-E-R mr-0 mr-b-5 fs-12">Delivery Date</p>
        <p class="ff-E-M fs-14 mr-0 mr-b-15">{{this.orderDetail.delivery_date}} </p>
        <!-- <p class="ff-E-R mr-0 mr-b-5 fs-12">Subscription Nature</p>
        <p class="ff-E-M fs-14 mr-0 mr-b-15">Selected Day Only | 10 days Monday, Wednesday & Friday</p> -->
        <p class="ff-E-R mr-0 mr-b-5 fs-12">Time-Slot for Delivery</p>
        <p
          *ngIf="this.orderDetail.delivery_slot === 'm'"
          class="ff-E-M fs-14 mr-0 mr-b-15"
        >
          Morning Slot | 09:00 AM - 12:00 PM
        </p>
        <p
          *ngIf="this.orderDetail.delivery_slot === 'e'"
          class="ff-E-M fs-14 mr-0 mr-b-15"
        >
          Evening Slot | 04:00 PM - 09:00 PM
        </p>
        <!-- <p class="ff-E-M mr-0 fs-12 mr-b-15 txt-linkcolor">Wallet Balance Insufficient <a class="txt-black">Add Money</a></p> -->
        <p class="ff-E-R mr-0 mr-b-5 fs-12">Name</p>
        <p class="ff-E-M fs-14 mr-0 mr-b-15">{{this.orderDetail.order.billing_address.name}}</p>
        <p class="ff-E-R mr-0 mr-b-5 fs-12">Mobile Number</p>
        <p class="ff-E-M fs-14 mr-0 mr-b-15">{{this.orderDetail.order.billing_address.mobile}}</p>
        <p class="ff-E-R mr-0 mr-b-5 fs-12">Alternate Mobile Number</p>
        <p class="ff-E-M fs-14 mr-0 mr-b-15">{{this.orderDetail.order.billing_address.alternative_mobile}}</p>
        <p class="ff-E-R mr-0 mr-b-5 fs-12">Address</p>
        <p class="ff-E-M fs-14 mr-0 mr-b-15">{{this.orderDetail.order.billing_address.house_no}}
          {{this.orderDetail.order.billing_address.floor}} ,
          {{this.orderDetail.order.billing_address.address_line_one}} ,
          {{this.orderDetail.order.billing_address.address_line_two}} ,
          {{this.orderDetail.order.billing_address.postal_code}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
