.progressBoxContainer{
    height: 171px !important;
    border-radius: 20px;
    background-color: #F5F3F2;
}
.progressWrapper{
    padding: 16px 16px 0px 16px;
    width: 100%;
    height: 100%;
    // background-color: blueviolet;
    background-position:top right;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../assets/progresscorner.svg);
}

round-progress{
    width: 150px !important;
    height: 150px !important;
}

.progressbottom{
    padding: 10px 20px 0px 20px;
    width: 100%;
    height: 80px;
    border-top: 1px solid #E3E3E3;
}

.progressLeft{
    width: 45%;
    height: 100%;
}
.progressRight{
    width: 42%;
    height: 100%;
}

.progressinner{
    padding: 10px 10px;
    position: absolute;
    z-index: 3;
    // background-color: crimson;
    // width: 150px;
    // height: 150px;
    top: 15%;
    border-radius: 50%;
}
.packetContainer{
    padding-bottom: 20px;
    border-bottom: 1px solid #F1EFEF;
    justify-content: space-between;
    align-items: flex-start;
}
.packetContainer ion-thumbnail{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    padding: 10px 7px;
    background-color:#F5F3F2 !important;
}
.widthofLabel{
    width: 50%;
}

ion-col p a{
    margin-left: 2px;
    text-decoration:underline !important;
}

.toggleDiv{
    position: absolute;
    z-index: 4;
    top: 0%;
    right: 4%;
    padding: 20px 0px;
    width: 160px;
    height: 134px;
    border-radius: 10px;
    border: 1px solid #CBCBCB;
    background-color:white;
}
ion-buttons{
    align-items: flex-end !important;
}
ion-buttons ion-button{
    
    text-transform: initial;
}

ion-buttons .line{
    width: 100%;
    height: .5px;
    background-color:#E3E3E3;
}