.discount{
    width: 84px;
    height: 84px;
    background-position: center;
    background-size: cover;
    background-image: url(../../../assets/discount.svg);
}
ion-button{
    --padding-bottom:13px;
    --padding-top:13px;
    --padding-start:30px;
    --padding-end:30px;
}
.colpadding{
    padding: 2px 32px !important;
}
.coupensCode{
    width: 100%;
    height: 52px;
    border-radius: 10px;
    background-color: #F5F3F2;
}