ion-thumbnail{
    margin-left: 5px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    padding: 7px;
    background-color: #F6F6F6;
}


ion-item .arrowForward{
    padding: 5px;
    width: 15px;
    height: 15px;
    color: white;
    border-radius: 50%;
    background:var(--color-gradient-135) ;

}

.coupenInput{
    font-weight: 700;
    width: 100%;
    border-radius: 20px;
    padding: 0px 25px !important;
    background-color:#F6F6F6 ;
}
.addsubbutton ion-button{
    --padding-bottom:4px;
    --padding-top:4px;
    --padding-start:4px;
    --padding-end:4px;
    width: 24px;
    height: 24px;
    --border-radius: 50%;
    --background:black;
}

.addsubbutton ion-button ion-icon{
    color: white;
    font-size: 15px;
}


.ApplyCoupon{
        --padding-bottom:10px;
        --padding-top:10px;
        --padding-start:15px;
        --padding-end:15px;
}

.Datecontainer{
    width: 100%;
    height: 130px;
    border-radius: 20px;
    background-color: #F5F3F2;
    // border-bottom: 1px solid black;
}



.datetimeContainer{
    padding: 0px 10px;
    width: 75%;
    margin: 0px 20px 15px 20px;
    border-radius: 20px;
    background-color: white;
}

.Bottomline{
    width: 100%;
    height: 1px;
    background-color: #F1EFEF;
}
ion-datetime{
    width: 70% !important;
    --padding-bottom:0px;
    --padding-top:0px;
    --padding-end:10px;
    --padding-start:10px;
    height: 28px;
    border-radius: 20px;
    background-color: white;
}

.datetimeContainer ion-icon{
    margin-right: 14px;
    width: 10px;
    height: 10px;
}
.selectContainer{
    width: 100%;
}
.selectbox{
    padding: 5px 20px 5px 20px;
    min-width: 75%;
    // padding-top: 5px;
    // padding-bottom: 5px;
    border-radius: 20px;
    background-color:#F6F6F6;
    --placeholder-opacity:1;
    --placeholder-color:black;
}  


.inputForm{
    padding: 20px 30px 25px 30px;
    width: 100%;
    // height: 259px;
    border-radius: 20px;
    background-color: #F5F3F2;   
}

.Forminput{
    border-radius: 20px;
    width: 100%;
    height: 34px;
    border: none;
    background-color: white;
    padding:5px 20px 5px 20px ;
}
.Btn{
    width: 180px;
    --padding-top:10px;
    --padding-bottom:10px;
}

ion-col p a{
    text-decoration: underline;
}


.bottomDiv ion-button{
    --padding-bottom:10px;
    --padding-top:10px;
    --padding-start:20px;
    --padding-end:20px;
}

.inputForm{
    padding: 20px 30px 25px 30px;
    width: 100%;
    // height: 259px;
    border-radius: 20px;
    background-color: #F5F3F2;   
}

.Forminput{
    border-radius: 20px;
    width: 100%;
    height: 34px;
    border: none;
    background-color: white;
    padding:5px 20px 5px 20px ;
    margin: 20px 0px;
}
// .selectbox{
//     padding: 5px 10px 5px 10px;
//     // padding-top: 5px;
//     // padding-bottom: 5px;
//     border-radius: 20px;
//     background-color:#F6F6F6;
//     --placeholder-opacity:.2;
//     --placeholder-color:black;
// }


.checkBox-container{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    // height: 25px;
    // background-color: yellow;
    .checkbox-slot{
        width: 50% !important;
        ion-label{
            flex: 0 0 60px;
            width: 60px;
        }
        ion-radio{
            width: 15px;
            height: 15px;
            // --border-radius:0px !important;	
        }
    }
    .checkbox-block{
        // background-color: blue;
        width: 50% !important;
        .checkboxs{
            width: 15px;
            height: 15px;
            // --border-radius	: 50%;
        }
        ion-label{
            width: 100%;
            // height: 50%;
        }
    }
    
}

.datetimeContainer ion-icon{
    width: 10px;
    height: 15px;
}