<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="my-cart"></ion-back-button>
    </ion-buttons>
    <ion-title class="ff-E-R fs-18 txt-black">Checkout</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="gotoHomepage()">
        <ion-label class="txt-transform ff-E-M fs-12 mr-r-5 txt-purple"
          >Cancel</ion-label
        >
        <ion-icon class="ff-E-M fs-14 txt-purple" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="col-padding-right ff-E-L fs-16 txt-grey">
          Subscription Orders
        </p>
        <div class="wd-100 txt-center" *ngIf="this.subscriptionOrders.length === 0">
          <p class="ff-E-M fs-14 txt-linkcolor" >No Subscription</p>
        </div>
        <ion-item *ngFor="let item of this.subscriptionOrders">
          <!-- <ion-icon class="mr-b-20 txt-black fs-14" name="close"></ion-icon> -->
          <ion-thumbnail class="mr-r-15 mr-b-20">
            <ion-img src="{{this.imgUrl}}{{item.products.resource_path}}"></ion-img>
          </ion-thumbnail>
          <ion-label class="mr-b-20"
            ><p class="ff-E-M fs-12 txt-black mr-0">{{item.products.name}}</p>
            <p class="ff-E-M fs-10 txt-grey">Humble Milk</p>
            <p class="ff-E-M fs-12 txt-black mr-t-10 mr-0">
              {{item.type.product_quantity}}ml | ₹ {{item.products.sell_price}}
            </p></ion-label
          >
          <ion-label class="txt-right mr-b-20">
            <p class="ff-E-M fs-12 txt-lightBrown">₹ {{item.amount}}</p>
            <!-- <ion-buttons class="addsubbutton mr-t-20">
              <ion-button class="d-flex-j-sb-a-end">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-button>
              <p id="addREmove" class="mr-l-15 mr-r-15 ff-E-M fs-14">02</p>
              <ion-button class="d-flex-j-sb-a-end">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-buttons> -->
          </ion-label>
        </ion-item>
        <p class="col-padding-right ff-E-L fs-16 txt-grey">One Time Orders</p>
        <div *ngIf="this.onetimeOrders.length === 0">
          <p class="ff-E-M wd-100 txt-center fs-14 txt-linkcolor">No Orders</p>
        </div>
        <ion-item *ngFor="let item of this.onetimeOrders">
          <!-- <ion-icon class="mr-b-20 txt-black fs-14" name="close"></ion-icon> -->
          <ion-thumbnail class="mr-r-15 mr-b-20">
            <ion-img src="{{this.imgUrl}}{{item.products.resource_path}}"></ion-img>
          </ion-thumbnail>
          <ion-label class="mr-b-20"
            ><p class="ff-E-M fs-12 txt-black mr-0">{{item.products.name}}</p>
            <p class="ff-E-M fs-10 txt-grey">Humble Milk</p>
            <p class="ff-E-M fs-12 txt-black mr-t-10 mr-0">
              500ml | ₹ {{item.products.sell_price}}
            </p></ion-label
          >
          <ion-label class="txt-right mr-b-20">
            <p class="ff-E-M fs-12 txt-lightBrown">₹ {{item.amount}}</p>
            <!-- <ion-buttons class="addsubbutton mr-t-20">
              <ion-button class="d-flex-j-sb-a-end">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-button>
              <p id="addREmove" class="mr-l-15 mr-r-15 ff-E-M fs-14">02</p>
              <ion-button class="d-flex-j-sb-a-end">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-buttons> -->
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ff-E-M fs-12 txt-black">Delivery Charge</ion-label>
          <ion-label class="ff-E-M fs-12 txt-lightBrown txt-right"
            >₹ 10.00</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label
            ><p class="ff-E-M fs-12 txt-grey">Coupon Applied</p>
            <p class="ff-E-M fs-12 txt-purple">FLT50</p></ion-label
          >
          <ion-label
            ><p class="txt-right ff-E-M fs-12 txt-linkcolor">
              - ₹ 8.00
            </p></ion-label
          >
        </ion-item>
      </ion-col>
      <!-- <ion-col size="12" class="ion-padding">
        <p class="ff-E-M fs-12 mr-0 txt-black">Delivery Date</p>
        <p class="ff-E-M fs-12 mr-0 mr-b-20 txt-black">14 Dec 2020</p>
        <p class="ff-E-M fs-12 mr-0 txt-black">Time-Slot for Delivery</p>
        <p class="ff-E-M fs-12 mr-0 mr-b-20 txt-black">Morning Slot | 09:00 AM - 12:00 PM</p>
        <div class="Bottomline"></div>
      </ion-col> -->
      <!-- <ion-col size="9" class="ion-padding">
        <p class="ff-E-M fs-12 mr-0 txt-black">Name</p>
        <p class="ff-E-M fs-12 mr-0 mr-b-20 txt-black">{{this.address.full_name}}</p>
        <p class="ff-E-M fs-12 mr-0 txt-black">Mobile Number</p>
        <p class="ff-E-M fs-12 mr-0 mr-b-20 txt-black">{{this.address.mobile_number}}</p>
        <p class="ff-E-M fs-12 mr-0 txt-black">Alternate Mobile Number</p>
        <p class="ff-E-M fs-12 mr-0 mr-b-20 txt-black">{{this.address.alternate_mobile_number}}</p>
        <p class="ff-E-M fs-12 mr-0 txt-black">Address</p>
        <p class="ff-E-M fs-12 mr-0 mr-b-20 txt-black">{{this.address.delivery_address}}</p>
        <div class="Bottomline"></div>
      </ion-col>
       -->


       <ion-col offset="1" size="10">
          <p (click)="selectDeliveryAddress()" *ngIf="this.data === undefined" class="ff-E-M fs-14 txt-center txt-linkcolor wd-100">Select Delivery address</p>
       </ion-col>
      
       <ion-col offset="1" size="10" *ngIf="this.data != undefined" >
         <ion-item>
           <ion-label>
             <p  class="ff-E-M fs-14 txt-left  wd-100">{{this.data.name}}</p>
             <p  class="ff-E-R fs-14 txt-left wd-100">{{this.data.address}}</p>
            </ion-label>
              <ion-icon (click)="removeSelectedAddress()" class="mr-b-20 txt-black fs-14" name="close"></ion-icon>
          </ion-item>
       </ion-col>
      <ion-col size="12" class="d-flex-cen flex-col">
        <p class="ff-E-L fs-20 txt-linkcolor mr-0">₹ {{this.totalAmount}}</p>
        <p class="ff-E-M fs-10 mr-t-5 mr-b-20 txt-black mr-0">
          Total AmountPayable
        </p>
        <div class="Bottomline"></div>
      </ion-col>
      <ion-col size="12" class="d-flex-cen flex-col">
        <p class="ff-E-L fs-10 txt-pinkgrey mr-0">Billing Info</p>
        <ion-select
        required 
        [(ngModel)]="this.paymentMethod"
          interface="popover"
          class="ff-E-SB fs-11 txt-black selectbox mr-t-15 mr-b-15"
          placeholder="Select Payment Method"
          value="w"
        >
          <ion-select-option value="w">Wallet</ion-select-option>
          <ion-select-option value="c">Cash</ion-select-option>
        </ion-select>
        <p class="ff-E-R fs-12 mr-t-5 mr-b-20 txt-linkcolor mr-0">
          Wallet Balance Insufficient
          <a href="main-page/home/wallet" class="ff-E-M txt-purple"
            >Add Money</a
          >
        </p>
        <div class="Bottomline"></div>
      </ion-col>
      <ion-col class="ion-padding">
        <ion-buttons class="d-flex-sb flex-col">
          <ion-button
            (click)="gotoorderplaced()"
            class="fillBTn Btn ff-E-R fs-10"
            >Proceed to Payment</ion-button
          >
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
