<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button defaultHref="main-page/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of collection" size="6" CLASS="mr-t-40">
        <div (click)="viewSubCategories(item)" class="categoriesCard ">
          <div class="cardwrapper">
            <ion-img
              class="cardImg"
              src="{{item.image}}"
            ></ion-img>
            <div class="cardBottom">
              <ion-button>
                <ion-label class="txt-white fs-10 ff-E-R">{{item.name}}</ion-label>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-col>
      <!-- <ion-col size="6" CLASS="mr-t-40">
        <div class="categoriesCard mr-r-15">
          <div class="cardwrapper">
            <ion-img
              class="cardImg"
              src="../../../assets/milkglass.png"
            ></ion-img>
            <div class="cardBottom">
              <ion-button>
                <ion-label class="txt-white fs-10 ff-E-R">Milk</ion-label>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" CLASS="mr-t-40">
        <div class="categoriesCard ">
          <div class="cardwrapper">
            <ion-img
              class="cardImg"
              src="../../../assets/milkglass.png"
            ></ion-img>
            <div class="cardBottom">
              <ion-button>
                <ion-label class="txt-white fs-10 ff-E-R">Milk</ion-label>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" CLASS="mr-t-40">
        <div class="categoriesCard mr-r-15">
          <div class="cardwrapper">
            <ion-img
              class="cardImg"
              src="../../../assets/milkglass.png"
            ></ion-img>
            <div class="cardBottom">
              <ion-button>
                <ion-label class="txt-white fs-10 ff-E-R">Milk</ion-label>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" CLASS="mr-t-40">
        <div class="categoriesCard ">
          <div class="cardwrapper">
            <ion-img
              class="cardImg"
              src="../../../assets/milkglass.png"
            ></ion-img>
            <div class="cardBottom">
              <ion-button>
                <ion-label class="txt-white fs-10 ff-E-R">Milk</ion-label>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" CLASS="mr-t-40">
        <div class="categoriesCard mr-r-15">
          <div class="cardwrapper">
            <ion-img
              class="cardImg"
              src="../../../assets/milkglass.png"
            ></ion-img>
            <div class="cardBottom">
              <ion-button>
                <ion-label class="txt-white fs-10 ff-E-R">Milk</ion-label>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" CLASS="mr-t-40">
        <div class="categoriesCard ">
          <div class="cardwrapper">
            <ion-img
              class="cardImg"
              src="../../../assets/milkglass.png"
            ></ion-img>
            <div class="cardBottom">
              <ion-button>
                <ion-label class="txt-white fs-10 ff-E-R">Milk</ion-label>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" CLASS="mr-t-40">
        <div class="categoriesCard mr-r-15">
          <div class="cardwrapper">
            <ion-img
              class="cardImg"
              src="../../../assets/milkglass.png"
            ></ion-img>
            <div class="cardBottom">
              <ion-button>
                <ion-label class="txt-white fs-10 ff-E-R">Milk</ion-label>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-col> -->
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
