
.categoriesCard{
    width: 120px !important;
    height: 80px;   
    border-radius: 20px;
    background:var(--color-light-gradient-180) ;
}



.categoriesCard .cardwrapper{
        background: url(../../../../assets/cardcorner.svg);
        width: 120px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
        position: relative;
    }


.cardImg{
    position: absolute;
    top: -28px;
    width: 79px;
    height: 79px;
}

.categoriesViewpd{
    padding: 10px  15px !important;
}

.itemproperty ion-button{
    position: absolute;
    right: -20px;
    --border-radius: 24px;
    --background: #FFD4E2;
    --box-shadow:none;
    overflow: visible;
    --padding-end: 5px;
}

.cardBottom ion-button ion-icon{
    padding:4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#6D4053;
}

.cardBottom ion-button{
    position: absolute;
    right: 0px;
    bottom: 0px;
    --box-shadow:none;
    --background:transparent;
}
ion-col{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}