.Bottomline{
    width: 100%;
    height: 1px;
    background-color: #F1EFEF;
}

.addressCol ion-button{
    // position: absolute;
    // right: -20px;
    --border-radius: 24px;
    --background: #FFD4E2;
    --box-shadow:none;
    overflow: visible;
    --padding-end: 5px;
}


.addressCol ion-button ion-icon{
    padding:4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#6D4053;
}
