<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back">

        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Saved Address
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openaddAddress()" shape="round">
        <ion-label class="txt-transform ff-E-M fs-12 mr-r-5 txt-purple"
          >Add New</ion-label
        >
        <ion-icon class="ff-E-M fs-14 txt-purple" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of this.address" size="12" class="ion-padding addressCol">
        <p class="ff-E-M fs-12 mr-0 txt-black">Name</p>
        <p class="ff-E-M fs-12 mr-0 mr-b-20 txt-black">{{item.name}}</p>
        <p class="ff-E-M fs-12 mr-0 txt-black">Mobile Number</p>
        <p class="ff-E-M fs-12 mr-0 mr-b-20 txt-black">{{item.mobile}}</p>
        <p class="ff-E-M fs-12 mr-0 txt-black">Alternate Mobile Number</p>
        <p class="ff-E-M fs-12 mr-0 mr-b-20 txt-black">{{item.alternative_mobile}}</p>
        <p class="ff-E-M fs-12 mr-0 txt-black">Address</p>
        <p class="ff-E-M fs-12 mr-0 mr-b-20 txt-black">{{item.house_no}} {{item.floor}} {{item.address_line_one}} {{item.address_line_two}} , {{item.postal_code}}</p>
        <div class="wd-100 d-flex-cen mr-t-15">
          <ion-button (click)="selectAdress(item)"> 
            <ion-label class="txt-brown fs-10 ff-E-SB">Select</ion-label>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </div>
        <!-- <div class="wd-100 Bottomline"></div> -->
      </ion-col>     
    </ion-row>
  </ion-grid>
</ion-content>