.discount{
    width: 38px;
    height: 38px;
    background-position: center;
    background-size: cover;
    background-image: url(../../../assets/thumbGreen.svg);
}
ion-button{
    --padding-bottom:13px;
    --padding-top:13px;
    --padding-start:30px;
    --padding-end:30px;
}

.paddingBtn{
    --padding-start:40px;
    --padding-end:40px;
}
.colpadding{
    padding: 5px 32px !important;
}

.padding{
    width: 80%;
}
.borderBtm{
    border-bottom: 1px solid #F1EFEF;
    border-top: 1px solid #F1EFEF;
}