<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="d-flex-cen" size="12">
        <p class="ff-E-R fs-14 mr-0 mr-t-10  txt-linkcolor">Offer Details</p>
      </ion-col>
      <ion-col class="d-flex-cen">
        <div class="discount d-flex-cen flex-col">
          <!-- <ion-label class="ff-E-M fs-36 txt-black">50<span class="fs-14">%</span></ion-label>
          <p class="ff-E-M fs-12 txt-purple mr-0">Off</p> -->
        </div>
      </ion-col>
      <ion-col class="ion-padding d-flex-sb flex-col"size="10" offset="1">
        <!-- <p class="ff-E-SB fs-12 txt-black mr-0">On all Cheese Products</p> -->
        <p class="ff-E-M fs-10 txt-black  mr-0">Your Order has been placed Successfully.</p>
        <!-- <p class="ff-E-M txt-center mr-t-15 fs-10 txt-grey mr-0">It is scheduled to delivered on 14 Dec 2020 between 09:00 AM - 12:00 PM</p> -->
      </ion-col >
      <!-- <ion-col class="borderBtm d-flex-cen flex-col mr-b-15" size="12">
        <div class="padding txt-center mr-t-10 mr-b-15">
          <p class="ff-E-M fs-12  txt-black mr-p mr-0">Order Number</p>
          <p class="ff-E-SB txt-center  fs-14 txt-black mr-0">#12345ORD67890</p>
        </div>
      </ion-col> -->
      <ion-col class="colpadding">
        <ion-buttons class="d-flex-cen wd-100 ">
          <!-- <ion-button class="mr-b-5 borderBTn Btn ff-E-R fs-10">View Details</ion-button> -->
          <ion-button (click)="gotoHome()" class="mr-b-5 paddingBtn ion-activatable ripple-parent fillBTn Btn ff-E-M fs-10">Done</ion-button>
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>