.walletWrapper{
    width: 100%;
    height:162px !important;
    // background-position: center;
    // background-size: contain;
    border-radius: 20px;
    background: var(--color-gradient-118)
}

.cornerimgwrapper{
    width: 100%;
    height: 100%;
    background-size:cover;
    background-position: top left right;
    background-image: url(../../assets/walletback.svg);
}

.cornerimgwrapper ion-img{
    width: 25px;
    height: 25px;

}

// .no-data {
//     background-color: #F5F3F2 !important;
//     border-radius: 20px;
//     background: url(../../assets/cardbg.svg);
//     background-position: top right;
//     background-repeat: no-repeat;
// }

.addMoney{
    padding: 0px 3px 0px 10px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
}

.walletAddBtn{
    text-transform: initial;
    --border-radius: 20px;
    --background:var(--color-gradient-105)
}
.walletAddBtn .padding{
    padding: 0px 10px;
}

.selectbox{
    padding: 5px 10px 5px 10px;
    // padding-top: 5px;
    // padding-bottom: 5px;
    border-radius: 20px;
    background-color:#F6F6F6;
    --placeholder-opacity:.2;
    --placeholder-color:black;
}

.contentNumber{
    width: 36px;
    height: 50px;
    border-radius: 10px;
    background-color: #F0A8C0;
}

ion-item .forwardIcon{
    padding: 5px;
    width: 15px;
    height: 15px;
    color: white;
    border-radius: 50%;
    background:var(--color-gradient-135) ;

}
ion-item{
    padding: 0px 10px;
}


.hcCoinsBG{
    width: 100%;
    height: 140px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image:url(../../assets/hcCoinsBg.png);
}

.hcCoinsBG ion-img{
    width: 35px;
    height: 35px;
}

.whitelogo{
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

ion-segment-button{
    width: 50%;
    --padding-end:0px !important;
    --padding-start:0px !important;
}

.toggleDiv{
    position: absolute;
    z-index: 8;
    top: 0%;
    right: 4%;
    padding: 20px 0px;
    width: 250px;
    height: 110px;
    border-radius: 10px;
    border: 1px solid #CBCBCB;
    background-color:white;
}
ion-buttons{
    align-items: flex-end !important;
}
ion-buttons ion-button{
    
    text-transform: initial;
}

ion-buttons .line{
    width: 100%;
    height: .5px;
    background-color:#E3E3E3;
}
.col-padding{
    padding-left: 20px;
    padding-right: 20px;
}