<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-page/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Request Amount</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="abrirTutorial()">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <div class="toggleDiv" id="tutorial" hidden="true">
    <ion-buttons class="flex-col ">
      <ion-button class="ff-E-M fs-12" (click)="gotoBankDets()">Transfer Amount to bank directly</ion-button>
      <div class="line"></div>
      <ion-button class="ff-E-M fs-12" (click)="gotocheckDets()">Transfer Amount to bank via check</ion-button>
      <div class="line"></div>
    </ion-buttons>
  </div>    -->
    
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col>
            <div class="walletWrapper">
              <div class="cornerimgwrapper  d-flex-cen flex-col">
                <ion-img
                  class="mr-b-10 mr-t-10"
                  src="../../../assets/walleticon.svg"
                ></ion-img>
                <p class="fs-14 txt-lightpink mr-0">₹ {{this.walletBalance}}</p>
                <p class="fs-11 txt-lightpink mr-0">Wallet Balance</p>
                <form #f [formGroup]="form" (ngSubmit)="logform()">
                <ion-item class="mr-t-25" color="clear" lines="none" >
                  <div class="addMoney d-flex-cen">
                    <ion-input type="number" formControlName="amount" required  class="ff-E-M fs-12 txt-grey" placeholder="Enter amount in ₹">  
                    </ion-input>
                    <ion-button type="submit" class="walletAddBtn">
                      <ion-label class="ff-E-M fs-13 padding">Send Money</ion-label>
                    </ion-button>
                  </div>
                </ion-item>
              </form>
              </div>
            </div>
          </ion-col>
        </ion-row>
        
      <ion-row>
        <!-- <ion-col size="6" offset="0">
            <ion-select interface="popover" class=" mr-t-15 ff-E-SB fs-11 txt-black selectbox" placeholder="Dec 2020 - Nov 2020">
              <ion-select-option>All Transactions</ion-select-option>
              <ion-select-option>All Transactions</ion-select-option>
              <ion-select-option>500ml | ₹ 48.50</ion-select-option>
            </ion-select>
          </ion-col> -->
          <ion-col size="5" offset="0">
            <ion-select interface="popover" [(ngModel)]="historyStatus" (ionChange)="getTransferToBankHistory(historyStatus)" class=" mr-t-15 ff-E-SB fs-11 txt-black selectbox" placeholder="All Transactions">
              <ion-select-option value="s">Success</ion-select-option>
              <ion-select-option value="p">Pending</ion-select-option>
              <ion-select-option value="f">Canelled</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="12">
            <div  *ngIf="this.transactionHistory === undefined">
              <p class="ff-E-M fs-14 txt-linkcolor txt-center">No Data Found</p>
            </div>
              
            <ion-item *ngFor="let item of this.transactionHistory"> 
              <ion-thumbnail class=" d-flex-cen">
                <div class="contentNumber d-flex-cen">
                  <p class="ff-E-R fs-14 txt-white">{{item.id}}</p>
                </div>
              </ion-thumbnail>
              <ion-label>
                <p class="ff-E-M fs-12 txt-grey mr-0">₹{{item.amount}}</p>
                <p class="ff-E-M fs-10 txt-grey">{{item.created_at | date:'medium'}}</p>
                <!-- <p class="ff-E-SB fs-10 txt-black">
                  <ion-icon  name="arrow-up-outline"></ion-icon>Debit | 
                  <span class="txt-green">Successful</span>
                </p> -->
              </ion-label>
              <ion-label class="txt-right">
                <ion-icon class="forwardIcon" name="arrow-forward"></ion-icon>
              </ion-label>
            </ion-item>
            <!-- <ion-item>
              <ion-thumbnail class=" d-flex-cen">
                <div class="contentNumber d-flex-cen">
                  <p class="ff-E-R fs-14 txt-white">01</p>
                </div>
              </ion-thumbnail>
              <ion-label><p class="ff-E-M fs-12 txt-grey mr-0">₹198.00</p> <p class="ff-E-M fs-10 txt-grey">12 Jan 2020 | 09:00 AM</p> <p class="ff-E-SB fs-10 txt-black"><ion-icon  name="arrow-up-outline"></ion-icon>Debit | <span class="txt-red">Failed</span></p></ion-label>
              <ion-label class="txt-right">
                <ion-icon class="forwardIcon" name="arrow-forward"></ion-icon>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-thumbnail class=" d-flex-cen">
                <div class="contentNumber d-flex-cen">
                  <p class="ff-E-R fs-14 txt-white">01</p>
                </div>
              </ion-thumbnail>
              <ion-label><p class="ff-E-M fs-12 txt-grey mr-0">₹198.00</p> <p class="ff-E-M fs-10 txt-grey">12 Jan 2020 | 09:00 AM</p> <p class="ff-E-SB fs-10 txt-black"><ion-icon  name="arrow-up-outline"></ion-icon>Debit | <span class="txt-grey">Pending</span></p></ion-label>
              <ion-label class="txt-right">
                <ion-icon class="forwardIcon" name="arrow-forward"></ion-icon>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-thumbnail class=" d-flex-cen">
                <div class="contentNumber d-flex-cen">
                  <p class="ff-E-R fs-14 txt-white">01</p>
                </div>
              </ion-thumbnail>
              <ion-label><p class="ff-E-M fs-12 txt-grey mr-0">₹198.00</p> <p class="ff-E-M fs-10 txt-grey">12 Jan 2020 | 09:00 AM</p> <p class="ff-E-SB fs-10 txt-black"><ion-icon  name="arrow-up-outline"></ion-icon>Credit | <span class="txt-green">Successful</span></p></ion-label>
              <ion-label class="txt-right">
                <ion-icon class="forwardIcon" name="arrow-forward"></ion-icon>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-thumbnail class=" d-flex-cen">
                <div class="contentNumber d-flex-cen">
                  <p class="ff-E-R fs-14 txt-white">01</p>
                </div>
              </ion-thumbnail>
              <ion-label><p class="ff-E-M fs-12 txt-grey mr-0">₹198.00</p> <p class="ff-E-M fs-10 txt-grey">12 Jan 2020 | 09:00 AM</p> <p class="ff-E-SB fs-10 txt-black"><ion-icon  name="arrow-up-outline"></ion-icon>Debit | <span class="txt-green">Successful</span></p></ion-label>
              <ion-label class="txt-right">
                <ion-icon class="forwardIcon" name="arrow-forward"></ion-icon>
              </ion-label>
            </ion-item> -->
          </ion-col> 
        </ion-row>
      </ion-grid>
    <!-- <ion-list *ngSwitchCase="'HcCoins'">
    <ion-grid>
      <ion-row>
        <ion-col class="col-padding" size="12">
          <div class="hcCoinsBG d-flex-cen flex-col">
            <ion-img  src="../../../assets/hcCoinsLogo.png"></ion-img>
            <p class="ff-E-R mr-0 mr-t-15 fs-20 txt-grey">2,350</p>
            <p class="ff-E-M mr-0  txt-black fs-12">HumbleCow Coins</p>
          </div>
          <p class="ff-E-R fs-12 txt-linkcolor txt-center mr-0 mr-t-10">1.00 HumbleCow Coins equals to ₹ 1.00</p>
        </ion-col>
        <ion-col class="ion-padding" size="6" offset="0">
            <ion-select interface="popover" class=" mr-t-15 ff-E-SB fs-11 txt-black selectbox" placeholder="Dec 2020 - Nov 2020">
              <ion-select-option>All Transactions</ion-select-option>
              <ion-select-option>All Transactions</ion-select-option>
              <ion-select-option>500ml | ₹ 48.50</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col class="ion-padding" size="6" offset="0">
            <ion-select interface="popover" class=" mr-t-15 ff-E-SB fs-11 txt-black selectbox" placeholder="All Transactions">
              <ion-select-option>All Transactions</ion-select-option>
              <ion-select-option>All Transactions</ion-select-option>
              <ion-select-option>All Transactions</ion-select-option>
            </ion-select>
          </ion-col>
          
          <ion-col size="12">
            <ion-item>
              <ion-thumbnail class=" d-flex-cen">
                <div class="contentNumber d-flex-cen">
                  <p class="ff-E-R fs-14 txt-white">01</p>
                </div>
              </ion-thumbnail>
              <ion-label><p class="ff-E-M fs-12 txt-grey mr-0 d-flex"><ion-img class="whitelogo" src="../../../assets/hcWhiteLogo.png"></ion-img> 98.00</p> <p class="ff-E-M fs-10 txt-grey">12 Jan 2020 | 09:00 AM</p> <p class="ff-E-SB fs-10 txt-black d-flex-a-cen"><ion-icon class="mr-r-5"  name="arrow-up-outline"></ion-icon>Earned</p></ion-label>
            </ion-item>            
            <ion-item>
              <ion-thumbnail class=" d-flex-cen">
                <div class="contentNumber d-flex-cen">
                  <p class="ff-E-R fs-14 txt-white">01</p>
                </div>
              </ion-thumbnail>
              <ion-label><p class="ff-E-M fs-12 txt-grey mr-0 d-flex"><ion-img class="whitelogo" src="../../../assets/hcWhiteLogo.png"></ion-img> 98.00</p> <p class="ff-E-M fs-10 txt-grey">12 Jan 2020 | 09:00 AM</p> <p class="ff-E-SB fs-10 txt-black d-flex-a-cen"><ion-icon class="mr-r-5"  name="arrow-up-outline"></ion-icon>Redeemed</p></ion-label>
            </ion-item>            
            <ion-item>
              <ion-thumbnail class=" d-flex-cen">
                <div class="contentNumber d-flex-cen">
                  <p class="ff-E-R fs-14 txt-white">01</p>
                </div>
              </ion-thumbnail>
              <ion-label><p class="ff-E-M fs-12 txt-grey mr-0 d-flex"><ion-img class="whitelogo" src="../../../assets/hcWhiteLogo.png"></ion-img> 98.00</p> <p class="ff-E-M fs-10 txt-grey">12 Jan 2020 | 09:00 AM</p> <p class="ff-E-SB fs-10 txt-black d-flex-a-cen"><ion-icon class="mr-r-5"  name="arrow-up-outline"></ion-icon>Earned</p></ion-label>
            </ion-item>            
            <ion-item>
              <ion-thumbnail class=" d-flex-cen">
                <div class="contentNumber d-flex-cen">
                  <p class="ff-E-R fs-14 txt-white">01</p>
                </div>
              </ion-thumbnail>
              <ion-label><p class="ff-E-M fs-12 txt-grey mr-0 d-flex"><ion-img class="whitelogo" src="../../../assets/hcWhiteLogo.png"></ion-img> 98.00</p> <p class="ff-E-M fs-10 txt-grey">12 Jan 2020 | 09:00 AM</p> <p class="ff-E-SB fs-10 txt-black d-flex-a-cen"><ion-icon class="mr-r-5"  name="arrow-up-outline"></ion-icon>Redeemed</p></ion-label>
            </ion-item>            
            <ion-item>
              <ion-thumbnail class=" d-flex-cen">
                <div class="contentNumber d-flex-cen">
                  <p class="ff-E-R fs-14 txt-white">01</p>
                </div>
              </ion-thumbnail>
              <ion-label><p class="ff-E-M fs-12 txt-grey mr-0 d-flex"><ion-img class="whitelogo" src="../../../assets/hcWhiteLogo.png"></ion-img> 98.00</p> <p class="ff-E-M fs-10 txt-grey">12 Jan 2020 | 09:00 AM</p> <p class="ff-E-SB fs-10 txt-black d-flex-a-cen"><ion-icon class="mr-r-5"  name="arrow-up-outline"></ion-icon>Redeemed</p></ion-label>
            </ion-item>            
          </ion-col> 
        </ion-row>
    </ion-grid>  
    </ion-list> -->
    <!-- <ion-list *ngSwitchCase="'transaction'">

    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="0">
            <ion-select class=" mr-t-15 ff-E-SB fs-11 txt-black selectbox" placeholder="Dec 2020 - Nov 2020">
              <ion-select-option>All Transactions</ion-select-option>
              <ion-select-option>All Transactions</ion-select-option>
              <ion-select-option>500ml | ₹ 48.50</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="5" offset="1">
            <ion-select class=" mr-t-15 ff-E-SB fs-11 txt-black selectbox" placeholder="All Transactions">
              <ion-select-option>All Transactions</ion-select-option>
              <ion-select-option>All Transactions</ion-select-option>
              <ion-select-option>All Transactions</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-thumbnail class=" d-flex-cen">
                <div class="contentNumber d-flex-cen">
                  <p class="ff-E-R fs-14 txt-white">01</p>
                </div>
              </ion-thumbnail>
              <ion-label><p class="ff-E-M fs-12 txt-grey mr-0">₹198.00</p> <p class="ff-E-M fs-10 txt-grey">12 Jan 2020 | 09:00 AM</p> <p class="ff-E-SB fs-10 txt-black"><ion-icon  name="arrow-up-outline"></ion-icon>Debit | <span class="txt-green">Successful</span></p></ion-label>
              <ion-label class="txt-right">
                <ion-icon class="forwardIcon" name="arrow-forward"></ion-icon>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-thumbnail class=" d-flex-cen">
                <div class="contentNumber d-flex-cen">
                  <p class="ff-E-R fs-14 txt-white">01</p>
                </div>
              </ion-thumbnail>
              <ion-label><p class="ff-E-M fs-12 txt-grey mr-0">₹198.00</p> <p class="ff-E-M fs-10 txt-grey">12 Jan 2020 | 09:00 AM</p> <p class="ff-E-SB fs-10 txt-black"><ion-icon  name="arrow-up-outline"></ion-icon>Debit | <span class="txt-red">Failed</span></p></ion-label>
              <ion-label class="txt-right">
                <ion-icon class="forwardIcon" name="arrow-forward"></ion-icon>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-thumbnail class=" d-flex-cen">
                <div class="contentNumber d-flex-cen">
                  <p class="ff-E-R fs-14 txt-white">01</p>
                </div>
              </ion-thumbnail>
              <ion-label><p class="ff-E-M fs-12 txt-grey mr-0">₹198.00</p> <p class="ff-E-M fs-10 txt-grey">12 Jan 2020 | 09:00 AM</p> <p class="ff-E-SB fs-10 txt-black"><ion-icon  name="arrow-up-outline"></ion-icon>Debit | <span class="txt-grey">Pending</span></p></ion-label>
              <ion-label class="txt-right">
                <ion-icon class="forwardIcon" name="arrow-forward"></ion-icon>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-thumbnail class=" d-flex-cen">
                <div class="contentNumber d-flex-cen">
                  <p class="ff-E-R fs-14 txt-white">01</p>
                </div>
              </ion-thumbnail>
              <ion-label><p class="ff-E-M fs-12 txt-grey mr-0">₹198.00</p> <p class="ff-E-M fs-10 txt-grey">12 Jan 2020 | 09:00 AM</p> <p class="ff-E-SB fs-10 txt-black"><ion-icon  name="arrow-up-outline"></ion-icon>Credit | <span class="txt-green">Successful</span></p></ion-label>
              <ion-label class="txt-right">
                <ion-icon class="forwardIcon" name="arrow-forward"></ion-icon>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-thumbnail class=" d-flex-cen">
                <div class="contentNumber d-flex-cen">
                  <p class="ff-E-R fs-14 txt-white">01</p>
                </div>
              </ion-thumbnail>
              <ion-label><p class="ff-E-M fs-12 txt-grey mr-0">₹198.00</p> <p class="ff-E-M fs-10 txt-grey">12 Jan 2020 | 09:00 AM</p> <p class="ff-E-SB fs-10 txt-black"><ion-icon  name="arrow-up-outline"></ion-icon>Debit | <span class="txt-green">Successful</span></p></ion-label>
              <ion-label class="txt-right">
                <ion-icon class="forwardIcon" name="arrow-forward"></ion-icon>
              </ion-label>
            </ion-item>
          </ion-col> 
        </ion-row>
    </ion-grid>  
    </ion-list> -->

    
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
