<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="d-flex-cen" size="12">
        <p class="ff-E-R fs-14 mr-0 mr-t-10 txt-linkcolor">Forgot Password</p>
      </ion-col>

      <ion-col size="12">
        <ion-item lines="none">
          <div class="wd-100 MobineInputContainer d-flex-sb">
            <ion-input
              name="email"
              [(ngModel)]="this.email"
              class="ModalInput ff-E-R fs-14"
              placeholder="Email/Mobile"
            >
            </ion-input>
            <ion-button
              (click)="sentOtp()"
              shape="round"
              type="submit"
              fill="clear"
            >
              <ion-icon
                class="loginPageIcon"
                color="light"
                name="arrow-forward"
              ></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
    
        <!-- <ion-col class="d-flex-sb flex-col" size="10" offset="1">
        <p class="ff-E-M txt-center mr-t-15 fs-10 txt-grey">
          Please Select a Platform to recieve OTP to continue.
        </p>
        <div>
          <ion-radio-group
            class="d-flex-cen"
            name="iconSelect"
            ngDefaultControl
            [(ngModel)]="radioValue"
            (ionChange)="setIcon()"
          >
            <ion-item color="transparent" class="firstitem" lines="none">
              <ion-radio
                color="danger"
                value="Mobile Number"
                checked="true"
              ></ion-radio>
              <ion-label class="ff-E-M fs-12 txt-black mr-l-5"
                >Mobile Number</ion-label
              >
            </ion-item>
            <ion-item color="transparent" class="ion-no-padding" lines="none">
              <ion-radio color="danger" value="Email"></ion-radio>
              <ion-label class="ff-E-M fs-12 txt-black mr-l-5"
                >Email</ion-label
              >
            </ion-item>
          </ion-radio-group>
        </div>
      </ion-col> -->
        <!-- <ion-col class="col-padding">
        <ion-item *ngIf="this.radioValue=='Mobile Number'" lines="none">
          <div class="wd-100 MobineInputContainer d-flex-sb">
            <ion-input
              class="ModalInput ff-E-R fs-12"
              placeholder="Mobile Number"
            >
            </ion-input>
            <ion-icon
              class="mr-l-10 loginPageIcon"
              
              color="light"
              name="arrow-forward"
            ></ion-icon>
          </div>
        </ion-item>
        <ion-item *ngIf="this.radioValue=='Email'" lines="none">
          <div class="wd-100 MobineInputContainer d-flex-sb">
            <ion-input
              class="ModalInput ff-E-R fs-12"
              placeholder="Email"
            >
            </ion-input>
            <ion-icon
              class="mr-l-10 loginPageIcon"
              color="light"
              name="arrow-forward"
            ></ion-icon>
          </div>
        </ion-item>
        <p class="ff-E-M txt-center mr-t-5 mr-b-10 fs-10  mr-0 txt-grey">
          An OTP sent to your {{this.radioValue}}
        </p>
      </ion-col> -->
      <form #f [formGroup]="form" (ngSubmit)="logForm(f)">
        <ion-row>
        <ion-col size="12" class="ion-padding">
          <p class="ff-E-M txt-center mr-0 mr-b-10 fs-10 txt-grey">Enter OTP</p>
          <ion-item lines="none">
            <div class="wd-100 MobineInputContainer d-flex-sb">
              <ion-input
                name="otp"
                required
                formControlName="otp"
                [(ngModel)]="newPassword.otp"
                class="ModalInput txt-center inputPlaceHolder ff-E-R fs-12"
                placeholder="123456"
              >
              </ion-input>
              <!-- <ion-icon
              class="mr-l-10 loginPageIcon"
              color="light"
              name="arrow-forward"
            ></ion-icon> -->
            </div>
          </ion-item>
          <p
          *ngIf="form.get('otp') && !form.get('otp').valid && form.get('otp').touched"
          class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red"
        >
          Field is required *
        </p>
      </ion-col>

        <div class="divider"></div>
        <ion-col class="ion-padding">
          <!-- <p class="ff-E-M txt-center mr-0 mr-b-10 fs-10 txt-grey">
          Enter OTP 
        </p> -->
          <ion-item lines="none">
            <div class="wd-100 MobineInputContainer d-flex-sb">
              <ion-input
                name="new_password"
                required
                formControlName="new_password"
                [(ngModel)]="newPassword.new_password"
                class="ModalInput ff-E-R fs-12"
                placeholder="New Password"
              >
              </ion-input>
              <!-- <ion-icon
              class="mr-l-10 loginPageIcon"
              color="light"
              name="arrow-forward"
            ></ion-icon> -->
            </div>
          </ion-item>
          <p
            *ngIf="form.get('new_password') && !form.get('new_password').valid && form.get('new_password').touched"
            class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red"
          >
            Field is required *
          </p>
      </ion-col>

        <div class="divider"></div>
        <ion-col class="ion-padding">
          <!-- <p class="ff-E-M txt-center mr-0 mr-b-10 fs-10 txt-grey">
          Enter OTP
        </p> -->
          <ion-item lines="none">
            <div class="wd-100 MobineInputContainer d-flex-sb">
              <ion-input
                name="confirm_password"
                required
                formControlName="confirm_password"
                [(ngModel)]="newPassword.confirm_password"
                class="ModalInput ff-E-R fs-12"
                placeholder="Confirm New Password"
              >
              </ion-input>
              <!-- <ion-icon
              class="mr-l-10 loginPageIcon"
              color="light"
              name="arrow-forward"
            ></ion-icon> -->
            </div>
          </ion-item>
          <p
            *ngIf="form.get('confirm_password') && !form.get('confirm_password').valid && form.get('confirm_password').touched"
            class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red"
          >
            Field is required *
          </p>
      </ion-col>

        <div class="divider"></div>
        <ion-col class="colpadding">
          <ion-buttons class="d-flex-sb wd-100">
            <ion-button
              type="submit"
              class="ion-activatable ripple-parent borderBTn Btn ff-E-M fs-10"
              >Done</ion-button
            >
            <ion-button (click)="closeModal()" class="fillBTn Btn ff-E-R fs-10"
              >Cancel</ion-button
            >
            <ion-ripple-effect type="bounded"></ion-ripple-effect>
          </ion-buttons>
        </ion-col>
        <div class="txt-center wd-100">
          <p class="ff-E-M fs-10 txt-grey txt-center">
            Haven't Received OTP ?<span class="txt-transform txt-linkcolor"
              >Resend</span
            >
          </p>
        </div>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
