.discount{
    width: 84px;
    height: 84px;
    background-position: center;
    background-size: cover;
    background-image: url(../../../assets/discount.svg);
}
ion-button{
    --padding-bottom:13px;
    --padding-top:13px;
    --padding-start:30px;
    --padding-end:30px;
}
.colpadding{
    padding: 5px 32px !important;
}



ion-input {
    position: relative;
    height: auto !important;
    --background:#F6F6F6 !important;
    // --icon-color:white;
    --padding-bottom: 10px !important;    
    --padding-top: 10px !important;    
    --padding-start: 20px !important;    
    --padding-end: 20px !important;    
    border-radius: 20px !important;
}
.MobineInputContainer{
    border-radius: 20px;
    background-color: #F6F6F6;
}
.ModalInput{
    width: 100% !important; 
}
.col-padding{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: #F6F6F6;
}

.inputPlaceHolder {
    letter-spacing: 5px;
}
.inputPlaceHolder::-webkit-input-placeholder {
    text-align: center;
    letter-spacing: 5px;
  }
  
.inputPlaceHolder:-moz-placeholder {
    text-align: center;
    letter-spacing: 5px;
}

.MobineInputContainer {
    border-radius: 20px;
    background-color: #f6f6f6;
  }
  .ModalInput {
    width: 85% !important;
  }
  

  
.MobineInputContainer ion-button {
    border-radius: 50% !important;
    --overflow: visible !important;
    --padding-end: 0px !important;
    --padding-start: 0px !important;
    // --padding-top:10px !important;
    // --padding-bottom:10px !important;
  }
  