ion-thumbnail{
    margin-left: 5px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    padding: 7px;
    background-color: #F6F6F6;
}


ion-item .arrowForward{
    padding: 5px;
    width: 15px;
    height: 15px;
    color: white;
    border-radius: 50%;
    background:var(--color-gradient-135) ;

}

.addsubbutton ion-button{
    --padding-bottom:4px;
    --padding-top:4px;
    --padding-start:4px;
    --padding-end:4px;
    width: 24px;
    height: 24px;
    --border-radius: 50%;
    --background:black;
}

.addsubbutton ion-button ion-icon{
    color: white;
    font-size: 15px;
}


.container{
    padding: 20px;
    width: 100%;
    height: 390px;
    border-radius: 20px;
    background-color: #F5F3F2;
    
}

.radioContainer{
    width: 100%;
    border-bottom: 1px solid #E3E3E3;
}
.firstitem{
    padding-left: 35px !important;
    // width:45% !important;
}
.lastitem{
    padding-left: 0px !important;
}

ion-radio-group ion-item{
    width: 50%;

}

ion-radio{
    width: 14px;
    height: 14px;
}

.daysContainer{
    padding: 0px 10px;
    width: 100%;
}
.Singleday{
    padding:0px;
    width: 30px;
    height: 40px;
    border-radius: 24px;
    background: white;
    color: #BFA7B5;
}
.bgGradient{
    color:  #FFD4E2!important;
    background: var(--color-gradient-143);
}


.datetimeContainer{
    padding: 0px 10px;
    width: 75%;
    margin: 15px 20px 15px 20px;
    border-radius: 20px;
    background-color: white;
}

ion-datetime{
    width: 70% !important;
    --padding-bottom:0px;
    --padding-top:0px;
    --padding-end:10px;
    --padding-start:10px;
    height: 28px;
    border-radius: 20px;
    background-color: white;
}

.datetimeContainer ion-icon{
    width: 10px;
    height: 10px;
}

.leftDiv,.rightDiv{
    width: 50%;
}
.Datecontainer{
    width: 100%;
    height: 88px;
    border-radius: 20px;
    background-color: #F5F3F2;
    // border-bottom: 1px solid black;
}
.datetimeContainer{
    padding: 0px 10px;
    width: 75%;
    margin: 0px 20px 15px 20px;
    border-radius: 20px;
    background-color: white;
}

.Bottomline{
    width: 100%;
    height: 1px;
    background-color: #F1EFEF;
}
ion-datetime{
    width: 70% !important;
    --padding-bottom:0px;
    --padding-top:0px;
    --padding-end:10px;
    --padding-start:10px;
    height: 28px;
    border-radius: 20px;
    background-color: white;
}

.datetimeContainer ion-icon{
    margin-right: 14px;
    width: 10px;
    height: 10px;
}
.selectContainer{
    width: 100%;
}
.selectbox{
    padding: 5px 20px 5px 20px;
    min-width: 75%;
    // padding-top: 5px;
    // padding-bottom: 5px;
    border-radius: 20px;
    background-color:white;
    --placeholder-opacity:.5;
    --placeholder-color:black;
}  



.inputForm{
    padding: 20px 30px 25px 30px;
    width: 100%;
    height: 259px;
    border-radius: 20px;
    background-color: #F5F3F2;   
}

.Forminput{
    border-radius: 20px;
    width: 100%;
    height: 34px;
    border: none;
    background-color: white;
    padding:5px 20px 5px 20px ;
}
.Btn{
    width: 180px;
    --padding-top:10px;
    --padding-bottom:10px;
}

