<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-page/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ff-E-M">Add Subscription</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-label class="ff-E-M fs-12 txt-transform txt-purple">Cancel</ion-label>
        <ion-icon class="ff-E-M fs-14 txt-purple" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
     <p class="ff-E-R fs-12 txt-linkcolor"> Select Quantity for per-day of delivery.</p>
    </ion-col>
    <ion-col>
      <ion-item> 
        <ion-icon class="mr-b-20 txt-black fs-14" name="close"></ion-icon>
        <ion-thumbnail class="mr-r-15 mr-b-20">
          <ion-img src="../../../assets/milkpacket.png"></ion-img>
        </ion-thumbnail>
        <ion-label class="mr-b-20"
          ><p class="ff-E-M fs-12 txt-black mr-0">Bill Amount: ₹97.00</p>
          <p class="ff-E-M fs-10 txt-grey">Humble Cow</p>
          <p class="ff-E-M fs-12 txt-black mr-t-10 mr-0">
            500ml | ₹ 48.50
          </p></ion-label
        >
        <ion-label class="txt-right mr-b-20">
          <p class="ff-E-M fs-12 txt-lightBrown">₹ 160.00</p>
          <ion-buttons class="addsubbutton mr-t-20">
            <ion-button  class="d-flex-j-sb-a-end">
              <ion-icon name="remove-outline"></ion-icon>
            </ion-button>
            <p id="addREmove" class="mr-l-15 mr-r-15 ff-E-M fs-14">02</p>
            <ion-button class="d-flex-j-sb-a-end">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-label>
      </ion-item>
      <ion-item class="mr-t-10">
        <ion-icon class="mr-b-20 txt-black fs-14" name="close"></ion-icon>
        <ion-thumbnail class="mr-r-15 mr-b-20">
          <ion-img src="../../../assets/milkpacket.png"></ion-img>
        </ion-thumbnail>
        <ion-label class="mr-b-20"
          ><p class="ff-E-M fs-12 txt-black mr-0">Bill Amount: ₹97.00</p>
          <p class="ff-E-M fs-10 txt-grey">Humble Cow</p>
          <p class="ff-E-M fs-12 txt-black mr-t-10 mr-0">
            500ml | ₹ 48.50
          </p></ion-label
        >
        <ion-label class="txt-right mr-b-20">
          <p class="ff-E-M fs-12 txt-lightBrown">₹ 167.00</p>
          <ion-buttons class="addsubbutton mr-t-20">
            <ion-button class="d-flex-j-sb-a-end">
              <ion-icon name="remove-outline"></ion-icon>
            </ion-button>
            <p id="addREmove" class="mr-l-15 mr-r-15 ff-E-M fs-14">02</p>
            <ion-button class="d-flex-j-sb-a-end">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="ion-padding">
      <div class="container txt-center" >
        <p class="ff-E-R fs-10 txt-pinkgrey mr-0">Subscription Options</p>
        <div class="radioContainer mr-t-5 mr-b-20">
          <ion-radio-group  class="d-flex-cen"  name="iconSelect" ngDefaultControl [(ngModel)]="radioValue" (ionChange)="setIcon()" >
            <ion-item color="transparent" class="firstitem" lines="none">
              <ion-radio color="danger" value="EveryDay" checked="true"></ion-radio>
              <ion-label class="ff-E-M fs-12 txt-black mr-l-5">Every Day</ion-label>
            </ion-item>
            <ion-item color="transparent" class="ion-no-padding" lines="none">
              <ion-radio color="danger" value="SelectedDays"></ion-radio>
              <ion-label class="ff-E-M fs-12 txt-black mr-l-5">Selected Days</ion-label>
            </ion-item>
          </ion-radio-group>
        </div>
        <div *ngIf="this.radioValue==='SelectedDays'" class="transitiontwo radioContainer mr-t-15">
          <p class="ff-E-R fs-10 txt-pinkgrey mr-0 mr-b-20">Select days of the week</p>
          <div class="daysContainer d-flex-sb mr-b-20">
            <div class="Singleday bgGradient d-flex-cen"><p class="ff-E-M fs-12 ">Mo</p></div>
            <div class="Singleday d-flex-cen"><p class="ff-E-M fs-12 ">Tu</p></div>
            <div class="Singleday bgGradient d-flex-cen"><p class="ff-E-M fs-12 ">We</p></div>
            <div class="Singleday d-flex-cen"><p class="ff-E-M fs-12">Th</p></div>
            <div class="Singleday bgGradient d-flex-cen"><p class="ff-E-M fs-12 ">Fr</p></div>
            <div class="Singleday d-flex-cen"><p class="ff-E-M fs-12 ">St</p></div>
            <div class="Singleday  d-flex-cen"><p class="ff-E-M fs-12">Su</p></div>
          </div>
        </div>
        <div class="radioContainer mr-t-20">
          <div class="datetimeContainer d-flex-sb">
            <ion-datetime class="ff-E-R fs-12 d-flex-sb" placeholder="Select Start Date" display-timezone="utc"></ion-datetime>
            <ion-icon name="calendar-clear"></ion-icon>
          </div>
          <div class="datetimeContainer mr-b-20 d-flex-sb">
            <ion-datetime class="ff-E-R fs-12 d-flex-sb" placeholder="Select End Date" display-timezone="utc"></ion-datetime>
            <ion-icon name="calendar-clear"></ion-icon>
          </div>
        </div>
        <div class="radioContainer padding d-flex mr-t-10">
          <div class="leftDiv txt-left">
            <p class="ff-E-R fs-20 txt-black mr-0">10</p>
            <p class="ff-E-M fs-10 txt-black mr-0">Total Days</p>
            <p class="ff-E-M fs-10 txt-black mr-0">In Subscription</p>
          </div>
          <div class="rightDiv txt-right">
            <p class="ff-E-R fs-20 txt-black mr-0">02</p>
            <p class="ff-E-M fs-10 txt-black mr-0">Total Products</p>
            <p class="ff-E-M fs-10 txt-black mr-0">per Day</p>
          </div>
          
        </div>
       </div>
      </ion-col>
      <div class="Bottomline"></div>
    <ion-col size="12" class="ion-padding">
      <div class=" Datecontainer  d-flex-cen flex-col">
        <div class="selectContainer   d-flex-cen">
          <ion-select interface="popover" class="ff-E-SB fs-11 txt-black selectbox" placeholder="2020 | December">
            <ion-select-option>500ml | ₹ 48.50</ion-select-option>
            <ion-select-option>500ml | ₹ 48.50</ion-select-option>    
            <ion-select-option>500ml | ₹ 48.50</ion-select-option>
          </ion-select>
        </div>
      </div>
    </ion-col>
    <div class="Bottomline"></div>
    <ion-col size="12" class="ion-padding">
      <div class="inputForm  d-flex-sb flex-col">
        <p class="ff-E-R fs-10  mr-0 txt-pinkgrey">Billing Info</p>
        <input class="Forminput" placeholder="Full Name">
        <input class="Forminput" placeholder="Mobile Number">
        <input class="Forminput" placeholder="Alternate Mobile Number">
        <input class="Forminput" placeholder="Delivery Address">
        </div>
      </ion-col>
      <div class="Bottomline"></div>
      <ion-col size="12" class="ion-padding d-flex-sb">
        <div class="leftDiv txt-left">
          <p class="ff-E-R fs-20 txt-linkcolor mr-0">₹ 157.00</p>
          <p class="ff-E-M fs-10 txt-black mr-0">Amount Per Day</p>
        </div>
        <div class="rightDiv txt-right">
          <p class="ff-E-R fs-20 txt-linkcolor mr-0">₹ 1570.00</p>
          <p class="ff-E-M fs-10 txt-black mr-0">Total Amount for Subscription</p>
        </div>
        
      </ion-col>
      <div class="Bottomline"></div>
      <ion-col class="ion-padding">
        <ion-buttons class="d-flex-sb flex-col">
          <ion-button (click)="gotoSubscribe()" class="fillBTn Btn ff-E-R fs-10">Add this Subscription to Cart</ion-button>
          <!-- <ion-label class="ff-E-M fs-10 txt-grey mr-t-10 mr-b-10">OR</ion-label> -->
          <!-- <ion-button (click)="gotomyCart()" class="borderBTn Btn ff-E-R fs-10">Switch to One-Time Purchase</ion-button> -->
        </ion-buttons>
      </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
