<ion-header>
  <ion-segment color="danger" [(ngModel)]="category" >
    <ion-segment-button  value="friends">
    <ion-label class="ff-E-SB fs-12">Offers</ion-label>
    </ion-segment-button>
    <ion-segment-button  value="enemies">
      <ion-label class="ff-E-SB fs-12">Coupons</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div [ngSwitch]="category" >
    <ion-list *ngSwitchCase="'friends'">
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col class=" categoriesContainer">
            <div class="offers" (click)="openoffersModal()">
                <div class="offersinner">
                  <ion-row class="categoriesViewpd">
                    <ion-col class="ion-no-padding d-flex-sb" size="12">
                      <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                      <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding viewCategories" size="8" >
                      <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                    </ion-col>
                  </ion-row>
                </div>
            </div>
            <div class="offers">
                <div class="offersinner">
                  <ion-row class="categoriesViewpd">
                    <ion-col class="ion-no-padding d-flex-sb" size="12">
                        
                      <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding viewCategories" size="8" >
                      <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                      <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                    </ion-col>
                  </ion-row>
                </div>
            </div>
            <div class="offers">
                <div class="offersinner">
                  <ion-row class="categoriesViewpd">
                    <ion-col class="ion-no-padding d-flex-sb" size="12">
                      <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                      <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding viewCategories" size="8" >
                      <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                    </ion-col>
                  </ion-row>
                </div>
            </div>
            <div class="offers">
                <div class="offersinner">
                  <ion-row class="categoriesViewpd">
                    <ion-col class="ion-no-padding d-flex-sb" size="12">
                      <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                      <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding viewCategories" size="8" >
                      <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                    </ion-col>
                  </ion-row>
                </div>
            </div>
            <div class="offers">
                <div class="offersinner">
                  <ion-row class="categoriesViewpd">
                    <ion-col class="ion-no-padding d-flex-sb" size="12">
                      <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                      <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding viewCategories" size="8" >
                      <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                    </ion-col>
                  </ion-row>
                </div>
            </div>
            <div class="offers">
                <div class="offersinner">
                  <ion-row class="categoriesViewpd">
                    <ion-col class="ion-no-padding d-flex-sb" size="12">
                      <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                      <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding viewCategories" size="8" >
                      <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                    </ion-col>
                  </ion-row>
                </div>
            </div>
            <div class="offers">
                <div class="offersinner">
                  <ion-row class="categoriesViewpd">
                    <ion-col class="ion-no-padding d-flex-sb" size="12">
                      <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                      <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding viewCategories" size="8" >
                      <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                    </ion-col>
                  </ion-row>
                </div>
            </div>
            <div class="offers">
                <div class="offersinner">
                  <ion-row class="categoriesViewpd">
                    <ion-col class="ion-no-padding d-flex-sb" size="12">
                      <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                      <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding viewCategories" size="8" >
                      <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                    </ion-col>
                  </ion-row>
                </div>
            </div>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-list *ngSwitchCase ="'enemies'">
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col class=" categoriesContainer">
            <div class="offers" (click)="openCoupensModal()">
                <div class="offersinner">
                  <ion-row class="categoriesViewpd">
                    <ion-col class="ion-no-padding d-flex-sb" size="12">
                      <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                      <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding viewCategories" size="8" >
                      <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                    </ion-col>
                  </ion-row>
                </div>
            </div>
            <div class="offers">
                <div class="offersinner">
                  <ion-row class="categoriesViewpd">
                    <ion-col class="ion-no-padding d-flex-sb" size="12">
                      <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                      <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding viewCategories" size="8" >
                      <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                    </ion-col>
                  </ion-row>
                </div>
            </div>
            <div class="offers">
                <div class="offersinner">
                  <ion-row class="categoriesViewpd">
                    <ion-col class="ion-no-padding d-flex-sb" size="12">
                      <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                      <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding viewCategories" size="8" >
                      <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                    </ion-col>
                  </ion-row>
                </div>
            </div>
            <div class="offers">
                <div class="offersinner">
                  <ion-row class="categoriesViewpd">
                    <ion-col class="ion-no-padding d-flex-sb" size="12">
                      <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                      <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding viewCategories" size="8" >
                      <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                    </ion-col>
                  </ion-row>
                </div>
            </div>
            <div class="offers">
                <div class="offersinner">
                  <ion-row class="categoriesViewpd">
                    <ion-col class="ion-no-padding d-flex-sb" size="12">
                      <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                      <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding viewCategories" size="8" >
                      <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                    </ion-col>
                  </ion-row>
                </div>
            </div>
            <div class="offers">
                <div class="offersinner">
                  <ion-row class="categoriesViewpd">
                    <ion-col class="ion-no-padding d-flex-sb" size="12">
                      <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                      <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding viewCategories" size="8" >
                      <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                    </ion-col>
                  </ion-row>
                </div>
            </div>
            <div class="offers">
                <div class="offersinner">
                  <ion-row class="categoriesViewpd">
                    <ion-col class="ion-no-padding d-flex-sb" size="12">
                      <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                      <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding viewCategories" size="8" >
                      <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                    </ion-col>
                  </ion-row>
                </div>
            </div>
            <div class="offers">
                <div class="offersinner">
                  <ion-row class="categoriesViewpd">
                    <ion-col class="ion-no-padding d-flex-sb" size="12">
                      <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                      <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding viewCategories" size="8" >
                      <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                    </ion-col>
                  </ion-row>
                </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
</ion-content>
