.categoriesContainer{
    // height: 110px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // padding: 10px 10px;
    // align-items: flex-end;
    // scroll-behavior: smooth;
}

.offers{
    margin-top: 15px;
    // margin-right: 5px;
    border-radius: 20px;
    width: 152px;
    height: 100px;
    background:var(--color-gradient-180);
}

.offersinner{
    padding: 14px 19px;
    width: 152px;
    height: 100%;
    background-image: url(../../../../assets/offerscorner.svg);
    background-repeat: no-repeat;
    background-position:top right;
}

.categoriesContainer ion-icon{
    border-radius: 50%;
}

.categoriesicon{
    padding: 5px;
    color: #6D4053 !important;
    position: absolute;
    background-color: #FFD4E2;
    top: -5px;
    right: -10px;
    width: 15px;
    height: 15px;
}


