<ion-header>
  <ion-toolbar>
    <ion-buttons class="mr-l-10" slot="start">
      <ion-back-button defaultHref="main-page/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Get Help</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="ion-padding">
  <ion-row class="padding">
    <ion-col>
      <p class="ff-E-M lh-22 fs-12 txt-black">We are deeply sorry for any in-convenience you have experienced. Please let us know that how can we help. Either call us or email us, and we will get back to you ASAP.</p>
    </ion-col>
    <ion-col size="12" class="supportdiv d-flex-cen flex-col">
      <div class="Supportinnerdiv d-flex-cen flex-col">
        <ion-img src="../../assets/mailIconPurple.svg"></ion-img>
        <p class="ff-E-R fs-20 txt-black mr-t-15 mr-0">support@hmilk.com</p>
        <p class="ff-E-M fs-10 txt-grey mr-0">Write us at</p>
      </div>
      <div class="Supportinnerdiv mr-t-40 d-flex-cen flex-col">
        <ion-img src="../../assets/calliconPurple.svg"></ion-img>
        <p class="ff-E-R fs-20 txt-black mr-t-15 mr-0">+91 8602180038</p>
        <p class="ff-E-M fs-10 txt-grey mr-0">Call us at</p>
      </div>
    </ion-col>
    <ion-col size="10" class="bottomBtn">
      <ion-buttons class="d-flex-sb">
        <ion-button class="borderBTn Btn ff-E-M fs-12">Send E-Mail</ion-button>
        <ion-button class="fillBTn Btn ff-E-R fs-12">Call Now</ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
