.supportdiv{
    height: 50vh !important;
}

.supportdiv ion-img{
    width: 24px;
    height: 24px;   
}

ion-button{
    --padding-bottom:10px;
    --padding-top:10px;
    --padding-start:37px;
    --padding-end:37px;
}
ion-content{
    position: relative;
}
.bottomBtn{
    position: absolute;
    bottom: 15px;
}
