<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="my-cart"></ion-back-button>
    </ion-buttons>
    <ion-title class="ff-E-M fs-18">Delivery Location</ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content>
<ion-grid>
  <ion-row class="ion-padding">
    <ion-col>
      
        <ion-input class="SearchLocation mr-b-20" placeholder="Search location..."></ion-input>
        <div class="mapCanvas mr-b-15" #map id="map"></div>
        <p class="d-flex-cen ff-E-M txt-purple fs-12"><ion-img class="widthofIcon" src="../../assets/locationcircle.svg"></ion-img>User Current Location </p>
    </ion-col>
    <div class="Bottomline"></div>
    <ion-col class="ion-padding">
      <ion-buttons class="d-flex-sb flex-col">
        <ion-button  class="fillBTn Btn ff-E-R fs-10">Select this Address</ion-button>
        <ion-label class="ff-E-M fs-10 txt-grey mr-t-10 mr-b-10">OR</ion-label>
        <ion-button  (click)="gotoManualAdress()" class="borderBTn Btn ff-E-M fs-11">Add Address Manually</ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

