.SearchLocation{
    border-radius: 20px;
    background: #F6F6F6;
    padding: 4px 20px !important;
}

.mapCanvas{
    width: 100%;
    height: 388px;
    border-radius: 20px;
    background-size: contain;
    background-position: center;
    // background-image: url(../../assets/locationbg.png);
}

.widthofIcon{
    width: 24px;
    height: 24px;
}

.Bottomline{
    width: 100%;
    height: 1px;
    background-color: #F1EFEF;
}

.Btn{
    width: 180px;
    --padding-top:10px;
    --padding-bottom:10px;
}