.loginMainImg {
  width: 100%;
  // height: 392px;
}

ion-input {
  position: relative;
  height: auto !important;
  --background: #f3f3f3 !important;
  // --icon-color:white;
  --padding-bottom: 10px !important;
  --padding-top: 10px !important;
  --padding-start: 20px !important;
  --padding-end: 20px !important;
  border-radius: 20px !important;
}
.MobineInputContainer {
  border-radius: 20px;
  background-color: #f6f6f6;
}
.ModalInput {
  width: 85% !important;
}

.HomeBtn {
  position: relative;
  text-transform: initial;
  // height: auto !important;
  // --padding:10px 10px !important;
  width: 80%;
  --border-radius: 20px;
}
.fillBT {
  --background: var(--color-gradient-135) !important;
}

.HomeBtn ion-img {
  position: absolute;
  left: -10px;
}

.MobineInputContainer ion-button {
  border-radius: 50% !important;
  --overflow: visible !important;
  --padding-end: 0px !important;
  --padding-start: 0px !important;
  // --padding-top:10px !important;
  // --padding-bottom:10px !important;
}
