<ion-content>
  <ion-img class="loginMainImg" src="../../assets/loginBanner.png"></ion-img>
  <form #f [formGroup]="form" (ngSubmit)="logForm(f)">
    <ion-grid>
      <ion-row>
        <ion-col class="txt-center" offset="1   " size="10">
          <a class="ff-E-R fs-18 txt-linkcolor">Sign In</a>
          <p class="ff-E-M fs-12 mr-0 mr-t-5">
            Sign In with your Mobile / email
          </p>
          <ion-item class="mr-t-20" lines="none">
            <div class="wd-100 MobineInputContainer d-flex-sb">
              <ion-input
                name="email"
                required
                formControlName="email_mobile"
                [(ngModel)]="formData.email"
                class="ModalInput ff-E-R fs-14"
                placeholder="mobile/email"
              >
              </ion-input>
              <!-- <ion-button shape="round" type="submit" fill="clear">
                <ion-icon
                  class="loginPageIcon"
                  color="light"
                  name="arrow-forward"
                ></ion-icon>
              </ion-button> -->
            </div>
          </ion-item>
          <p
            *ngIf="form.get('email_mobile') && !form.get('email_mobile').valid && form.get('email_mobile').touched"
            class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red"
          >
            Field is required *
          </p>
          <ion-item lines="none">
            <div class="wd-100 MobineInputContainer d-flex-sb">
              <ion-input
              type="password"
                name="email"
                required
                formControlName="password"
                [(ngModel)]="formData.password"
                class="ModalInput ff-E-R fs-14"
                placeholder="Password"
              >
              </ion-input>
              <!-- <ion-button shape="round" type="submit" fill="clear">
                <ion-icon
                  class="loginPageIcon"
                  color="light"
                  name="arrow-forward"
                ></ion-icon>
              </ion-button> -->
            </div>
          </ion-item>
          <p
            *ngIf="form.get('password') && !form.get('password').valid && form.get('password').touched"
            class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red"
          >
            Field is required *
          </p>
          <div class="mr-t-25">
            <ion-button type="submit" class="HomeBtn"
              >
              <ion-label class="ff-E-M fs-14"
                >Sign In </ion-label
              ></ion-button
            >
            <ion-button (click)="signinWithGoogle()" class="HomeBtn"
              ><ion-img src="../../assets/GoogleButton.svg"></ion-img>
              <ion-label class="ff-E-M fs-14"
                >Sign In with Google</ion-label
              ></ion-button
            >
            <!-- <ion-button (click)="loginWithApple()" class=" HomeBtn" color="dark"><ion-img class="mr-l-5" src="../../assets/appleButton.svg"></ion-img> <ion-label class="ff-E-M fs-12">Sign In with Apple</ion-label></ion-button> -->
            <ion-button class="HomeBtn fillBT" (click)="gotoRegister()">
              <ion-label class="ff-E-M fs-14">Register</ion-label></ion-button
            >
          </div>
          <a
            class="ff-E-R fs-14 mr-t-10 mr-t-10 txt-linkcolor"
            (click)="gotoHome()"
            >Continue without Signing In</a
          >
          <p class="ff-E-M fs-10 txt-grey txt-center" (click)="gotoForgotPassword()" >Forgot Password ? <span class="txt-transform txt-linkcolor">Reset</span></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
