<ion-header class="headerCornerImg">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="main-page/home/categories/subcategories/product"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="this.item != null">
  <ion-grid class="ion-padding">
    <ion-row class="ion-padding">
      <ion-col>
        <ion-slides pager="true">
          <ion-slide>
            <ion-img src="{{this.imgUrl}}{{item.resource_path}}"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="{{this.imgUrl}}{{item.resource_path}}"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="{{this.imgUrl}}{{item.resource_path}}"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="{{this.imgUrl}}{{item.resource_path}}"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="{{this.imgUrl}}{{item.resource_path}}"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="{{this.imgUrl}}{{item.resource_path}}"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="12" class="d-flex-j-sb-a-end">
        <div>
          <p class="ff-E-M fs-12 mr-0">{{item.name}}</p>
          <p class="ff-E-M fs-12 txt-grey mr-0">Humble Cow</p>
        </div>
        <div>
          <p class="ff-E-M fs-12 mr-0 txt-purple">Category: Milk</p>
        </div>
      </ion-col>
      <ion-col class="mr-t-15 productCard" size="12">
        <div class="productDiv paddingproduct">
          <ion-row>
            <ion-col size="6" class="d-flex-cen">
              <p class="ff-E-M fs-12 mr-0">{{this.paramsData.productQuantity}}ml | ₹ {{this.paramsData.productPrice | number : '1.2-2'}}</p>
              <!-- <ion-select class="ff-E-R fs-11 txt-black selectbox" placeholder="500ml | ₹ 48.50">
                  <ion-select-option>500ml | ₹ 48.50</ion-select-option>
                  <ion-select-option>500ml | ₹ 48.50</ion-select-option>
                  <ion-select-option>500ml | ₹ 48.50</ion-select-option>
                </ion-select> -->
            </ion-col>
            <ion-col size="4" offset="1">
              <ion-buttons class="addsubbutton">
                <ion-button
                  (click)="removeone(this.count)"
                  class="d-flex-j-sb-a-end"
                >
                  <ion-icon name="remove-outline"></ion-icon>
                </ion-button>
                <ion-label id="addREmove" class="mr-l-15 mr-r-15 ff-E-M fs-14"
                  >{{this.count}}</ion-label
                >
                <ion-button
                  (click)="addone(this.count)"
                  class="d-flex-j-sb-a-end"
                >
                  <ion-icon name="add"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </div>
        <!-- <div class="productDiv paddingproduct txt-center">
          <p class="ff-E-R fs-20 mr-0">₹ {{item.sell_price*this.count | number : '1.2-2'}}</p>
          <p class="ff-E-M fs-10 mr-0 mr-t-5 txt-grey">
            Total Amount for the selected Quantity.
          </p>
        </div> -->
        <div>
          <ion-row class="d-flex-cen">
            <ion-col class="paddingproduct bottomDiv" size="10">
              <ion-select
                interface="popover"
                [(ngModel)]="orderType"
                (ngModelChange)="selectOptions(orderType)"
                class="ff-E-R fs-11 txt-black selectbox"
              >
                <ion-select-option
                  value="{{selected}}"
                  *ngFor="let selected of this.orderTypearray"
                  >{{selected}}</ion-select-option
                >
                <!-- <ion-select-option>Subscribe</ion-select-option> -->
              </ion-select>

              <!-- </ion-col> -->
              <!-- <ion-col class="itemproperty d-flex-cen flex-col"> -->
              <div
                *ngIf="this.orderType ==='One Time Purchase'"
                class="datetimeContainer d-flex-sb"
              >
                <ion-datetime
                  class="ff-E-R fs-14 d-flex-sb"
                  [(ngModel)]="delivery_date"
                  placeholder="Select Date"
                  display-timezone="utc"
                ></ion-datetime>
                <ion-icon name="calendar-clear"></ion-icon>
              </div>

              <div *ngIf="this.orderType ==='Subscription'" class="wd-100">
                <div class="datetimeContainer d-flex-sb">
                  <ion-datetime
                    class="ff-E-R fs-14 d-flex-sb"
                    [(ngModel)]="start_date"
                    placeholder="Select Start Date"
                    display-timezone="utc"
                  ></ion-datetime>
                  <ion-icon name="calendar-clear"></ion-icon>
                </div>
                <div class="datetimeContainer d-flex-sb">
                  <ion-datetime
                    class="ff-E-R fs-14 d-flex-sb"
                    [(ngModel)]="end_date"
                    placeholder="Select End Date"
                    display-timezone="utc"
                  ></ion-datetime>
                  <ion-icon name="calendar-clear"></ion-icon>
                </div>
                <p class="ff-E-M fs-16 wd-100 txt-center txt-grey">Week Days</p>
                <div class="checkBox-container d-flex">
                  <ion-item
                    lines="none"
                    *ngFor="let day of daysCheckBox; let i = index"
                    class="checkbox-block d-flex mr-b-10 ion-no-padding"
                  >
                    <ion-label class="fs-16 txt-lightBrown txt-center ff-E-M"
                      >{{day.slot}}</ion-label
                    >
                    <ion-checkbox
                      (ionChange)="addCheckBox(i,day)"
                      [(ngModel)]="day.checked"
                      class="checkboxs"
                    ></ion-checkbox>
                  </ion-item>
                </div>
              </div>
              <div>
                <p class="ff-E-M fs-16 wd-100 txt-center txt-grey">Delivery Shift</p>
                <ion-radio-group value="Morning" [(ngModel)]="this.delivery_shift" color="danger" class="checkBox-container d-flex">
                  <ion-item class="checkbox-slot" lines="none">
                    <ion-label class="ff-E-M fs-14 mr-l-20 txt-linkcolor">Morning</ion-label>
                    <ion-radio color="danger" value="m"></ion-radio>
                  </ion-item>
              
                  <ion-item class="checkbox-slot" lines="none"> 
                    <ion-label class="ff-E-M fs-14 mr-l-20 txt-linkcolor">Evening</ion-label>
                    <ion-radio color="danger" value="e"></ion-radio>
                  </ion-item>
              
                  <ion-item *ngIf="this.orderType ==='Subscription'" class="checkbox-slot" lines="none">
                    <ion-label class="ff-E-M fs-14 mr-l-20 txt-linkcolor">Both</ion-label>
                    <ion-radio color="danger" value="b"></ion-radio>
                  </ion-item>
                </ion-radio-group>
                         
          </div>
            
              <ion-buttons class="mr-t-25 d-flex-cen wd-100">
                <!-- <ion-button class="borderBTn Btn ff-E-M fs-10">View Details</ion-button> -->
                <ion-button
                  class="fillBTn Btn ff-E-R fs-12"
                  (click)="addToCart()"
                  >Add To Cart</ion-button
                >
              </ion-buttons>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
