<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-page/order"></ion-back-button>
    </ion-buttons>
    <ion-title>Subscription Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirTutorial()">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="this.orderDetail !== undefined">
  <div class="toggleDiv" id="tutorial" hidden="true">
    <ion-buttons class="flex-col">
      <ion-button class="ff-E-M fs-12" (click)="gotodayWiseSubscription()"
        >View Day-Wise Status</ion-button
      >
      <div class="line"></div>
      <ion-button class="ff-E-M fs-12">Stop Subscription</ion-button>
      <div class="line"></div>
      <ion-button class="ff-E-M fs-12">Get Help</ion-button>
      <div class="line"></div>
    </ion-buttons>
  </div>
  <ion-grid class="ion-padding">
    <ion-row class="ion-padding">
      <ion-col class="progressBoxContainer ion-no-padding" size="12">
        <div class="progressWrapper d-flex-sb flex-col">
          <p class="ff-E-M mr-0 fs-10 txt-pinkgrey">Subscription Status</p>
          <round-progress
            [current]="current"
            [max]="max"
            [color]="'#BD7299'"
            [background]="'#FFFFFF'"
            [radius]="125"
            [stroke]="15"
            [rounded]="true"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="2"
          ></round-progress>
          <div class="progressinner txt-center">
            <p class="ff-E-R mr-0 fs-20">05</p>
            <p class="ff-E-M mr-0 fs-10">Days Remaining</p>
            <p class="ff-E-R mr-0 fs-20 mr-t-15">17 Jan 2020</p>
            <p class="ff-E-M mr-0 fs-10">Next Delivery</p>
          </div>
          <div class="progressbottom d-flex-sb">
            <div class="progressLeft txt-left">
              <p class="ff-E-R fs-18 mr-0">₹ 157.00</p>
              <p class="ff-E-M fs-10 mr-0">
                Amount Per Day during Subscription
              </p>
            </div>
            <div class="progressRight txt-right">
              <p class="ff-E-R fs-18 mr-0">₹ {{this.orderDetail.amount}}</p>
              <p class="ff-E-M fs-10 mr-0">Total Amount Paid till date</p>
            </div>
          </div>
        </div>
      </ion-col>
      <!-- <ion-col>
        <p class="ff-E-M  fs-12 txt-linkcolor">* Following Quantity(s) are for per-day of delivery.</p>
        <div  lines="none" class="packetContainer d-flex mr-t-15">  
          <ion-thumbnail class="mr-r-15">
            <ion-img src="../../../assets/milkpacket.png"></ion-img>
          </ion-thumbnail>
          <ion-label class="widthofLabel"><p class="ff-E-M fs-12 txt-black mr-0">{{this.orderDetail.name}}</p> <p class="fs-11 txt-grey mr-0">Humble Cow</p><p class="ff-E-R fs-12 txt-black mr-t-5">500ml (₹ 48.50) x 02</p></ion-label>
          <ion-label class="ff-E-SB fs-12 txt-v-cen txt-lightBrown txt-right">
            ₹ 97.00
          </ion-label>
        </div>
        <div  lines="none" class="packetContainer d-flex mr-t-15">  
          <ion-thumbnail class="mr-r-15">
            <ion-img src="../../../assets/milkpacket.png"></ion-img>
          </ion-thumbnail>
          <ion-label class="widthofLabel"><p class="ff-E-M fs-12 txt-black mr-0">Skimmed Milk</p> <p class="fs-11 txt-grey mr-0">Humble Cow</p><p class="ff-E-R fs-12 txt-black mr-t-5">500ml (₹ 48.50) x 02</p></ion-label>
          <ion-label class="ff-E-SB fs-12 txt-v-cen txt-lightBrown txt-right">
            ₹ 97.00
          </ion-label>
        </div>
      </ion-col> -->
      <ion-col size="10" class="txt-left mr-t-10">
        <p class="ff-E-R mr-0 mr-b-5 fs-12">Subscription Period</p>
        <p class="ff-E-M fs-14 mr-0 mr-b-15">
          {{this.orderDetail.start_date}} To {{this.orderDetail.start_date}}
        </p>
        <!-- <p class="ff-E-R mr-0 mr-b-5 fs-12">Subscription Nature</p>
        <p class="ff-E-M fs-14 mr-0 mr-b-15">
          Selected Day Only | 10 days Monday, Wednesday & Friday
        </p> -->
        <p class="ff-E-R mr-0 mr-b-5 fs-12">Time-Slot for Delivery</p>
        <p
          *ngIf="this.orderDetail.delivery_slot === 'm'"
          class="ff-E-M fs-14 mr-0 mr-b-15"
        >
          Morning Slot | 09:00 AM - 12:00 PM
        </p>
        <p
          *ngIf="this.orderDetail.delivery_slot === 'e'"
          class="ff-E-M fs-14 mr-0 mr-b-15"
        >
          Evening Slot | 04:00 PM - 09:00 PM
        </p>
        <p
          *ngIf="this.orderDetail.delivery_slot === 'b'"
          class="ff-E-M fs-14 mr-0 mr-b-15"
        >
          Morning & Evening Slot | 09:00 AM - 09:00 PM
        </p>
        <p class="ff-E-R mr-0 mr-b-5 fs-12">Name</p>
        <p class="ff-E-M fs-14 mr-0 mr-b-15">
          {{this.orderDetail.order.billing_address.name}}
        </p>
        <p class="ff-E-R mr-0 mr-b-5 fs-12">Mobile Number</p>
        <p class="ff-E-M fs-14 mr-0 mr-b-15">
          {{this.orderDetail.order.billing_address.mobile}}
        </p>
        <p class="ff-E-R mr-0 mr-b-5 fs-12">Alternate Mobile Number</p>
        <p class="ff-E-M fs-14 mr-0 mr-b-15">
          {{this.orderDetail.order.billing_address.alternative_mobile}}
        </p>
        <p class="ff-E-R mr-0 mr-b-5 fs-12">Address</p>
        <p class="ff-E-M fs-14 mr-0 mr-b-15">
          {{this.orderDetail.order.billing_address.house_no}}
          {{this.orderDetail.order.billing_address.floor}} ,
          {{this.orderDetail.order.billing_address.address_line_one}} ,
          {{this.orderDetail.order.billing_address.address_line_two}} ,
          {{this.orderDetail.order.billing_address.postal_code}}
          <!-- 3rd Floor, Galaxy Apartment, Officer Colony, Near Sports Complex,
          Mumbai, Maharashtra - 112301 -->
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
