<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-page/home/search"></ion-back-button>
    </ion-buttons>
    <ion-title>Filters</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clearFilters()"> 
        <ion-label style="text-transform: initial;" class="fs-12 ff-E-M txt-purple mr-l-10">Clear All</ion-label>
        <ion-icon class="txt-purple" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="ion-padding">
  <ion-row class="ion-padding">
    <ion-col (click)="openDropDown(this.category,'category')" size="12" class="d-flex-sb">
      <div class="d-flex-a-cen">
        <div class="dots mr-r-15"></div>
        <p class="fs-14 mr-0 ff-E-M">Select Category</p>
      </div>
      <div>
        <ion-icon name="arrow-down"></ion-icon>
      </div>
      </ion-col>
    <ion-col *ngIf="this.category" id="category" size="12">
        <ion-item *ngFor="let item of  this.daysCheckBox; let i = index" class="categoryItem" lines="none">
          <ion-checkbox (ionChange)="addCheckBox(i,item)" [(ngModel)]="item.checked" color="danger" class="mr-0 mr-r-10"></ion-checkbox>
          <ion-label class="fs-15 ff-E-M">{{item.category}}</ion-label>
        </ion-item>
    </ion-col>  
  </ion-row>
  <!-- <ion-row class="ion-padding">
    <ion-col (click)="openDropDown(this.subCategory,'subCategory')" size="12" class="d-flex-sb">
      <div class="d-flex-a-cen">
        <div class="dots mr-r-15"></div>
        <p class="fs-14 mr-0 ff-E-M">Select Sub Category</p>
      </div>
      <div>
        <ion-icon name="arrow-down"></ion-icon>
      </div>
      </ion-col>
    <ion-col *ngIf="this.subCategory" id="subCategory" size="12">
        <ion-item class="categoryItem" lines="none">
          <ion-checkbox color="danger" class="mr-0 mr-r-10"></ion-checkbox>
          <ion-label class="fs-15 ff-E-M">Milk</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox color="danger" class="mr-0 mr-r-10"></ion-checkbox>
          <ion-label class="fs-15 ff-E-M">Curd</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox color="danger" class="mr-0 mr-r-10"></ion-checkbox>
          <ion-label class="fs-15 ff-E-M">Cheese</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox color="danger" class="mr-0 mr-r-10"></ion-checkbox>
          <ion-label class="fs-15 ff-E-M">Butter</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox color="danger" class="mr-0 mr-r-10"></ion-checkbox>
          <ion-label class="fs-15 ff-E-M">Other</ion-label>
        </ion-item>
    </ion-col>
  </ion-row> -->
  <!-- <ion-row class="ion-padding">
    <ion-col (click)="openDropDown(this.selectType ,'selectType')" size="12" class="d-flex-sb">
      <div class="d-flex-a-cen">
        <div class="dots mr-r-15"></div>
        <p class="fs-14 mr-0 ff-E-M">Select Type</p>
      </div>
      <div>
        <ion-icon name="arrow-down"></ion-icon>
      </div>
      </ion-col>
    <ion-col *ngIf="this.selectType" id="selectType" size="12">
        <ion-item class="categoryItem" lines="none">
          <ion-checkbox color="danger" class="mr-0 mr-r-10"></ion-checkbox>
          <ion-label class="fs-15 ff-E-M">Milk</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox color="danger" class="mr-0 mr-r-10"></ion-checkbox>
          <ion-label class="fs-15 ff-E-M">Curd</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox color="danger" class="mr-0 mr-r-10"></ion-checkbox>
          <ion-label class="fs-15 ff-E-M">Cheese</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox color="danger" class="mr-0 mr-r-10"></ion-checkbox>
          <ion-label class="fs-15 ff-E-M">Butter</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox color="danger" class="mr-0 mr-r-10"></ion-checkbox>
          <ion-label class="fs-15 ff-E-M">Other</ion-label>
        </ion-item>
    </ion-col>
  </ion-row> -->
  <ion-row class="ion-padding">
    <ion-col (click)="openDropDown(this.range ,'range')" size="12" class="d-flex-sb">
      <div class="d-flex-a-cen">
        <div class="dots mr-r-15"></div>
        <p class="fs-14 mr-0 ff-E-M">Select Range</p>
      </div>
      <div>
        <ion-icon name="arrow-down"></ion-icon>
      </div>
      </ion-col>
    <ion-col *ngIf="this.range"  size="12">
      <ion-item lines="none">
        <ion-range  dualKnobs="true" min="10"  max="100" [(ngModel)]="this.rangeValues">
          <!-- <ion-label slot="start"class="ff-E-M fs-14 txt-linkcolor txt-center" >₹{{this.rangeValues.lower}} </ion-label>
          <ion-label slot="end" class="ff-E-M fs-14 txt-linkcolor txt-center">₹{{this.rangeValues.upper}}<br></ion-label> -->
        </ion-range>
      </ion-item>
      <ion-item  lines="none">
        <ion-label class="txt-left"><p class="fs-14 ff-E-SB">₹ {{this.rangeValues.lower}}</p><p class="fs-12 ff-E-M">Starting Price</p></ion-label>
        <ion-label class="txt-right"><p class="fs-14 ff-E-SB">₹ {{this.rangeValues.upper}}</p><p class="fs-12 ff-E-M">Ending Price</p></ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="wd-100 buttonsBottom ion-padding">
    <ion-col size="12" class="mr-t-20">
      <ion-buttons class="d-flex-sb">
        <ion-button (click)="gobacktoSearch()" shape="round" class="borderBTn Btn ff-E-M fs-10">Cancel</ion-button>
        <ion-button (click)="applyFilter()" shape="round" class="fillBTn Btn ff-E-R fs-11">Apply</ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
