.dots{
    width: 7px;
    height: 7px;
    background-color: black;
    border-radius: 50%;
}

ion-item{
    min-height: 20px !important;
    ion-checkbox{
        --border-radius:6px !important	
    }
}



ion-range{
    --bar-height:8px;
    --knob-background:white;		
    --knob-border-radius:4px;
    --knob-border: 1px solid #F0A8C0;
    --bar-background-active:var(--color-light-gradient-93);
    --bar-background:#F5F3F2;
    --knob-box-shadow: 0px 0px 0px 1px #F0A8C0;
		
}

ion-button{
    --padding-bottom:10px;
    --padding-top:10px;
    --padding-start:50px;
    --padding-end:50px;
}

.buttonsBottom{
    position: relative !important;
    bottom: 0px !important;
}

// ion-item {
//     ion-label {
//       flex: 0 0 200px;
//       width: 200px;
//     }
// }