
.inputForm{
    padding: 20px 30px 25px 30px;
    width: 100%;
    height: 317px;
    border-radius: 20px;
    background-color: white;   
}

.Forminput{
    border-radius: 20px;
    width: 100%;
    height: 34px;
    border: none;
    background-color: #F6F6F6;
    padding:5px 20px 5px 20px ;
}


.wd-47{
    width: 47% !important;
}

ion-button{
    --padding-bottom:10px;
    --padding-top:10px;
    width: 114px !important;
}
