
<ion-grid>
  <ion-row>
    <ion-col>
      <div class="inputForm d-flex-sb flex-col">
        <p class="ff-E-M fs-14  mr-0 txt-linkcolor">Add a Location</p>
        <div class="wd-100 d-flex-sb">
          <input class="wd-47 ff-E-M fs-12 Forminput" placeholder="H. No.">
          <input class="wd-47 ff-E-M fs-12 Forminput" placeholder="Floor">
        </div>
        <input class="ff-E-M fs-12 Forminput" placeholder="Address Line 1">
        <input class="ff-E-M fs-12 Forminput" placeholder="Address Line 2">
        <input class="ff-E-M fs-12 Forminput" placeholder="PIN Code">
        <ion-buttons class="d-flex-sb">
          <ion-button class="borderBTn Btn ff-E-M fs-10">Done</ion-button>
          <ion-button class="fillBTn Btn ff-E-R fs-11" (click)="openMyCart()">Add</ion-button>
        </ion-buttons>
      </div>
    </ion-col>
    
    </ion-row>
    </ion-grid>