.discount{
    width: 38px;
    height: 38px;
    background-position: center;
    background-size: cover;
    background-image: url(../../../assets/thumbGreen.svg);
}
ion-button{
    --padding-bottom:13px !important; 
    --padding-top:13px !important; 
    --padding-start:20px;
    --padding-end:20px;
}

.paddingBtn{
    --padding-start:40px;
    --padding-end:40px;
}
.colpadding{
    padding: 5px 32px !important;
}

.padding{
    width: 80%;
}
.borderBtm{
    border-bottom: 1px solid #F1EFEF;
    border-top: 1px solid #F1EFEF;
}

ion-thumbnail{
    margin-left: 5px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    padding: 7px;
    background-color: #F6F6F6;
}