<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="d-flex-cen" size="12">
        <p class="ff-E-M fs-14 mr-0 mr-t-25  txt-linkcolor">Added to Cart</p>
      </ion-col>
      <!-- <ion-col class="d-flex-cen">
        <div class="discount d-flex-cen flex-col">
          <ion-label class="ff-E-M fs-36 txt-black">50<span class="fs-14">%</span></ion-label>
          <p class="ff-E-M fs-12 txt-purple mr-0">Off</p>
        </div>
      </ion-col> -->
      <ion-col class="ion-padding d-flex-sb flex-col txt-center" size="10" offset="1">
        <!-- <p class="ff-E-SB fs-12 txt-black mr-0">On all Cheese Products</p> -->
        <p class="ff-E-M fs-10 txt-black  mr-0">The following Subscription has been added to your cart.</p>
        <!-- <p class="ff-E-M txt-center mr-t-15 fs-10 txt-grey mr-0">It is scheduled to be delivered for 10 days between 09:00 AM - 12:00 PM everyday.</p> -->
      </ion-col >
      <ion-col class="borderBtm d-flex-cen flex-col mr-b-5" size="12">
        <div class="wd-100  txt-center">
          <ion-item lines="none">
            <!-- <ion-icon class="mr-b-20 txt-black fs-14" name="close"></ion-icon> -->
            <ion-thumbnail class="mr-r-15 mr-b-20">
              <ion-img src="../../../assets/milkpacket.png"></ion-img>
            </ion-thumbnail>
            <ion-label class="mr-b-20"
              ><p class="ff-E-M fs-12 txt-black mr-0">Bill Amount: ₹97.00</p>
              <p class="ff-E-M fs-10 txt-grey">Humble Cow</p>
              <p class="ff-E-M fs-12 txt-black mr-t-10 mr-0">
                500ml | 10 Days | <span class="txt-linkcolor"> ₹ 970.50 </span>
              </p></ion-label
            >
            <!-- <ion-label class="txt-right mr-b-20">
              <p class="ff-E-M fs-12 txt-lightBrown">₹ 160.00</p>
              <ion-buttons class="addsubbutton mr-t-20">
                <ion-button class="d-flex-j-sb-a-end">
                  <ion-icon name="remove-outline"></ion-icon>
                </ion-button>
                <p id="addREmove" class="mr-l-15 mr-r-15 ff-E-M fs-14">02</p>
                <ion-button class="d-flex-j-sb-a-end">
                  <ion-icon name="add"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-label> -->
          </ion-item>
          <!-- <p class="ff-E-M fs-12  txt-black mr-p mr-0">Subsription Number</p> -->
          <!-- <p class="ff-E-SB txt-center  fs-14 txt-black mr-0">#12345SBS67890</p> -->
        </div>
      </ion-col>
      <ion-col class="ion-padding">
        <ion-buttons class="d-flex-sb">
          <ion-button shape="round" class="mr-b-5 borderBTn Btn ff-E-R fs-10">Continue Shopping</ion-button>
          <ion-button shape="round" (click)="gotomyCart()" class="mr-b-5 paddingBtn ion-activatable ripple-parent fillBTn Btn ff-E-M fs-10">Go To Cart</ion-button>
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>