<ion-header>

  <!-- <ion-navbar color="primary">
    <ion-title>Search Place</ion-title>
    <ion-buttons end>
    <button ion-button icon-only navPop> <ion-icon name="md-close-circle"></ion-icon> </button>
    </ion-buttons>
  </ion-navbar> -->
  <ion-toolbar color="white">
    <!-- <ion-row>
      <ion-col col-8>

      </ion-col>
    </ion-row> -->
    <ion-searchbar placeholder="location search" (ionInput)="onLocationSearchChange($event)"></ion-searchbar>

  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let data of locationData" (click)="onLocation(data)">
      <ion-icon name="locate-outline" item-left></ion-icon>
      
      <ion-label class="ff-E-M fs-14 mr-l-10"> {{data.description}}{{data.structured_formatting.secondary_text}} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

