.discount{
    width: 84px;
    height: 84px;
    background-position: center;
    background-size: cover;
    background-image: url(../../../assets/discount.svg);
}
ion-button{
    --padding-bottom:13px;
    --padding-top:13px;
    --padding-start:30px;
    --padding-end:30px;
}
.colpadding{
    padding: 5px 32px !important;
}