<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="d-flex-cen" size="12">
        <p class="ff-E-R fs-14 mr-0 mr-t-10  txt-linkcolor">Offer Details</p>
      </ion-col>
      <ion-col class="d-flex-cen">
        <div class="discount d-flex-cen flex-col">
          <ion-label class="ff-E-M fs-36 txt-black">50<span class="fs-14">%</span></ion-label>
          <p class="ff-E-M fs-12 txt-purple mr-0">Off</p>
        </div>
      </ion-col>
      <ion-col class="ion-padding d-flex-sb flex-col"size="10" offset="1">
        <p class="ff-E-SB fs-12 txt-black mr-0">On all Cheese Products</p>
        <p class="ff-E-M fs-10 txt-black mr-p mr-0">Offer Period: 23 Jan - 27 Jan 2020</p>
        <p class="ff-E-M txt-center mr-t-15 fs-10 txt-grey mr-0">* Valid on purchase of only Eligible products worth ₹ 99.00 or more.</p>
      </ion-col>
      <ion-col class="colpadding">
        <ion-buttons class="d-flex-sb wd-100">
          <ion-button class="ion-activatable ripple-parent borderBTn Btn ff-E-M fs-10">Done</ion-button>
          <ion-button class="fillBTn Btn ff-E-R fs-10">View all Eligible</ion-button>
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>