.selectbox{
    padding: 5px 10px 5px 10px;
    // padding-top: 5px;
    // padding-bottom: 5px;
    border-radius: 20px;
    background-color:#F6F6F6;
    --placeholder-opacity:.2;
    --placeholder-color:black;
}

ion-thumbnail{
    width: 46px;
    height: 46px;
    border-radius: 10px;
    padding: 7px;
    background-color: #F6F6F6;
}

ion-item ion-icon{
    padding: 5px;
    width: 15px;
    height: 15px;
    color: white;
    border-radius: 50%;
    background:var(--color-gradient-135) ;

}


