<ion-header>
  <ion-toolbar>
    <ion-title class="ff-E-M">Orders</ion-title>
  </ion-toolbar>
  <ion-segment color="danger" value="subscription" (ionChange)="segmentChanged(category)" [(ngModel)]="category" >
    <ion-segment-button  value="subscription">
    <ion-label class="ff-E-SB fs-12 ">Subscription-Based <br> Orders</ion-label>
    </ion-segment-button>
    <ion-segment-button  value="onetime">
      <ion-label class="ff-E-SB fs-12">One-Time Purchase <br> Orders</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content  *ngIf="!this.checkLogin()">
  <ion-grid style="height: 100%;" class="d-flex-cen">
    <ion-row class="d-flex-cen"  >
      <ion-col class="d-flex-cen">
          <ion-img class="logowhennotlogin" src="../../../assets/humblelogo.png"></ion-img>
      </ion-col>
      <ion-col size="12" class="d-flex-cen">
          <p class="ff-E-M fs-14 txt-linkcolor">Yo need To Login First</p>
      </ion-col>
      <ion-col class="d-flex-cen" size="12">
        <ion-buttons>
          <ion-button (click)="gotoLogin()" class="Btn fillBTn loginBtn">
            Login
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content *ngIf="this.checkLogin()" >  
<div [ngSwitch]="category" >
  <ion-list *ngSwitchCase="'subscription'">
    <ion-grid>
      <ion-row>
        
        <ion-col size="4" offset="8">
          <!-- <ion-label>place</ion-label> -->
          <ion-select interface="popover" [(ngModel)]="Subscription" (ngModelChange)="selectOptions(category,Subscription)"   class=" mr-t-15 ff-E-SB fs-11 txt-black selectbox">
            <ion-select-option  value={{selected}} *ngFor="let selected of this.typeofSubscription">{{selected}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col class="ion-padding" size="12" *ngIf="this.orderData.length === 0">
          <p class="ff-E-M fs-14 txt-linkcolor txt-center">No Orders Found</p>
        </ion-col>
        <ion-col>
          <ion-item *ngFor="let item of this.orderData"  (click)="gotoSubscriptionDetails(item.id)">
            <ion-thumbnail class="mr-r-15">
              <ion-img src="{{this.imgUrl}}{{item.products.resource_path}}"></ion-img>
            </ion-thumbnail>
            <ion-label><p class="ff-E-M fs-12 txt-black mr-0">{{item.products.name}}</p> <p class="ff-E-M fs-10 txt-grey">{{item.start_date}} | {{item.end_date}} </p><p class="ff-E-M fs-10">₹{{item.amount}}</p></ion-label>
            <ion-label class="txt-right">
              <ion-icon  name="arrow-forward"></ion-icon>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>
  <ion-list *ngSwitchCase ="'onetime'">
    <ion-grid>
      <ion-row>
        <ion-col size="4" offset="8">
          <ion-select interface="popover" [(ngModel)]="oneTime" (ngModelChange)="selectOptions(category,oneTime)" class=" mr-t-15 ff-E-SB fs-11 txt-black selectbox" placeholder="On-Going">
            <ion-select-option  value={{selected}} *ngFor="let selected of this.typeofSubscription">{{selected}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col class="ion-padding" size="12" *ngIf="this.orderData.length === 0">
          <p class="ff-E-M fs-14 txt-linkcolor txt-center">No Orders Found</p>
        </ion-col>
        <ion-col>
          <ion-item *ngFor="let item of this.orderData" (click)="openOrderDets(item.id)">
            <ion-thumbnail class="mr-r-15">
              <ion-img src="{{this.imgUrl}}{{item.products.resource_path}}"></ion-img>
            </ion-thumbnail>
            <ion-label><p class="ff-E-M fs-12 txt-black mr-0">{{item.products.name}}</p> <p class="ff-E-M fs-10 txt-grey">{{item.delivery_date}} | ₹ {{item.amount}}</p></ion-label>
            <ion-label class="txt-right">
              <ion-icon   name="arrow-forward"></ion-icon>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</div>

</ion-content>
