<ion-content>
    
<ion-tabs class="tabsBgWhite">
  <div  *ngIf="this.cartdatacheck()" class="CartDiv">
    <div class="cardInner">
      <ion-item lines="none">
        <ion-thumbnail class="mr-r-15">
          <ion-img src="../../../assets/shopping-cart.png"></ion-img>
        </ion-thumbnail>
        <ion-label *ngIf="this.cartdata !== undefined">
          <p class="ff-E-M fs-12 txt-black mr-0">{{this.cartdata.total_item}} Products</p>
          <p class="ff-E-M fs-10 txt-grey">₹{{this.cartdata.total_amount | number : '1.2-2'}}</p>
        </ion-label>
        <ion-label class="txt-right">
          <ion-buttons>
            <ion-button (click)="gotoMyCart()">
              <ion-label class="ff-E-R fs-12 mr-r-5 txt-transform">Go to Cart</ion-label>
              <ion-icon  name="arrow-forward"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-label>
      </ion-item>
    </div>
  </div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <div class="homeBtn"></div>
      <ion-label class="ff-E-SB fs-10 txt-black mr-t-5">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="subscription">
      <div class="subscriptionBtn"></div>
      <ion-label class="ff-E-SB fs-10 txt-black mr-t-5">Subscription</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="order">
      <div class="orderBtn"></div>
      <ion-label class="ff-E-SB fs-10 txt-black mr-t-5">Order</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="myaccount">
      <div class="myaccountBtn"></div>
      <ion-label class="ff-E-SB fs-10 txt-black mr-t-5">My Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
