
ion-tabs ion-tab-button div{
    width: 40%;
    height: 45%;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    outline: none;
}
.homeBtn{
    background-image: url(../../assets/home.svg);

}
.subscriptionBtn{
    background-image: url(../../assets/subscription.svg);
}
.orderBtn{
    background-image: url(../../assets/order.svg);
}
.myaccountBtn{
    background-image: url(../../assets/myaccount.svg);
}

.tab-selected .homeBtn{
    background-image: url(../../assets/homefill.svg) !important;
}
.tab-selected .subscriptionBtn{
    background-image: url(../../assets/subscriptionfill.svg) !important;
}
.tab-selected .orderBtn{
    background-image: url(../../assets/orderfill.svg) !important;
}
.tab-selected .myaccountBtn{
    background-image: url(../../assets/myaccountfill.svg) !important;
}
