.headerCornerImg{
    width: 100%;
    // height: 100%;
    background-image: url(../../assets/essentialscorner.svg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right top;
}


ion-slides{
    height: 270px;
    --bullet-background:grey;
    --bullet-background-active:#3B3B3B;
}

.selectbox{
    padding: 5px 10px 5px 10px;
    // padding-top: 5px;
    // padding-bottom: 5px;
    border-radius: 20px;
    background-color:white;
    --placeholder-opacity:.2;
    --placeholder-color:black;
}

.productCard{
    border-radius:20px;
    background-color:#F5F3F2;
}
.productCard ion-item{
    --background:transparent;
}
.productDiv{
    width: 100%;
    border-bottom: 2px solid #E3E3E3;
}

.paddingproduct{
    padding: 25px 5px;
}

ion-select{
    --placeholder-opacity: 1 !important;
    color:black;
}

.bottomDiv ion-button{
    --padding-bottom:10px;
    --padding-top:10px;
    --padding-start:20px;
    --padding-end:20px;
}


.addsubbutton ion-button{
    --padding-bottom:4px;
    --padding-top:4px;
    --padding-start:4px;
    --padding-end:4px;
    width: 24px;
    height: 24px;
    --border-radius: 50%;
    --background:black;
}

.addsubbutton ion-button ion-icon{
    color: white;
    font-size: 15px;
}


.datetimeContainer{
    padding: 0px 10px;
    width: 100%;
    margin: 15px 0px 15px 0px;
    border-radius: 20px;
    background-color: white;
}

ion-datetime{
    width: 100% !important;
    --padding-bottom:0px;
    --padding-top:0px;
    --padding-end:10px;
    --padding-start:10px;
    height: 28px;
    border-radius: 20px;
    background-color: white;
}
.checkBox-container{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    // height: 25px;
    // background-color: yellow;
    
    .checkbox-block{
        // background-color: blue;
        width: 25% !important;
        .checkboxs{
            width: 10px;
            height: 10px;
            --border-radius	: 50%;
        }
        ion-label{
            width: 100%;
            height: 50%;
        }
    }
}

.datetimeContainer ion-icon{
    width: 10px;
    height: 15px;
}