<ion-header class="headerCornerImg">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="main-page/subscription"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Subscription Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row class="ion-padding">
      <ion-col>
        <ion-slides pager="true">
          <ion-slide>
            <ion-img src="{{this.imgUrl}}{{item.products.resource_path}}"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="{{this.imgUrl}}{{item.products.resource_path}}"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="{{this.imgUrl}}{{item.products.resource_path}}"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="{{this.imgUrl}}{{item.products.resource_path}}"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="{{this.imgUrl}}{{item.products.resource_path}}"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="{{this.imgUrl}}{{item.products.resource_path}}"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="12" class="d-flex-j-sb-a-end">
        <div>
          <p class="ff-E-M fs-12 mr-0">{{item.products.name}}</p>
          <p class="ff-E-M fs-12 txt-grey mr-0">Humble Cow</p>
        </div>
        <div>
          <p class="ff-E-M fs-12 mr-0 txt-purple">Category: Milk</p>
        </div>
      </ion-col>
      <ion-col class="mr-t-15 productCard" size="12">
        <div class="productDiv paddingproduct">
          <ion-row>
            <ion-col size="6" class="d-flex-cen">
              <p class="ff-E-M fs-12 mr-0">500ml | ₹ 48.50</p>
              <!-- <ion-select class="ff-E-R fs-11 txt-black selectbox" placeholder="500ml | ₹ 48.50">
                  <ion-select-option>500ml | ₹ 48.50</ion-select-option>
                  <ion-select-option>500ml | ₹ 48.50</ion-select-option>
                  <ion-select-option>500ml | ₹ 48.50</ion-select-option>
                </ion-select> -->
            </ion-col>
            <ion-col size="4" offset="1">
              <ion-buttons class="addsubbutton d-flex-a-cen-j-end">
                <!-- <ion-button
                  (click)="removeone(this.count)"
                  class="d-flex-j-sb-a-end"
                >
                  <ion-icon name="remove-outline"></ion-icon>
                </ion-button> -->
                <ion-label id="addREmove" class="mr-l-15 mr-r-15 ff-E-M fs-14">{{this.count}}</ion-label>
                <!-- <ion-button
                  (click)="addone(this.count)"
                  class="d-flex-j-sb-a-end"
                >
                  <ion-icon name="add"></ion-icon>
                </ion-button> -->
              </ion-buttons>
            </ion-col>
          </ion-row>
        </div>
        <div class="productDiv paddingproduct txt-center">
          <p class="ff-E-R fs-20 mr-0">₹ {{item.amount}}</p>
          <p class="ff-E-M fs-10 mr-0 mr-t-5 txt-grey">
            Total Amount for the selected Quantity.
          </p>
        </div>
        <div>
          
        </div>
      </ion-col>
      <ion-col size="12" class="mr-t-20">
        <ion-buttons class="d-flex-sb">
          <ion-button  shape="round" class="borderBTn Btn ff-E-M fs-10" (click)="cancelOrderOfDay()">Cancel Order for the day</ion-button>
          <ion-button shape="round" class="fillBTn Btn ff-E-R fs-11" (click)="openVacationModal(item.id)">Take a Vacation</ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
