<ion-header>
  <ion-toolbar>
    <ion-title class="ff-E-M">Subscription</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  *ngIf="!this.checkLogin()">
  <ion-grid style="height: 100%;" class="d-flex-cen">
    <ion-row class="d-flex-cen"  >
      <ion-col class="d-flex-cen">
        <ion-img class="logowhennotlogin" src="../../../assets/humblelogo.png"></ion-img>
    </ion-col>
      <ion-col size="12" class="d-flex-cen">
          <p class="ff-E-M fs-14 txt-linkcolor">Yo need To Login First</p>
      </ion-col>
      <ion-col class="d-flex-cen" size="12">
        <ion-buttons>
          <ion-button (click)="gotoLogin()" class="Btn fillBTn loginBtn">
            Login
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content *ngIf="this.checkLogin()">
  <!-- <ion-button ></ion-button> -->
  <ion-grid class="ion-padding">
    <ion-row class="">
      <!-- <ion-col size="6" offset="6">
        <ion-select interface="popover" class="ff-E-SB fs-11 txt-black selectbox" placeholder="2020 | December">
          <ion-select-option>500ml | ₹ 48.50</ion-select-option>
          <ion-select-option>500ml | ₹ 48.50</ion-select-option>
          <ion-select-option>500ml | ₹ 48.50</ion-select-option>
        </ion-select>
      </ion-col> -->
      <ion-col class="calenderClass" size="12">
        <ion-calendar [(ngModel)]="date"
              (change)="onChange($event)"
              [type]="type"
              [format]="'DD-MM-YYYY'">
        </ion-calendar>

        <!-- <calendar 
        [eventSource]="eventSource"
        [calendarMode]="calendars.mode"
        [currentDate]="calendars.startTime"
        step="30">       
        </calendar> -->
      </ion-col>
      <ion-col class="ion-no-padding subscribedItems txt-center" size="12">
        <div class="border-btm"> 
            <p class="ff-E-R fs-12  mr-b-20 mr-t-20 txt-pinkgrey">Your Subscription Scheduled for 12 DEC 2020</p>
          </div>
          <div class="border-btm">
          <ion-item *ngIf="this.subscriptionLength === 0" class="d-flex-cen txt-center">
            <p class="ff-E-M fs-14 txt-linkcolor txt-center wd-100">No item For Selected Date</p>
          </ion-item>
          <ion-item (click)="SubscriptionDets(item)" *ngFor="let item of this.subscriptionProduct" lines="none" class="mr-t-15">  
            <ion-thumbnail class="mr-r-15">
              <ion-img src="{{this.imgUrl}}{{item.products.resource_path}}"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <p class="ff-E-M fs-12 txt-black mr-0">{{item.products.name}}</p>
              <p class="fs-11 txt-grey mr-0">Humble Cow</p>
              <p class="ff-E-R fs-12 txt-black mr-t-5">{{item.type.product_quantity}} ml (₹ 48.50) x 02</p>
            </ion-label>
            <ion-label class="cardBottom ff-E-SB fs-12 txt-v-cen txt-lightBrown txt-right">
              <p>₹ {{item.amount}}</p>
              <ion-button>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button> 
            </ion-label>
          </ion-item>
          </div>
          <div class="border-btm">
          <!-- <ion-item lines="none" class="mr-t-15">  
            <ion-thumbnail class="mr-r-15">
              <ion-img src="../../../assets/milkpacket.png"></ion-img>
            </ion-thumbnail>
            <ion-label><p class="ff-E-M fs-12 txt-black mr-0">Skimmed Milk</p> <p class="fs-11 txt-grey mr-0">Humble Cow</p><p class="ff-E-R fs-12 txt-black mr-t-5">500ml (₹ 48.50) x 02</p></ion-label>
            <ion-label class="ff-E-SB fs-12 txt-v-cen txt-lightBrown txt-right">
              ₹ 97.00
            </ion-label>
          </ion-item> -->
          </div>
          <ion-col class="mr-t-25 ion-padding d-flex"  size="12">
            <ion-buttons class="d-flex-cen wd-100">
              <!-- <ion-button  shape="round" class="borderBTn Btn ff-E-M fs-10">Cancel Order for the day</ion-button> -->
              <!-- <ion-button shape="round"class="ion-activatable ripple-parent borderBTn Btn ff-E-M fs-10">View Details</ion-button> -->
              <ion-button (click)="gotoHomePage()" shape="round" class="fillBTn Btn ff-E-R fs-10">Add More Products</ion-button>
              <ion-ripple-effect type="bounded"></ion-ripple-effect>
            </ion-buttons>
          </ion-col>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
