.selectbox{
    padding: 5px 10px 5px 10px;
    // padding-top: 5px;
    // padding-bottom: 5px;
    border-radius: 20px;
    background-color:#F6F6F6;
    --placeholder-opacity:.2;
    --placeholder-color:black;
}               

.subscribedItems{
    background-color: #F5F3F2;
    border-radius: 20px;
    // height: 314px;
    padding: 10px 0 20px 0 !important;
}

ion-item{
    --background:#F5F3F2;
    align-items: flex-start;
}
ion-item ion-thumbnail{
    border-radius: 10px;
    padding: 10px 7px;
    background-color: white !important;
}


ion-button{
    --padding-bottom:10px;
    --padding-top:10px;
    --padding-start:15px;
    --padding-end:15px;
}

.cardBottom ion-button ion-icon{
    padding:4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#6D4053;
}

.cardBottom ion-button{
    position: absolute;
    right: 0px;
    bottom: 0px;
    --box-shadow:none;
    --background:transparent;
}
// .calenderClass{
//     // height: 400px;
// }