<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-page/home/categories"></ion-back-button>
    </ion-buttons>
    <ion-title>Sub-Categories of {{this.subCategory}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item *ngFor="let item of this.subCategories">
          <ion-thumbnail class=" d-flex-cen">
            <div class="contentNumber d-flex-cen">
              <p class="ff-E-R fs-14 txt-white">{{item.id}}</p>
            </div>
          </ion-thumbnail>
          <ion-label>
            <p class="ff-E-M fs-12 txt-black mr-0">{{item.name}}</p>
            <p class="ff-E-M fs-10 txt-grey">{{item.products_count}} Products</p>
          </ion-label>
          <ion-label (click)="gotoProduct(item)" class="txt-right">
            <ion-icon class="forwardIcon" name="arrow-forward"></ion-icon>
          </ion-label>
        </ion-item>
        <!-- <ion-item>
        <ion-thumbnail class=" d-flex-cen">
          <div class="contentNumber d-flex-cen">
            <p class="ff-E-R fs-14 txt-white">01</p>
          </div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12 txt-black mr-0">Skimmed Milk</p> <p class="ff-E-M fs-10 txt-grey">03 Products</p></ion-label>
        <ion-label class="txt-right">
          <ion-icon class="forwardIcon" name="arrow-forward"></ion-icon>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail class=" d-flex-cen">
          <div class="contentNumber d-flex-cen">
            <p class="ff-E-R fs-14 txt-white">01</p>
          </div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12 txt-black mr-0">Skimmed Milk</p> <p class="ff-E-M fs-10 txt-grey">03 Products</p></ion-label>
        <ion-label class="txt-right">
          <ion-icon class="forwardIcon" name="arrow-forward"></ion-icon>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail class=" d-flex-cen">
          <div class="contentNumber d-flex-cen">
            <p class="ff-E-R fs-14 txt-white">01</p>
          </div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12 txt-black mr-0">Skimmed Milk</p> <p class="ff-E-M fs-10 txt-grey">03 Products</p></ion-label>
        <ion-label class="txt-right">
          <ion-icon class="forwardIcon" name="arrow-forward"></ion-icon>
        </ion-label>
      </ion-item> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>