.contentNumber{
    width: 36px;
    height: 36px;
    border-radius: 10px;
    background-color: #F0A8C0;
}


ion-item .forwardIcon{
    padding: 5px;
    width: 15px;
    height: 15px;
    color: white;
    border-radius: 50%;
    background:var(--color-gradient-135) ;

}
ion-item{
    padding: 0px 10px;
}