.walletcard{
    border-radius: 20px;
    width: 100px;
    // height: 100px;
    background: linear-gradient(135deg,#EFA7BF, #BD7299 ) !important;
    transition: all 1s ease-in;
}
.hideText{
    height: 120px;
    transition: all .5s ease-in;
}

.d-flex-a-cen-j-end{
    animation-delay: 5s;
    transition: all .5s ease-in;
}
.walletScroll{
    height: 50px;
    overflow: hidden;
}
.imgdiv{
    padding: 5px 10px !important;
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/walletbg.svg);
}

.imgdiv ion-img{
    width: 30px;
    height: 26px;
}

.walletScroll .walletcard{

    border-radius: 10px;
    width: 130px;
    height: 40px;
}
.walletScroll .walletcard .flex-col{
    flex-direction: row !important;
}
.walletScroll .d-flex-a-cen-j-end{
    
    animation-delay: 5s;
    transition: all 1s ease-in;
    align-items: flex-start !important;
}

.walletScroll .walletcard .hideTxt{
    display: none !important;
}

.walletScroll .walletcard .mr-b-20{
    margin-right: 5px;
    margin-bottom: 0px !important;
}
// .searchbarcol .searchbar-search-icon.sc-ion-searchbar-ios{
//     right: 10px !important;
//     left: auto !important;
// }

.searchbarcol .searchbardiv{
    padding:0px 0px 0px 20px;
    width: 100%;
    height: 40px;
    background:#F6F6F6 !important;    
    border-radius: 20px !important;
}

.searchbarcol .searchbardiv ion-icon{
    padding: 10px !important;
    border-radius: 50% !important;
    background:linear-gradient(180deg,#955771, #6D4053) !important; 
    
}

// .searchbarcol ion-icon{
//     width: 10%;
// }
.slides{
    width: 96% !important;

}



ion-buttons .buttons{
    border: 1px solid blue;
    padding: 10px !important;
}



.daycol{
    // margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px !important;
    width: 48px !important;
    height: 70px;
    border-radius: 24px;
}


.daycol-br{
    border: 2px solid #945570;
}
.daycol-active{
    color: white !important;
    background: linear-gradient(135deg,#EFA7BF, #BD7299 ) !important;
    .txt-grey{
        color: white !important;
    }
}


.weekdaysSlider{
    margin-right: 20px;
    width: 62px !important;
}
.flex-row{
    position: relative !important;
}

.weekrow{
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    // transition: 1s all !important;
    // position: relative;
}


.weekrow::-webkit-scrollbar{
    display: none;
}




.btnNext{
    outline: none;
    padding: 15px 0px !important;
    width: 48px !important;
    height: 70px;
    border-radius: 24px;
    position: absolute;
    top: 6%;
    left: auto;
    right: 20px;
    z-index: 333;
}

.btnNext ion-icon{
    color:#BD7299;
    width: 20px;
    height: 20px;
}
.itemproperty{
    background-color: #F5F3F2 !important;
    // height: 150px;
    border-radius: 20px;
    background: url(../../../assets/cardbg.svg);
    background-position: top right;
    background-repeat: no-repeat;
}


.cardtop,.card-bottom{
    padding: 0px 5px;
}
.cardleft{
    width: 90px;
    height: 90px;
    border-radius: 20px;
    padding: 15px;
    background-color: white;
}
.cardright{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 180px;
    height: 100px;
}


.itemproperty ion-button{
    position: absolute;
    right: -20px;
    --border-radius: 24px;
    --background: #FFD4E2;
    --box-shadow:none;
    overflow: visible;
    --padding-end: 5px;
}

.itemproperty ion-button ion-icon,
.cardBottom ion-button ion-icon{
    padding:4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#6D4053;
}


.cardBottom ion-button{
position: absolute;
right: 0px;
bottom: 0px;
--box-shadow:none;
--background:transparent;
}
.categoriesContainer{
    height: 110px;
    display: flex;
    align-items: flex-end;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.categoriesCard{
    width: 120px !important;
    height: 80px;   
    border-radius: 20px;
    background:var(--color-light-gradient-180) ;
}



.categoriesCard .cardwrapper{
        background: url(../../../assets/cardcorner.svg);
        width: 120px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
        position: relative;
    }


.cardImg{
    position: absolute;
    top: -28px;
    width: 79px;
    height: 79px;
}

.categoriesViewpd{
    padding: 10px  15px !important;
}

.viewCategories p{
    width: 100%;
    white-space: normal;
    // flex-wrap: wrap;
}

.categoriesViewpd ion-icon{
    width: 20px;
    height: 20px;
    color: white;
}


.offers{
    margin-right: 15px;
    border-radius: 20px;
    width: 140px;
    height: 100px;
    background:var(--color-gradient-180);
}

.offersinner{
    width: 140px;
    height: 100%;
    background-image: url(../../../assets/offerscorner.svg);
    background-repeat: no-repeat;
    background-position:top right;
}

.categoriesContainer ion-icon{
    border-radius: 50%;
}

.categoriesicon{
    padding: 4px;
    color: #6D4053 !important;
    position: absolute;
    background-color: #FFD4E2;
    top: -5px;
    right: -10px;
    width: 10px;
    height: 10px;

}

.viewoffers .categoriesCard{
    
    width: 140px !important;
    height: 100px;
}
.viewoffers .categoriesCard .cardwrapper{
    display: flex;
    align-items: center;
    width: 140px !important;
}

.essentials{
    margin-right: 15px;
    margin-top: 50px;
    padding: 18% 15px 15px 15px;
    width: 150px;
    height: 216px;
    border-radius: 20px;
    background-color: #F5F3F2;
    position: relative;
}

.essentials ion-img{
    width: 122px;
    height: 122px;
 position: absolute;
 top: -27%;
//  left: -1%;
}
.selectbox{
    padding: 3px 10px 3px 10px;
    // padding-top: 5px;
    // padding-bottom: 5px;
    border-radius: 20px;
    background-color:white;
    --placeholder-opacity:1;
    --placeholder-color:black;
}
.essentialView{
    // margin-right: 15px;
    margin-top: 50px;
    // padding: 18% 15px 15px 15px;
    width: 150px;
    height: 216px;
    border-radius: 20px;
    background-color: #F5F3F2;
    position: relative;
}
.essentialviewMore{
    padding: 96% 10px 20px 20px;
}
.essentialsMore{
    width: 150px;
    height: 216px;
    background-image: url(../../../assets/essentialscorner.svg);
    background-position: top right;
    background-repeat: no-repeat;
}
.essentialsContainer{
    height: 310px;
    white-space: nowrap;
    overflow-x: auto;
}
.essentials ion-icon{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 4px;
    background:var(--color-gradient-180);
    color: white;
}

.essentials .iconcontainer{
    
    position: absolute;
    bottom: -8%;    
    border-radius: 50%;
    padding: 4px;
    background: #FF9FD1;
}

::-webkit-scrollbar{
    display: none;
}

.CartDiv .cardInner{
    padding: 15px 10px;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    width: 100%;
    height: 100%;
    // background-color: red;
    box-shadow: 0px -5px 6px #00000026;
}


@media only screen and (min-width:800px){
    .fs-10{
        font-size: 15px !important;
    }
    .sliderclass ion-slides {
        overflow: hidden !important;
    }
    // ion-grid{
    //     // padding: 30px 150px;
    // }
    .slides{
        width: 33% !important;
    }
    .categoriesContainer{
        height: 140px;
    }
    .itemproperty ion-icon{
        width: 20px !important;
        height: 20px !important;
    }
    .essentials{
        padding: 5% 15px 15px 15px;
    }


}

