<ion-header>
  <ion-toolbar>

    <ion-grid>
      <ion-row id="hideText" class="hideText">
        <ion-col size="6" class="d-flex-a-cen-d-col">
        <p *ngIf="this.userisAuthenticated()" class="ff-E-R fs-26 mr-0 lh-50">Hi, {{this.userDetail.first_name}}</p>
        <p *ngIf="!this.userisAuthenticated()"  class="ff-E-R fs-26 mr-0 lh-50">Hi</p>
        <p  [hidden]="footerHidden" class="ff-E-L fs-21 mr-0">Its always good to see you</p>
      </ion-col>
      <ion-col size="6" class="d-flex-j-end">
        <div class="walletcard" (click)="openWallet(this.wallet)">
          <div id="" class="imgdiv d-flex-cen flex-col">
            <ion-img
            class="mr-b-20"
            src="../../../assets/walleticon.svg"
            ></ion-img>
            <p class="fs-13 txt-center txt-lightpink mr-0">₹ {{this.walletBalance | number : '1.2-2'}}</p>
            <p class="hideTxt fs-10 txt-lightpink mr-0">Wallet Balance</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
</ion-header>
<ion-content class="" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-grid>
    <ion-row>
      <!-- <ion-col size="6" class="d-flex-a-cen-d-col">
        <p class="ff-E-B fs-26 mr-0 lh-50">Hi, Akash</p>
        <p class="ff-E-L fs-21 mr-0">Its always good to see you</p>
      </ion-col>
      <ion-col size="6" class="d-flex-a-cen-j-end">
        <div class="walletcard" (click)="openWallet()">
          <div class="imgdiv d-flex-cen flex-col">
            <ion-img
              class="mr-b-20"
              src="../../../assets/walleticon.svg"
            ></ion-img>
            <p class="fs-14 txt-lightpink mr-0">₹ 1,350.20</p>
            <p class="fs-11 txt-lightpink mr-0">Wallet Balance</p>
          </div>
        </div>
      </ion-col> -->
    </ion-row>
    <ion-row>
      <ion-col (click)="gotoSearch()" class="ion-padding d-flex-cen searchbarcol" size="12">
        <div class="searchbardiv  d-flex-sb"> 
          <ion-label class="ff-E-M fs-14 txt-grey">Search</ion-label>
          <ion-icon color="light" name="search"></ion-icon>
        </div>
        
        <!-- <ion-searchbar showCancelButton="never" (click)="gotoSearch()"></ion-searchbar> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-padding sliderclass">
        <ion-slides pager="true">
          <ion-slide class="slides mr-r-15">
            <ion-img src="../../../assets/slidecardbg.png"></ion-img>
          </ion-slide>
          <ion-slide class="slides mr-r-15">
            <ion-img src="../../../assets/slidecardbg.png"></ion-img>
          </ion-slide>
          <ion-slide class="slides mr-r-15">
            <ion-img src="../../../assets/slidecardbg.png"></ion-img>
          </ion-slide>
          <ion-slide class="slides mr-r-15">
            <ion-img src="../../../assets/slidecardbg.png"></ion-img>
          </ion-slide>
          <ion-slide class="slides">
            <ion-img src="../../../assets/slidecardbg.png"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="this.userisAuthenticated()" class="col-padding flex-row d-flex-sb mr-t-40">
      <!-- <div class="weekdayscontainer"> -->
      <ion-col size="9" class="weekrow d-flex-sb" id="outerDiv">
        <div *ngFor="let item of this.weekDays" (click)="selectData(item)" class="weekdaysSlider">
          <div id = {{item.day}} class="daycol  flex-col">
            <p class="fs-11 mr-0 txt-grey">{{item.day}}</p>
            <p class="ff-E-SB fs-16 mr-0">{{ item.start_date | date:'dd'}} </p>
          </div>
        </div>
        <!-- <div class="weekdaysSlider">
          <div class="daycol daycol-active flex-col">
            <p class="fs-11 mr-0 txt-grey">Tu</p>
            <p class="ff-E-SB fs-16 mr-0">11</p>
          </div>
        </div>
        <div class="weekdaysSlider">
          <div class="daycol flex-col">
            <p class="fs-11 mr-0 txt-grey">We</p>
            <p class="ff-E-SB fs-16 mr-0">11</p>
          </div>
        </div>
        <div class="weekdaysSlider">
          <div class="daycol flex-col">
            <p class="fs-11 mr-0 txt-grey">Th</p>
            <p class="ff-E-SB fs-16 mr-0">11</p>
          </div>
        </div>

        <div class="weekdaysSlider">
          <div class="daycol flex-col">
            <p class="fs-11 mr-0 txt-grey">Fr</p>
            <p class="ff-E-SB fs-16 mr-0">11</p>
          </div>
        </div>
        <div class="weekdaysSlider">
          <div class="daycol flex-col">
            <p class="fs-11 mr-0 txt-grey">Su</p>
            <p class="ff-E-SB fs-16 mr-0">11</p>
          </div>
        </div>
        <div class="weekdaysSlider">
          <div class="daycol flex-col">
            <p class="fs-11 mr-0 txt-grey">So</p>
            <p class="ff-E-SB fs-16 mr-0">11</p>
          </div>
        </div> -->
      </ion-col>
      <button
        type="submit"
        float-right
        ion-button
        color="primary"
        class="d-flex-cen btnNext"
        (click)="next()"
      >
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-row>
    <ion-row *ngIf="this.userisAuthenticated()" class="d-flex-cen col-padding mr-t-15">
      <ion-col size="11" class=" itemproperty">
        <p *ngIf="this.lengthofdata()" class="ff-E-M fs-14 txt-pinkgrey txt-center ion-padding" > No Orders for Selected Date</p>
        <div *ngFor="let item of this.getDataInParticularDate" class="cardtop d-flex-sb">
          <div class="cardleft">
            <ion-img src="{{this.imgUrl}}{{item.products.resource_path}}"></ion-img>
          </div>
          <div class="cardright">
            <p class="ff-E-M txt-black fs-14 mr-0 mr-b-2">{{item.products.name}}</p>
            <p class="ff-E-M txt-darkgrey fs-12 mr-0 mr-b-15">Humble Cow</p>
            <p class="ff-E-M txt-black fs-14 mr-0">{{item.type.product_quantity}}ml(₹ {{item.products.sell_price}})*{{item.quantity}}</p>
          </div>
        </div>
        <div class="card-bottom mr-t-5 d-flex-sb">
          <p class="txt-pinkgrey fs-10 mr-0">
            Subscription Scheduled for {{this.currentdate}}
          </p>
          <!-- <ion-button>
            <ion-label class="txt-brown fs-10 ff-E-SB">& 1 more</ion-label>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button> -->
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="col-padding">
        <p class="ff-E-M fs-17 txt-left txt-pinkgrey">Categories</p>
      </ion-col>
      <ion-col size="6" class="col-padding">
        <p class="ff-E-L fs-16 txt-right txt-pinkgrey" (click)="viewAllCategories()">View All</p>
      </ion-col>

      <ion-col class="col-padding-right categoriesContainer">
        <div *ngFor="let item of collection"  class="categoriesCard mr-r-15" (click)="opensubCategories(item)">
          <div class="cardwrapper">
            <ion-img class="cardImg" src="{{item.image}}"></ion-img>
            <div class="cardBottom">
              <ion-button>
                <ion-label class="txt-white fs-10 ff-E-R">{{item.name}}</ion-label>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
        <!-- <div class="categoriesCard mr-r-15">
          <div class="cardwrapper">
            <ion-img
              class="cardImg"
              src="../../../assets/milkglass.png"
            ></ion-img>
            <div class="cardBottom">
              <ion-button>
                <ion-label class="txt-white fs-10 ff-E-R">Milk</ion-label>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
        <div class="categoriesCard mr-r-15">
          <div class="cardwrapper">
            <ion-img
              class="cardImg"
              src="../../../assets/milkglass.png"
            ></ion-img>
            <div class="cardBottom">
              <ion-button>
                <ion-label class="txt-white fs-10 ff-E-R">Milk</ion-label>
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div> -->
        
        <!-- <div class="categoriesCard mr-r-15" >
          <div class="cardwrapper">
            <ion-row class="categoriesViewpd">
            <ion-col class="ion-no-padding" size="12">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-col>
            <ion-col class="ion-no-padding viewCategories" size="10" >
              <p  class="ff-E-M mr-0 fs-14 txt-brown">View All Categories</p>
            </ion-col>
          </ion-row>
          </div>
        </div> -->
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="6" class="col-padding">
        <p class="ff-E-M fs-17 txt-left txt-pinkgrey">Offers & Coupons</p>
      </ion-col>
      <ion-col size="6" class="col-padding">
        <p class="ff-E-R fs-16 txt-right txt-pinkgrey" (click)="viewOffers()">View All</p>
      </ion-col>

      <ion-col class="col-padding-right categoriesContainer">
        <div class="offers"(click)="viewOffers()">
            <div class="offersinner">
              <ion-row class="categoriesViewpd">
                <ion-col class="ion-no-padding d-flex-sb" size="12">
                  <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                  <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                </ion-col>
                <ion-col class="ion-no-padding viewCategories" size="8" >
                  <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                </ion-col>
              </ion-row>
            </div>
        </div>
        <div class="offers" (click)="openCoupensModal()">
            <div class="offersinner">
              <ion-row class="categoriesViewpd">
                <ion-col class="ion-no-padding d-flex-sb" size="12">
                  <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                  <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                </ion-col>
                <ion-col class="ion-no-padding viewCategories" size="8" >
                  <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                </ion-col>
              </ion-row>
            </div>
        </div>
        <div class="offers">
            <div class="offersinner">
              <ion-row class="categoriesViewpd">
                <ion-col class="ion-no-padding d-flex-sb" size="12">
                  <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                  <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                </ion-col>
                <ion-col class="ion-no-padding viewCategories" size="8" >
                  <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                </ion-col>
              </ion-row>
            </div>
        </div>
        <div class="offers">
            <div class="offersinner">
              <ion-row class="categoriesViewpd">
                <ion-col class="ion-no-padding d-flex-sb" size="12">
                  <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                  <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                </ion-col>
                <ion-col class="ion-no-padding viewCategories" size="8" >
                  <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                </ion-col>
              </ion-row>
            </div>
        </div>
        <div class="offers">
            <div class="offersinner">
              <ion-row class="categoriesViewpd">
                <ion-col class="ion-no-padding d-flex-sb" size="12">
                  <ion-label class="ff-E-M fs-30 txt-white">50<span class="fs-14">%</span></ion-label>
                  <ion-icon class="categoriesicon" name="arrow-forward"></ion-icon>
                </ion-col>
                <ion-col class="ion-no-padding viewCategories" size="8" >
                  <p  class="ff-E-R mr-0 mr-t-5 fs-14 txt-white">View All Categories</p>
                </ion-col>
              </ion-row>
            </div>
        </div>
        <div class="viewoffers">
          <div class="categoriesCard mr-r-15">
            <div class="cardwrapper">
              <ion-row class="categoriesViewpd">
              <ion-col class="ion-no-padding" size="12">
                <ion-icon name="arrow-forward"></ion-icon>
              </ion-col>
              <ion-col class="ion-no-padding viewCategories" size="10" >
                <p  class="ff-E-M mr-0 fs-14 txt-brown">View All Categories</p>
              </ion-col>
            </ion-row>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col size="6" class="col-padding">
        <p class="ff-E-M fs-17 txt-left txt-pinkgrey">Essentials</p>
      </ion-col>
      <ion-col size="6" class="col-padding">
        <p class="ff-E-R fs-16 txt-right txt-pinkgrey" (click)="gotoEssentials()">View All</p>
      </ion-col>
      
      <ion-col size="12" class="col-padding-right essentialsContainer d-flex-sb">
        <div class="essentials" *ngFor="let item of this.essentials">
          <ion-img src="{{item.image}}"></ion-img>
          <p class="mr-t-25 ff-E-M fs-14 txt-black mr-0">{{item.name}}</p>
          <p class="ff-E-M fs-12 txt-darkgrey mr-0">Humble Cow</p>
          <!-- <p class="ff-E-M fs-12 txt-black mr-t-5  mr-0">500ml | ₹ {{item.sell_price}}</p> -->

          <!-- <ion-select class=" mr-t-15 ff-E-R fs-11 txt-black selectbox" placeholder="500ml | ₹ 48.50">
            <ion-select-option>500ml | ₹ 48.50</ion-select-option>
            <ion-select-option>500ml | ₹ 48.50</ion-select-option>
            <ion-select-option>500ml | ₹ 48.50</ion-select-option>
          </ion-select> -->

          <ion-select interface="popover"  (ionChange)="optionchange($event)"  placeholder="Select Type" class="mr-t-25 ff-E-R fs-11 txt-black selectbox">
            <ion-select-option  *ngFor="let option of item.type" value={{option.id}},{{option.product_quantity}},{{option.product_amount}}>{{option.product_quantity}}ml | ₹ {{option.product_amount}}</ion-select-option>    
          </ion-select>
          <div class="d-flex-cen">
          <div (click)="openSpecificProduct(item)" class="iconcontainer d-flex-cen">
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
        </div>
        </div>
            <!-- <div class="essentialView">
          <div class="essentialsMore">
            <div class="essentialviewMore">
            <ion-col class="ion-no-padding" size="12">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-col>
            <ion-col class="ion-no-padding viewCategories" size="10" >
              <p  class="ff-E-M mr-0 fs-14 txt-brown">View All Essential Products</p>
            </ion-col>
          </div>
          </div>
        </div> -->

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="col-padding">
        <p class="ff-E-M fs-17 txt-left txt-pinkgrey">Best Sellers</p>
      </ion-col>
      <ion-col size="6" class="col-padding">
        <p class="ff-E-R fs-16 txt-right txt-pinkgrey" (click)="gotoBestSellers()">View All</p>
      </ion-col>
      
      <ion-col size="12" class="col-padding-right essentialsContainer d-flex-sb">
        <div class="essentials" *ngFor="let item of this.bestSeller">
          <ion-img src="{{item.image}}"></ion-img>
          <p class="mr-t-25 ff-E-M fs-14 txt-black mr-0">{{item.name}}</p>
          <p class="ff-E-M fs-12 txt-darkgrey mr-0">Humble Cow</p>
          <!-- <p class="ff-E-M fs-12 txt-black mr-t-5  mr-0">500ml | ₹ {{item.sell_price}}</p> -->

          <ion-select interface="popover"  (ionChange)="optionchange($event)"  placeholder="Select Type" class="mr-t-25 ff-E-R fs-11 txt-black selectbox">
            <ion-select-option  *ngFor="let option of item.type" value={{option.id}},{{option.product_quantity}},{{option.product_amount}}>{{option.product_quantity}}ml | ₹ {{option.product_amount}}</ion-select-option>    
          </ion-select>
          <div class="d-flex-cen">
          <div (click)="openSpecificProduct(item)" class="iconcontainer d-flex-cen">
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
        </div>
        </div>
        
        <!-- <div class="essentialView">
          <div class="essentialsMore">
            <div class="essentialviewMore">
            <ion-col class="ion-no-padding" size="12">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-col>
            <ion-col class="ion-no-padding viewCategories" size="10" >
              <p  class="ff-E-M mr-0 fs-14 txt-brown">View All Essential Products</p>
            </ion-col>
          </div>
          </div>
        </div> -->

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
