<ion-header>

  <!-- <ion-navbar color="primary">
    <ion-title>map</ion-title>
  </ion-navbar> -->
  <ion-toolbar color="white">
    <ion-button block color="white" (click)="onSearchLocation()">
      <ion-searchbar  placeholder="search location"></ion-searchbar>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div #map id="map"></div>
</ion-content>
