.header-md::after{
    background-image: none !important;
}

.notifications{
    position: absolute;
    left:  24%;
    top: 20%;
    z-index: 3;
    // width: 10px;
    font-size: 6px;
    color: white;
    padding: 2px;
    // height: 10px;
    border-radius: 50%;
    background-color: #00911D;
}

.profilediv{
    width:100%;
    height: 340px;
    border-radius: 20px;
    background-color: #F5F3F2;
    position: relative;
    padding: 50px 0px 20px 0px;
}
.profilePicture{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    // background-color: yellow;
    position: absolute;
    left: 50%;
    top: -40px;
    background-position: center;
    background-size: contain;
    // background-image: url(../../../assets/profileimg.png);
    transform: translate(-50% ,0%);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}
.profileborder{
    padding: 17px 25px;
    border-bottom: 1px solid #E3E3E3;
}

.uploadImg {
    width: 100%;
    height: 35px;
}

ion-img{
    width: 30px;
    height: 30px;
}
.toggleDiv{
    position: absolute;
    z-index: 8;
    top: 0%;
    right: 4%;
    padding: 10px 0px;
    width: 130px;
    // height: 110px;
    border-radius: 10px;
    border: 1px solid #CBCBCB;
    background-color:white;
}

ion-buttons{
    align-items: flex-end !important;
}
ion-buttons ion-button{
    
    text-transform: initial;
}

ion-buttons .line{
    width: 100%;
    height: .5px;
    background-color:#E3E3E3;
}