<ion-header class="noboxShadow ion-padding">
  <ion-toolbar>
    <ion-button (click)="gotoNotification()" fill="clear" color="dark" slot="start">
      <div class="notifications ff-E-M d-flex-cen">03</div>
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-icon name="bell"></ion-icon>
    </ion-button>
    <ion-title>My Profile</ion-title>
    <ion-button (click)="abrirTutorial()" fill="clear" color="dark" slot="end">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-button>
    <!-- <ion-title>myaccount</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content  *ngIf="!this.checkLogin()">
  <ion-grid style="height: 100%;" class="d-flex-cen">
    <ion-row class="d-flex-cen"  >
      <ion-col class="d-flex-cen">
        <ion-img class="logowhennotlogin" src="../../../assets/humblelogo.png"></ion-img>
    </ion-col>
      <ion-col size="12" class="d-flex-cen">
          <p class="ff-E-M fs-14 txt-linkcolor">Yo need To Login First</p>
      </ion-col>
      <ion-col class="d-flex-cen" size="12">
        <ion-buttons>
          <ion-button (click)="gotoLogin()" class="Btn fillBTn loginBtn">
            Login
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content *ngIf="this.checkLogin()" class="ion-padding">
  <div class="toggleDiv" id="tutorial" hidden="true">
    <ion-buttons class="flex-col" (click)="gotoEditPage()">
      <ion-button class="ff-E-M fs-12">Edit</ion-button>
      <!-- <div class="line"></div> -->
      <!-- <ion-button class="ff-E-M fs-12">Change Picture</ion-button> -->
      <!-- <div class="line"></div> -->
    </ion-buttons>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <div class="mr-t-25 profilediv">
          <div class="profilePicture" (click)="changeProfile()">
            <img *ngIf="this.profileImage === undefined" src="{{imageUrl}}{{this.obj.profile_path}}" onerror="this.src='../../../assets/user.png'" alt="profile Image">
            <img *ngIf="this.profileImage != undefined" [src]="this.profileImage.base" onerror="this.src='../../../assets/user.png'" alt="profile Image">
          </div>

          <div class="profileborder">
            <p class="ff-E-M mr-0 mr-b-5 fs-12">Name</p>
            <p *ngIf="userisAuthenticated()" class="ff-E-SB mr-0 fs-14">{{this.obj.first_name}} {{this.obj.last_name}}
            </p>
          </div>
          <div class="profileborder">
            <p class="ff-E-M mr-0 mr-b-5 fs-12">Mobile Number</p>
            <p *ngIf="userisAuthenticated()" class="ff-E-SB mr-0 fs-14">{{this.obj.mobile}}</p>
          </div>
          <div class="profileborder">
            <p class="ff-E-M mr-0 mr-b-5 fs-12">Gender</p>
            <p *ngIf="userisAuthenticated()" class="ff-E-SB mr-0 fs-14">{{this.obj.gender}}</p>
          </div>
          <div class="profileborder bordernone">
            <p class="ff-E-M mr-0 mr-b-5 fs-12">Date of Birth</p>
            <p *ngIf="userisAuthenticated()" class="ff-E-SB mr-0 fs-14">{{this.obj.dob}}</p>
          </div>

        </div>

      </ion-col>
      <ion-col size="12">
        <ion-item *ngIf="this.profileImage != undefined" (click)="uploadProfilePicture()" lines="none" class="mr-0">
          <ion-button class="uploadImg">Upload Image</ion-button>
        </ion-item>
        <ion-item (click)="gotoBankTransfer()" lines="none" class="mr-0">
          <ion-thumbnail class="mr-0 d-flex-a-cen">
            <ion-img src="../../../assets/walletBlack.svg"></ion-img>
          </ion-thumbnail>
          <ion-label>Request amount</ion-label>
        </ion-item>
        <ion-item (click)="gotoWalletPage()" lines="none" class="mr-0">
          <ion-thumbnail class="mr-0 d-flex-a-cen">
            <ion-img src="../../../assets/walletBlack.svg"></ion-img>
          </ion-thumbnail>
          <ion-label>Wallet & Transactions</ion-label>
        </ion-item>
        <ion-item (click)="gotoVacationPage()" lines="none" class="mr-0">
          <ion-thumbnail class="mr-0 d-flex-a-cen">
            <ion-img src="../../../assets/calenderblack.svg"></ion-img>
          </ion-thumbnail>
          <ion-label>My Vacations</ion-label>
        </ion-item>
        <ion-item *ngIf="userisAuthenticated()" (click)="logout()" lines="none" class="mr-0">
          <ion-thumbnail class="mr-0 d-flex-a-cen">
            <ion-img src="../../../assets/logout.svg"></ion-img>
          </ion-thumbnail>
          <ion-label>Log Out</ion-label>
        </ion-item>
        <ion-item *ngIf="!userisAuthenticated()" (click)="gotoLogin()" lines="none" class="mr-0">
          <ion-thumbnail class="mr-0 d-flex-a-cen">
            <ion-img src="../../../assets/logout.svg"></ion-img>
          </ion-thumbnail>
          <ion-label>Log In</ion-label>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>