
<ion-content>
  <form  #f [formGroup]='form' (ngSubmit)="logForm(f)">
  <ion-grid>
    <ion-row>
      <ion-col class="d-flex-cen flex-col txt-center" size="8" offset="2">
        <p class="ff-E-M fs-16  txt-linkcolor">Enter Password</p>
        <!-- <p class="ff-E-M txt-center mr-0 fs-10">Enter the OTP sent on your phone number <span class="ff-E-SB">860 218 0038.</span></p> -->
        <!-- <a class="ff-E-M fs-10 txt-transform txt-linkcolor mr-t-15" href="">Change Mobile Number</a> -->
      </ion-col>
      
      <ion-col size="12" class="itemproperty d-flex-cen">
        <ion-item  lines="none">
          <ion-input name="password" required formControlName="password" [(ngModel)]="inputData.password"  class="inputPassword" type="password" placeholder="Password"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <p *ngIf="form.get('password') && !form.get('password').valid && form.get('password').touched"
        class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red">Field is required *</p>
      </ion-col>
      <ion-col class="mr-t-25 colpadding">
        <ion-buttons class="d-flex-sb wd-100">
          <ion-button  shape="round" (click)="gotologin()" class="mr-b-5 ion-activatable ripple-parent borderBTn Btn ff-E-M fs-10">Cancel</ion-button>
          <ion-button shape="round" type="submit" (click)="gotoMyCart()" class="mr-b-5 fillBTn Btn ff-E-R fs-10">Submit</ion-button>
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </ion-buttons>
        <div class="Bottomline mr-t-20"></div>
        <p class="ff-E-M fs-10 txt-grey txt-center" (click)="gotoForgotPassword()" >Forgot Password ? <span class="txt-transform txt-linkcolor">Reset</span></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>