<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-page/subscription"></ion-back-button>
    </ion-buttons>
    <ion-title>My Vacation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item *ngFor="let item of myVacations; let i = index">
        <ion-thumbnail class=" d-flex-cen">
          <div class="contentNumber d-flex-cen">
            <p class="ff-E-R fs-14 txt-white">{{i}}</p>
          </div>
        </ion-thumbnail>
        <ion-label>
          <p class="ff-E-M fs-12 txt-grey mr-0">{{item.start_date | date }} - {{item.end_date | date }}</p>
          <p class="ff-E-M fs-10 txt-grey">05 Day</p>
        </ion-label>
        <!-- <ion-label class="rightLabel txt-right">
          <ion-icon  name="arrow-forward"></ion-icon>
          <ion-icon class="forwardIcon" name="ellipsis-vertical"></ion-icon>
        </ion-label> -->
      </ion-item>
      <!-- <ion-item>
        <ion-thumbnail class=" d-flex-cen">
          <div class="contentNumber d-flex-cen">
            <p class="ff-E-R fs-14 txt-white">01</p>
          </div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12 txt-grey mr-0">21 Feb 2020</p> <p class="ff-E-M fs-10 txt-grey">01 Day</p></ion-label>
        <ion-label class="rightLabel txt-right">
          <ion-icon class="forwardIcon" name="ellipsis-vertical"></ion-icon>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail class=" d-flex-cen">
          <div class="contentNumber d-flex-cen">
            <p class="ff-E-R fs-14 txt-white">01</p>
          </div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12 txt-grey mr-0">07 Mar 2020 - 09 Mar 2020</p> <p class="ff-E-M fs-10 txt-grey">03 Days</p></ion-label>
        <ion-label class="rightLabel txt-right">
          <ion-icon class="forwardIcon" name="ellipsis-vertical"></ion-icon>
        </ion-label>
      </ion-item> -->
      
    </ion-col>
    <ion-col size="12" class="bottomBtnCol d-flex-cen">
      <ion-buttons>
        <ion-button (click)="openVacationModal()" class="fillBTn Btn ff-E-R fs-11">Take a Vacation</ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
