
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="mr-b-20 d-flex-cen flex-col txt-center" size="8" offset="2">
        <p class="ff-E-R fs-14  txt-linkcolor">Added to Cart</p>
        <p class="ff-E-M txt-center mr-0 fs-10 txt-grey ">The following product has been added to your cart.</p>
      </ion-col>
      
      <!-- <ion-col class="itemproperty">
        <div class="cardtop d-flex-sb">
          <div class="cardleft">
            <ion-img src="../../../assets/milkpacket.png"></ion-img>
          </div>
          <div class="cardright">
            <p class="ff-E-M txt-black fs-12 mr-0 mr-b-2">Skimmed Milk</p>
            <p class="ff-E-M txt-grey fs-10 mr-0 mr-b-15">Humble Cow</p>
            <p class="ff-E-M txt-black fs-12 mr-0">500ml x02 |<span class="txt-linkcolor"> ₹ 97.00</span></p>
          </div>
        </div>
        
      </ion-col> -->
      <ion-col class="colpadding">
        <ion-buttons class="d-flex-sb wd-100">
          <ion-button (click)="gotoHome()" class="ion-activatable ripple-parent borderBTn Btn ff-E-M fs-10">Continue Shopping</ion-button>
          <ion-button (click)="gotoMyCart()" class="fillBTn Btn ff-E-R fs-10">Go to Cart</ion-button>
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>