.discount{
    width: 84px;
    height: 84px;
    background-position: center;
    background-size: cover;
    background-image: url(../../../assets/discount.svg);
}
ion-button{
    --padding-bottom:13px;
    --padding-top:13px;
    --padding-start:20px;
    --padding-end:20px;
}
.colpadding{
    padding: 2px 32px !important;
}
.coupensCode{
    width: 100%;
    height: 52px;
    border-radius: 10px;
    background-color: #F5F3F2;
}


.itemproperty{
    margin-top: 10px !important;
    margin-bottom: 15px;
    border-bottom: 1px solid #F1EFEF;
    border-top: 1px solid #F1EFEF;
    // background-color: #F5F3F2 !important;
    // height: 150px;
    // border-radius: 20px;
    // background: url(../../../assets/cardbg.svg);
    background-position: top right;
    background-repeat: no-repeat;
}


.cardtop,.card-bottom{
    padding: 0px 5px;
}
.cardleft{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    padding: 15px;
    background-color: #F5F3F2;
}
.cardright{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 220px;
    height: 100px;
}


.itemproperty ion-button{
    position: absolute;
    right: -20px;
    --border-radius: 24px;
    --background: #FFD4E2;
    --box-shadow:none;
    overflow: visible;
    --padding-end: 5px;
}

.itemproperty ion-button ion-icon,
.cardBottom ion-button ion-icon{
    padding:4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#6D4053;
}


.cardBottom ion-button{
position: absolute;
right: 0px;
bottom: 0px;
--box-shadow:none;
--background:transparent;
}