
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="d-flex-cen flex-col txt-center" size="8" offset="2">
        <p class="ff-E-R fs-14  txt-linkcolor">Take a Vacation</p>
        <p class="ff-E-M txt-center mr-0 fs-10 txt-grey ">Your orders from your Subscriptions on the vacation days will be cancelled.</p>
      </ion-col>
      
      <ion-col class="itemproperty d-flex-cen flex-col">
        <div class="datetimeContainer d-flex-sb">
          <ion-datetime class="ff-E-R fs-12 d-flex-sb" [(ngModel)]="start_date" placeholder="Select Start Date" display-timezone="utc"></ion-datetime>
          <ion-icon name="calendar-clear"></ion-icon>
        </div>
        <div class="datetimeContainer d-flex-sb">
          <ion-datetime class="ff-E-R fs-12 d-flex-sb" [(ngModel)]="end_date" placeholder="Select End Date" display-timezone="utc"></ion-datetime>
          <ion-icon name="calendar-clear"></ion-icon>
        </div>
      </ion-col>
      <ion-col class="colpadding">
        <ion-buttons class="d-flex-sb wd-100">
          <ion-button class="ion-activatable ripple-parent borderBTn Btn ff-E-M fs-12">Cancel</ion-button>
          <ion-button class="fillBTn Btn ff-E-R fs-12" (click)="openMyVacation()">Save</ion-button>
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>