<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-page/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ff-E-R fs-18 txt-black">My Cart</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.presentAlertConfirm()">
        <ion-label class="txt-transform ff-E-M fs-12 mr-r-5 txt-purple"
          >Clear All</ion-label
        >
        <ion-img src="../../assets/trashoutline.svg"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="col-padding-right ff-E-L fs-16 txt-grey">
          Subscription Orders
        </p>
        <div class="wd-100 txt-center" *ngIf="this.subscriptionOrders.length === 0">
          <p class="ff-E-M fs-14 txt-linkcolor" >No Subscription</p>
        </div>
        <ion-item *ngFor="let item of this.subscriptionOrders">
          <ion-icon
            (click)="removeoneItem(item.id,'s')"
            class="mr-b-20 txt-black fs-14"
            name="close"
          ></ion-icon>
          <ion-thumbnail class="mr-r-15 mr-b-20">
            <ion-img src="{{this.imgUrl}}{{item.products.resource_path}}"></ion-img>
          </ion-thumbnail>
          <ion-label class="mr-b-20"
            ><p class="ff-E-M fs-12 txt-black mr-0">{{item.products.name}}</p>
            <p class="ff-E-M fs-10 txt-grey">Humble Cow</p>
            <p class="ff-E-M fs-12 txt-black mr-t-10 mr-b-5 mr-0">
              {{item.start_date}}-{{item.end_date}}<br />
              <!-- <span class="txt-linkcolor">{{item.delivery_slot}}</span> -->
            </p></ion-label
          >
          <ion-label class="labelWidth txt-right mr-b-20">
            <p class="ff-E-SB fs-12 txt-lightBrown">₹ {{item.amount}}</p>
            <!-- <p class="ff-E-SB fs-12 txt-black">Subscription</p> -->
            <ion-buttons class="d-flex-j-end addsubbutton mr-t-10">
              <ion-button (click)="openEditSubsModal(item.id,item.quantity)">
                <ion-img src="../assets/draw.svg"></ion-img>
              </ion-button>
              <!-- <p id="addREmove" class="mr-l-15 mr-r-15 ff-E-M fs-14">02</p>
              <ion-button class="d-flex-j-sb-a-end">
                <ion-icon name="add"></ion-icon>
              </ion-button> -->
            </ion-buttons>
          </ion-label>
        </ion-item>
        <p class="col-padding-right ff-E-L fs-16 txt-grey">One Time Orders</p>

        <div class="wd-100 txt-center" *ngIf="this.ontimeOrders.length === 0">
          <p class="ff-E-M fs-14 txt-linkcolor" >No Orders</p>
        </div>

        <ion-item *ngFor="let item of this.ontimeOrders let i = index">
          <ion-icon
            (click)="removeoneItem(item.id,'o')"
            class="mr-b-20 txt-black fs-14"
            name="close"
          ></ion-icon>
          <ion-thumbnail class="mr-r-15 mr-b-20">
            <ion-img src="{{this.imgUrl}}{{item.products.resource_path}}"></ion-img>
          </ion-thumbnail>
          <ion-label class="mr-b-20"
            ><p class="ff-E-M fs-12 txt-black mr-0">{{item.products.name}}</p>
            <p class="ff-E-M fs-10 txt-grey">Humble Cow</p>
            <p class="ff-E-M fs-12 txt-black mr-t-10 mr-0">
              {{item.type.product_quantity}}ml | ₹ {{item.amount}}
            </p></ion-label
          >
          <ion-label class="txt-right mr-b-20">
            <p class="ff-E-SB fs-12 txt-lightBrown">₹ {{item.amount}}</p>
            <ion-buttons class="addsubbutton mr-t-20">
              <ion-button
                (click)="removeOne(item.id,i)"
                class="d-flex-j-sb-a-end"
              >
                <ion-icon name="remove-outline"></ion-icon>
              </ion-button>
              <p id="addREmove" class="mr-l-15 mr-r-15 ff-E-M fs-14">
                {{item.quantity}}
              </p>
              <ion-button (click)="addOne(item.id,i)" class="d-flex-j-sb-a-end">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-label>
        </ion-item>
        <!-- <ion-item>
          <ion-icon class="mr-b-20 txt-black fs-14" name="close"></ion-icon>
          <ion-thumbnail class="mr-r-15 mr-b-20">
            <ion-img src="../../../assets/milkpacket.png"></ion-img>
          </ion-thumbnail>
          <ion-label class="mr-b-20"
            ><p class="ff-E-M fs-12 txt-black mr-0">Bill Amount: ₹97.00</p>
            <p class="ff-E-M fs-10 txt-grey">10 Days | ₹970.00</p>
            <p class="ff-E-M fs-12 txt-black mr-t-10 mr-0">
              500ml | ₹ 48.50
            </p></ion-label
          >
          <ion-label class="txt-right mr-b-20">
            <p class="ff-E-M fs-12 txt-lightBrown">₹ 97.00</p>
            <ion-buttons class="addsubbutton mr-t-20">
              <ion-button class="d-flex-j-sb-a-end">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-button>
              <p id="addREmove" class="mr-l-15 mr-r-15 ff-E-M fs-14">02</p>
              <ion-button class="d-flex-j-sb-a-end">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-label>
        </ion-item> -->
        <ion-item>
          <ion-label class="ff-E-M fs-12 txt-black txt-center"
            >Delivery Charge</ion-label
          >
          <ion-label class="ff-E-M fs-12 txt-lightBrown txt-right"
            >₹ 10.00</ion-label
          >
        </ion-item>
        <ion-item lines="none">
          <ion-radio-group
            class="d-flex-cen wd-100"
            name="iconSelect"
            ngDefaultControl
            [(ngModel)]="radioValue"
            (ionChange)="setIcon()"
          >
            <ion-item color="transparent" class="firstitem" lines="none">
              <ion-radio
                color="danger"
                value="UseCoupon"
                checked="true"
              ></ion-radio>
              <ion-label class="ff-E-M fs-12 txt-black mr-l-5"
                >Use Coupon</ion-label
              >
            </ion-item>
            <ion-item color="transparent" class="ion-no-padding" lines="none">
              <ion-radio color="danger" value="RedeemHCCoins"></ion-radio>
              <ion-label class="ff-E-M fs-12 txt-black mr-l-5"
                >Redeem HC Coins</ion-label
              >
            </ion-item>
          </ion-radio-group>
        </ion-item>
        <ion-item *ngIf="this.radioValue ==='UseCoupon'">
          <ion-row class="mr-t-15 mr-b-15">
            <ion-col *ngIf="!this.couponDets" size="7">
              <ion-input class="coupenInput" placeholder="Coupon Code">
              </ion-input>
            </ion-col>
            <ion-col *ngIf="!this.couponDets" class="mr-l-15" size="4">
              <ion-buttons class="d-flex-cen">
                <ion-button
                  (click)="applyCoupon()"
                  shape="round"
                  class="ApplyCoupon borderBTn Btn ff-E-M fs-10"
                  >Apply Coupon</ion-button
                >
              </ion-buttons>
            </ion-col>
            <ion-col *ngIf="this.couponDets" class="d-flex">
              <p class="fs-14 ff-E-M txt-green mr-0 mr-r-10">
                Coupens Applied !
              </p>
              <ion-icon name="close"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item *ngIf="this.radioValue ==='RedeemHCCoins'">
          <ion-row class="mr-t-15 mr-b-15">
            <ion-col size="7">
              <ion-input class="coupenInput" placeholder="Coin Quantity">
              </ion-input>
            </ion-col>
            <ion-col class="mr-l-15" size="4">
              <ion-buttons class="d-flex-cen">
                <ion-button
                  (click)="applyCoupon()"
                  shape="round"
                  class="ApplyCoupon borderBTn Btn ff-E-M fs-10"
                  >Redeem</ion-button
                >
              </ion-buttons>
            </ion-col>
            <ion-col *ngIf="this.couponDets" class="d-flex">
              <p class="fs-14 ff-E-M txt-green">Coupens Applied !</p>
              <ion-icon (click)="applyCoupon()" name="close"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
      <!-- <ion-col size="12" class="ion-padding">
        <div class=" Datecontainer  mr-b-20 d-flex-cen flex-col">
          <div class="datetimeContainer d-flex-sb">
            <ion-datetime
            class="ff-E-M fs-11 d-flex-sb"
            placeholder="Select Start Date"
            display-timezone="utc"
            ></ion-datetime>
            <ion-icon name="calendar-clear"></ion-icon>
          </div>
          <div class="selectContainer   d-flex-cen">
            
            <ion-select interface="popover" class="ff-E-SB fs-11 txt-black selectbox" placeholder="2020 | December">
              <ion-select-option>500ml | ₹ 48.50</ion-select-option>
              <ion-select-option>500ml | ₹ 48.50</ion-select-option>    
              <ion-select-option>500ml | ₹ 48.50</ion-select-option>
            </ion-select>
          </div>
        </div>
        <div class="Bottomline"></div>
      </ion-col> -->
      <form
        #f
        [formGroup]="form"
        (ngSubmit)="logForm(f)"
        class="d-flex-cen flex-col wd-100"
      >
        <ion-col size="12" class="d-flex-cen flex-col">
          <p class="ff-E-L fs-20 txt-linkcolor mr-0">₹ {{this.totalAmount}}</p>
          <p class="ff-E-M fs-10 mr-t-5 mr-b-20 txt-black mr-0">
            Total Amount Payable
          </p>
          <div class="Bottomline"></div>
        </ion-col>
        <ion-col class="ion-padding">
          <ion-buttons class="d-flex-sb flex-col">
            <ion-button type="submit" class="fillBTn Btn ff-E-R fs-10 mr-b-20"
              >Proceed to Checkout</ion-button
            >
            <!-- <ion-label class="ff-E-M fs-10 txt-grey mr-t-10 mr-b-10">OR</ion-label> -->
            <!-- <ion-button (click)="gotoaddSubscription()" class="borderBTn Btn ff-E-M fs-11">Switch to Subscription</ion-button> -->
          </ion-buttons>
        </ion-col>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
