ion-thumbnail{
    margin-left: 5px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    padding: 7px;
    background-color: #F6F6F6;
}


ion-item .arrowForward{
    padding: 5px;
    width: 15px;
    height: 15px;
    color: white;
    border-radius: 50%;
    background:var(--color-gradient-135) ;

}

.coupenInput{
    font-weight: 700;
    width: 100%;
    border-radius: 20px;
    padding: 0px 25px !important;
    background-color:#F6F6F6 ;
}
.addsubbutton ion-button{
    --padding-bottom:4px;
    --padding-top:4px;
    --padding-start:4px;
    --padding-end:4px;
    width: 24px;
    height: 24px;
    --border-radius: 50%;
    --background:black;
}

.addsubbutton ion-button ion-icon{
    color: white;
    font-size: 15px;
}


.ApplyCoupon{
        --padding-bottom:10px;
        --padding-top:10px;
        --padding-start:15px;
        --padding-end:15px;
}

.Datecontainer{
    width: 100%;
    height: 130px;
    border-radius: 20px;
    background-color: #F5F3F2;
    // border-bottom: 1px solid black;
}



.datetimeContainer{
    padding: 3.2px 10px;
    width: 75%;
    margin: 0px 20px 15px 20px;
    border-radius: 20px;
    background-color: white;
}

.Bottomline{
    width: 100%;
    height: 1px;
    background-color: #F1EFEF;
}
ion-datetime{
    width: 70% !important;
    --padding-bottom:0px;
    --padding-top:0px;
    --padding-end:10px;
    --padding-start:10px;
    height: 28px;
    border-radius: 20px;
    background-color: white;
}

.datetimeContainer ion-icon{
    margin-right: 14px;
    width: 10px;
    height: 10px;
}
.selectContainer{
    width: 100%;
}
.selectbox{
    padding: 8px 20px 8px 20px;
    min-width: 75%;
    // padding-top: 5px;
    // padding-bottom: 5px;
    border-radius: 20px;
    background-color:white;
    --placeholder-opacity:.5;
    --placeholder-color:black;
}  


.inputForm{
    padding: 20px 30px 25px 30px;
    width: 100%;
    // height: 259px;
    border-radius: 20px;
    background-color: #F5F3F2;   
}

.Forminput{
    border-radius: 20px;
    width: 100%;
    height: 34px;
    border: none;
    background-color: white;
    padding:5px 20px 5px 20px ;
    margin: 20px 0px;
}
.Btn{
    width: 180px;
    --padding-top:10px;
    --padding-bottom:10px;
}

.addsubbutton ion-img{
    width: 10px;
    height: 10px;
}


.labelWidth{
    max-width: 20% !important;
}