

.inputForm{
    padding: 20px 30px 25px 30px;
    width: 100%;
    // height: 259px;
    border-radius: 20px;
    background-color: #F5F3F2;   
}



.Forminput{
    border-radius: 20px;
    width: 100%;
    height: 34px;
    border: none;
    background-color: white;
    padding:8px 20px 8px 20px ;
    margin: 15px 0px;
}

.ion-button{
    overflow: hidden;
}