<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="modalClose()"> </ion-back-button>
    </ion-buttons>
    <ion-title>Add Address</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <form
        #f
        [formGroup]="form"
        (ngSubmit)="logForm()"
        class="d-flex-cen flex-col wd-100"
      >
        <ion-col size="12" class="ion-padding">
          <div class="inputForm mr-b-20 d-flex-sb flex-col">
            <p class="ff-E-R fs-14 mr-0 txt-pinkgrey">Billing Info</p>
            <input
              class="Forminput"
              required
              formControlName="full_name"
              placeholder="Full Name"
            />
            <!-- <p *ngIf="form.get('full_name') && !form.get('full_name').valid && form.get('full_name').touched"
        class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red">Field is required *</p> -->
            <input
              class="Forminput"
              type="number"
              required
              formControlName="mobile_number"
              placeholder="Mobile Number"
            />
            <p
              *ngIf="
                form.get('mobile_number') &&
                !form.get('mobile_number').valid &&
                form.get('mobile_number').touched
              "
              class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red"
            >
              Field is required *
            </p>
            <input
              class="Forminput"
              type="number"
              name="alternate_mobile_number"
              required
              formControlName="alternate_mobile_number"
              placeholder="Alternate Mobile Number"
            />
            <p
              *ngIf="
                form.get('alternate_mobile_number') &&
                !form.get('alternate_mobile_number').valid &&
                form.get('alternate_mobile_number').touched
              "
              class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red"
            >
              Field is required *
            </p>
            <input
              class="Forminput"
              name="delivery_address"
              required
              formControlName="house_no"
              placeholder="House no"
            />
            <p
              *ngIf="
                form.get('house_no') &&
                !form.get('house_no').valid &&
                form.get('house_no').touched
              "
              class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red"
            >
              Field is required *
            </p>
            <input
              class="Forminput"
              name="delivery_address"
              required
              formControlName="floor"
              placeholder="Floor"
            />
            <p
              *ngIf="
                form.get('floor') &&
                !form.get('floor').valid &&
                form.get('floor').touched
              "
              class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red"
            >
              Field is required *
            </p>
            <input
              class="Forminput"
              name="address_line_1"
              required
              formControlName="address_line_1"
              placeholder="Street"
            />
            <p
              *ngIf="
                form.get('address_line_1') &&
                !form.get('address_line_1').valid &&
                form.get('address_line_1').touched
              "
              class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red"
            >
              Field is required *
            </p>
            <input
              class="Forminput"
              name="address_line_2"
              required
              formControlName="address_line_2"
              placeholder="City"
            />
            <p
              *ngIf="
                form.get('address_line_2') &&
                !form.get('address_line_2').valid &&
                form.get('address_line_2').touched
              "
              class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red"
            >
              Field is required *
            </p>
            <input
              class="Forminput"
              type="number"
              name="postal_code"
              required
              formControlName="postal_code"
              placeholder="Pincode"
            />
            <p
              *ngIf="
                form.get('postal_code') &&
                !form.get('postal_code').valid &&
                form.get('postal_code').touched
              "
              class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red"
            >
              Field is required *
            </p>
            <div class="Forminput ff-E-R fs-14 txt-grey" (click)="gotomap()">
              Select Address In Map
            </div>
          </div>
          <div class="wd-100 d-flex-cen">
            <ion-button class="ion-button Btn fillBTn" type="submit"
              >Add Adress</ion-button
            >
          </div>
        </ion-col>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
