/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";




:root {
    --color-gradient-135:linear-gradient(135deg,#955771,#6D4053);
    --color-gradient-180: linear-gradient(180deg, #955771,#6D4053);
    --color-light-gradient-180:linear-gradient(180deg,#EFA7BF,#BD7299);
    --color-light-gradient-93:linear-gradient(93deg,#EFA7BF,#BD7299);
    --color-gradient-105:linear-gradient(104deg,#955771,#6D4053);
    --color-gradient-118:linear-gradient(118deg,#EFA7BF,#BD7299);
    --color-gradient-141:linear-gradient(141deg,#EFA7BF,#BD7299);
    --color-gradient-143:linear-gradient(143deg,#EFA7BF,#BD7299);
    --color-gradient-146:linear-gradient(146deg,#EFA7BF,#BD7299);
}


@font-face{
    font-family: Roboto-Bold;
    src: url(./fonts/Roboto-Bold.ttf);
}
@font-face{
    font-family: Roboto-Regular;
    src: url(./fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: Roboto-Medium;
    src: url(./fonts/Roboto-Medium.ttf);
}


.ff-E-SB-B{
    font-family: "Roboto-Bold" !important ;
    font-weight: 900 !important;
}


.ff-E-L {
    font-family: "Roboto-Regular", sans-serif !important;
    font-weight: 300 !important;
}
.ff-E-R {
    font-family: "Roboto-Regular", sans-serif !important;
    font-weight: 400 !important;
}
.ff-E-M {
    font-family: "Roboto-Medium", sans-serif !important;
    font-weight: 500 !important;
}
.ff-E-SB {
    font-family: "Roboto-Bold", sans-serif !important;
    font-weight: bolder!important;
}



:root {
    font-size: 18px;
}


/* font size */
// .fs-10 {
//     font-size: 10px !important;
// }
// .fs-11 {
//     font-size: 11px !important;
// }
// .fs-12 {
//     font-size: 12px !important;
// }
// .fs-13 {
//     font-size: 13px !important;
// }
// .fs-14 {
//     font-size: 14px !important;
// }
// .fs-16 {
//     font-size: 16px !important;
// }
// .fs-17 {
//     font-size: 17px !important;
// }
// .fs-18 {
//     font-size: 18px !important;
// }
// .fs-19 {
//     font-size: 19px !important;
// }
// .fs-20 {
//     font-size: 20px !important;
// }
// .fs-21 {
//     font-size: 21px !important;
// }
// .fs-22 {
//     font-size: 22px !important;
// }
// .fs-23 {
//     font-size: 23px !important;
// }
// .fs-24 {
//     font-size: 24px !important;
// }
// .fs-25 {
//     font-size: 25px !important;
// }
// .fs-26 {
//     font-size: 26px !important;
// }
// .fs-27 {
//     font-size: 27px !important;
// }
// .fs-28 {
//     font-size: 28px !important;
// }
// .fs-29 {
//     font-size: 29px !important;
// }
// .fs-30 {
//     font-size: 30px !important;
// }
// .fs-36{
//     font-size: 36px !important;
// }
// /* font weight */
.fs-10 {
    font-size: 0.625rem !important;
}
.fs-11 {
    font-size: 	0.6875rem !important;
}
.fs-12 {
    font-size: 	0.75rem !important;
}
.fs-13 {
    font-size: 0.8125rem !important;
}
.fs-14 {
    font-size: 	0.875rem !important;
}
.fs-16 {
    font-size: 	1rem !important;
}
.fs-17 {
    font-size: 1.0625rem !important;
}
.fs-18 {
    font-size:  1.125rem !important;
}
.fs-19 {
    font-size: 	1.1875rem !important;
}
.fs-20 {
    font-size: 	1.25rem !important;
}
.fs-21 {
    font-size: 1.3125rem !important;
}
.fs-22 {
    font-size:	1.375rem !important;
}
.fs-23 {
    font-size: 	1.4375rem !important;
}
.fs-24 {
    font-size:1.5rem !important;
}
.fs-25 {
    font-size: 	1.5625rem !important;
}
.fs-26 {
    font-size: 	1.625rem !important;
}
.fs-27 {
    font-size: 1.6875rem !important;
}
.fs-28 {
    font-size: 1.75rem !important;
}
.fs-29 {
    font-size: 1.8125rem !important;
}
.fs-30 {
    font-size: 	1.875rem !important;
}
.fs-36{
    font-size: 	2.25rem !important;
}
/* font weight */
.fw-300 {
    font-weight: 300px !important;
}
.fw-500 {
    font-weight: 500px !important;
}
.fw-700 {
    font-weight: 700px !important;
}
.fw-900 {
    font-weight: 900px !important;
}
/* line height */
.lh-22 {
    line-height: 22px;
}
.lh-25 {
    line-height: 25px;
}
.lh-30 {
    line-height: 30px;
}
.lh-35 {
    line-height: 35px !important;
}
.lh-50 {
    line-height: 50px !important;
}
/* flex properties */
.d-flex {
    display: flex !important;
}
.d-flex-a-cen-d-col {
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.d-flex-a-cen {
    display: flex;
    align-items: center;
}
// .d-flex-j-end {
//     // flex-direction: column;
//     display: flex !important;
//     // justify-content: end;
//     // align-items: flex-end;
// }
.d-flex-cen {
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-flex-sb-only {
    display: flex;
    justify-content: space-between;
}
.d-flex-j-sb-a-end{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.d-flex-a-cen-j-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.d-flex-j-end{
    display: flex;
    justify-content: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col{
    flex-direction: column;
}


ion-item .item-inner{
    display: flex !important;
    background-color: yellowgreen;
    flex-direction: column !important;
}


/* padding */
.col-padding{
    padding:0px 20px !important;
}
.col-padding-right{
    padding-left: 20px !important;
}

/* margin */
.mr-0 {
    margin: 0px !important;
}
.mr-p{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.mr-left-auto {
    margin: 0px auto !important;
}
.mr-l-5{
    margin-left: 5px !important;
}
.mr-l-10{
    margin-left:10px !important;
}
.mr-l-15{
    margin-left:15px !important;
}
.mr-l-55{
    margin-left: 55px;
}

.mr-r-25 {
    margin-right: 25px;
}
.mr-r-30 {
    margin-right: 50px !important;
}
.mr-r-15 {
    margin-right: 15px !important;
}
.mr-r-10 {
    margin-right: 10px !important;
}
.mr-r-5 {
    margin-right: 5px !important;
}
.mr-b-2 {
    margin-bottom: 2px !important;
}
.mr-b-5 {
    margin-bottom: 5px !important;
}
.mr-b-10 {
    margin-bottom: 10px !important;
}
.mr-b-15 {
    margin-bottom: 15px !important;
}
.mr-b-20 {
    margin-bottom: 20px !important;
}
.mr-b-25 {
    margin-bottom: 25px !important;
}
.mr-b-30 {
    margin-bottom: 30px !important;
}
.mr-b-35 {
    margin-bottom: 35px !important;
}
.mr-b-40 {
    margin-bottom: 40px !important;
}

.mr-b-80 {
    margin-bottom: 80px !important;
}
.mr-t-5 {
    margin-top: 5px !important;
}
.mr-t-10 {
    margin-top: 10px !important;
}
.mr-t-15 {
    margin-top: 15px !important;
}
.mr-t-20    {
    margin-top: 20px !important;
}

.mr-t-25 {
    margin-top: 25px !important;
}
.mr-t-30 {
    margin-top: 30px !important;
}
.mr-t-35 {
    margin-top: 35px !important;
}
.mr-t-40 {
    margin-top: 40px !important;
}
.mr-t-80 {
    margin-top: 80px !important;
}
/* padding */
.pd-0 {
    padding: 0px !important;
}
.pd-5 {
    padding: 5px !important;
}


// 
.overflow-h{
    overflow: hidden;
}
/* text color */
.txt-grey {
    color: #848484 !important;
}

.txt-darkgrey{
    color: #474747 !important;
}
.txt-pinkgrey{
    color: #BFA7B5 !important;
}
.txt-lightpink{
    
    color:#FFD4E2 !important;
}

.txt-pink{
    color: #BD7299 !important;
}
.txt-lightGrey{
    color: #E1D5DC !important;
}
.txt-white {
    color: white;
}
.txt-lightblack{
    color: #37212B;
}
.txt-black{
    color:black !important;
}
.txt-brown {
    color: #6D4053;
}

.txt-lightBrown{
    color: #945570 !important;
}

.txt-linkcolor{
     color: #9e8e96 !important;
}

.txt-green{
    color: #00911D !important;
}
.txt-red{
    color:#BF0000 !important;
}
.txt-purple{
    color: #4E2034 !important;
}

.txt-yellowBrown{
    color: #BF8600 !important;
}
// bg colour

.bg-lightGreen{
    background-color: #09D261;
}

// txt align

.txt-center{
    text-align: center;
}

.txt-left{
    text-align: left;
}
.txt-right{
    text-align: right;
}
// border Radius

.br-30{
    overflow: hidden;
    border-radius: 30px;
}

.br-50{
    border-radius: 50% !important;
}

.border-btm{
    border-bottom: 1px solid #E3E3E3;
}

.pdBtn{
    padding: 0px 20px !important;
}

.wd-100{
    width: 100% !important;
}
.wd-90{
    width: 90% !important;
}
.wd-50{
    width: 50% !important;
}
.searchbarcol ion-searchbar ion-icon ,
ion-item ion-input ion-icon{
    position: absolute;
    padding: 10px !important;
    width:24px !important;
    height: 24px !important;
    border-radius: 50% !important;
    background:linear-gradient(180deg,#955771, #6D4053) !important; ;
    right: 0px !important;
    top: 1px !important;
    left: auto !important;
}
.searchbarcol ion-searchbar .searchbar-clear-icon{
    display: none !important;
}

.loginPageIcon{
    // position: absolute;
    padding: 10px !important;
    // width:24px !important;
    // height: 24px !important;
    border-radius: 50% !important;
    background:linear-gradient(180deg,#955771, #6D4053) !important; ;
    // right: 0px !important;
    // top: 0px !important;
    // left: auto !important;
}
.sliderclass ion-slides {
    overflow: visible !important;
}
.sliderclass ion-slides .swiper-slide{
    justify-content: space-between !important; 
}

.sliderclass ion-slides .swiper-pagination{
    bottom: -20px !important;
}

.sliderclass .swiper-pagination-bullet-active{
    background: #BE739A;
}

.searchbarcol ion-searchbar input{
    box-shadow: none !important;
    padding: 8px 15px !important;
}
.inputBorder{
    border-radius: 5px;
    border: 1px solid #0000001F;
}
.pdInput{
    padding: 0px 20px !important;
}


.segment-button-checked{
    border-bottom: #6D4053;
}

ion-item ion-label p{
    line-height: 15px !important;
}


.borderBTn{
    --padding-bottom:8px !important;
    --padding-top:8px !important;
    border: 2px solid #4E2034;   
    background-color: transparent;
    color: #4E2034;
}

.Btn{
    // margin-right: 10px !important;
    height: auto !important;
    border-radius: 20px !important;
    // padding: 10px 5px;
    text-transform: initial;
}

.categoryItem{
    .item-native{
        background-color: blue !important;
        min-height: 20px !important;
    }
}
// .Btn button{
//     padding: 10px 5px !important;
// }

.fillBTn{
    color: white;
    --padding-bottom:10px !important;
    --padding-top:10px !important;
    // border: 2px solid #6D4053;
    background:var(--color-gradient-105);
}

.padding{
    padding: 0px 10px !important;
}


.bordernone{
    border: none !important;
}


.header-md::after{
    display: none;
}

ion-slides .swiper-pagination-bullet{
    width: 6px;
    height: 6px;
}

ion-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.offersModal .modal-wrapper{
    height: 322px !important;
}
ion-modal .modal-wrapper{   
    width: 90% !important;
    // overflow: hidden;
    border-radius: 20px !important;
    padding: 20px !important;
    // background-color: transparent;
}

.addtocardModal .modal-wrapper{
height: 168px !important;
}
.forgotPass .modal-wrapper{
    height: 450px !important;
}
.CoupensModal .modal-wrapper{
    height: 398px !important;
}

.vacationModal .modal-wrapper{
    height: 297px;
}

.orderPlaced .modal-wrapper{
    height: 204px;
}

.subscribeModal .modal-wrapper{
    height: 334px;
}
.ManualAdress .modal-wrapper{
    height: 327px;
}
.OtpModal .modal-wrapper{
    height: 291px;
}
.verifyotp .modal-wrapper{
    height: 420px;
}  

.addAddress .modal-wrapper,
.showAdress .modal-wrapper,
.mapComponent .modal-wrapper,
.SearchPage .modal-wrapper,
.editSubscription .modal-wrapper{
    // height: 460px;
    width: 100% !important;
    // overflow: hidden;
    border-radius: 0px !important;
    padding: 0px !important;
}

.txt-transform{
    text-transform: initial;
}
    

// home page cart div css

.CartDiv ion-content{

    position: relative;
}

.tabsBgWhite{
    background-color:white !important;
}

.CartDiv{
    // display: none;
    // padding: 10px 0px;
    width: 100%;
    background-color: white !important;
    position: relative;
    // bottom: 7%;
}

.CartDiv .cardInner{
    padding: 15px 6px;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    width: 100%;
    height: 100%;
    // background-color: red;
    box-shadow: 0px -5px 6px #00000026;
}

.CartDiv ion-item ion-icon{
    padding: 5px;
    width: 15px;
    height: 15px;
    
}

.CartDiv ion-item ion-button{
    color: white;
    border-radius: 20px;
    --padding-bottom:10px !important;
    --padding-top:10px !important;
    --padding-start:15px !important;
    --padding-end:10px !important;
    background:var(--color-gradient-135) ;
}
.CartDiv ion-thumbnail{
    width: 46px;
    height: 46px;
    border-radius: 10px;
    padding: 7px;
    background-color: #F6F6F6;
}


input{
    outline: none;
}

.MobineInputContainer .button-native{
    --overflow: visible !important;
}

@media only screen and (min-width:800px){
    ion-grid{
        padding: 30px 150px !important;
    }
    ion-header{
        padding: 10px 150px !important;
    }

    ion-modal .modal-wrapper{   
        width: 40% !important;
        ion-grid{
            padding: 0px !important;
        }
        }
}

.hidediv{
    display: none !important;
}


ion-calendar ion-calendar-month  .primary .days .on-selected {
    background:var(--color-gradient-146) !important;
}

ion-calendar ion-calendar-month .primary .days button {
    width: 40px !important;
    height: 60px !important;
    background: #F5F3F2 !important;
    margin: 5px !important;
}

ion-calendar {
    padding: 0px !important;
}

// ion-calendar .title {
//     display: none;
// }

ion-calendar ion-calendar-month .primary .days-box .days {
    margin-bottom: 30px !important;
}



.title .switch-btn{
    font-family: "Roboto-Bold" !important ;
    font-weight: 900 !important;
    color:  #945570 !important;
}


.logowhennotlogin{
    width: 120px;
    height: 120px;
}

.loginBtn{
    --padding-end: 20px !important;
    --padding-start: 20px !important;
    --padding-top:8px !important;
    --padding-bottom:8px !important;
}