

.inputForm{
    padding: 20px 30px 25px 30px;
    width: 100%;
    // height: 300px;
    border-radius: 20px;
    background-color: #F5F3F2;   
}
.inputAmount{
    padding: 20px 30px 25px 30px;
    width: 100%;
    height: 130px;
    border-radius: 20px;
    background-color: #F5F3F2; 
}

.addressInput{
    
    padding: 20px 30px 25px 30px;
    width: 100%;
    height: 275px;
    border-radius: 20px;
    background-color: #F5F3F2;
}
.Forminput{
    border-radius: 20px;
    width: 100%;
    height: 45px;
    border: none;
    background-color: white;
    padding:0px 20px 0px 20px;
    margin: 20px 0px;
}

ion-radio-group{
    border-radius: 20px;
    width: 100%;
    height: 45px;
    border: none;
    background-color: white;
    overflow: hidden;
    margin: 20px 0px;
}
.Bottomline{
    width: 100%;
    height: 1px;
    background-color: #F1EFEF;
}
.Btn{
    width: 180px;
    --padding-top:10px;
    --padding-bottom:10px;
}

.HomeBtn{
    
    position: relative;
    text-transform: initial;
    // height: auto !important;
    // --padding:10px 10px !important;
    width: 70%;   
    --border-radius: 20px;
    
}
.fillBT{
    --background:var(--color-gradient-135) !important;
}