<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/main-page/myaccount"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- <ion-img src="../../assets/register.png"></ion-img> -->
  <form  #f [formGroup]="form" (ngSubmit)="logForm(f)">
  <ion-grid>
    <ion-row>      
      <ion-col>
        <p class="ff-E-M fs-16 txt-linkcolor txt-center">Edit Profile</p>
      </ion-col>     
      <ion-col size="12" class="ion-padding">        
        <div class="inputForm mr-b-20 d-flex-sb flex-col">
          <!-- <p class="ff-E-R fs-10  mr-0 txt-pinkgrey">Billing Info</p> -->
          <input name="firstName" required formControlName="first_name"  [(ngModel)]="formData.first_name" class="Forminput" placeholder="First Name">
          <p *ngIf="form.get('first_name') && !form.get('first_name').valid && form.get('first_name').touched"
        class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red">Field is required *</p>
          <input name="lastName" required formControlName="last_name" [(ngModel)]="formData.last_name" class="Forminput" placeholder="Last Name">
          <p *ngIf="form.get('last_name') && !form.get('last_name').valid && form.get('last_name').touched"
        class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red">Field is required *</p>
            <ion-radio-group required formControlName="gender" class="d-flex" [(ngModel)]="formData.gender" value="Male">
              <ion-item lines="none">
                <ion-label>Male</ion-label>
                <ion-radio style="margin-inline-end: 20px !important;" slot="start" value="Male"></ion-radio>
              </ion-item>
          
              <ion-item lines="none">
                <ion-label>Female</ion-label>
                <ion-radio slot="start" value="Female"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <p *ngIf="form.get('gender') && !form.get('gender').valid && form.get('gender').touched"
        class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red">Field is required *</p>
            <div class="Forminput d-flex-sb">
              <ion-datetime class="ff-E-R fs-14 d-flex-sb" required formControlName="dob" [(ngModel)]="formData.dob"  placeholder="Date of Birth" display-timezone="utc"></ion-datetime>
              <ion-icon name="calendar-clear"></ion-icon>
            </div>
            <p *ngIf="form.get('dob') && !form.get('dob').valid && form.get('dob').touched"
        class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red">Field is required *</p>
          </div>
          <div class="Bottomline"></div>
        </ion-col>
        <ion-col size="12" class="d-flex-cen">
          <ion-button class="HomeBtn fillBT " type="submit">
            <ion-label class="ff-E-M fs-12">Update Details</ion-label>
          </ion-button>
        </ion-col>
        <!-- <ion-col class="d-flex-cen">
          <p class="ff-E-M fs-10 txt-grey txt-center" >Already a member?<span class="txt-transform txt-linkcolor">Sign In</span></p>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
