<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-page/myaccount"></ion-back-button>
    </ion-buttons>
    <ion-title class="ff-E-R fs-18 txt-black">Notifications</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-label class="txt-transform ff-E-M fs-12 mr-r-5 txt-purple">Clear All</ion-label>
        <ion-img src="../../assets/trashoutline.svg"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-thumbnail class=" d-flex-cen">
          <div class="contentNumber d-flex-cen">
            <p class="ff-E-R fs-14 txt-white">01</p>
          </div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12  mr-0">Lorem Ipsum dolor sit amet.</p> <div class="d-flex-a-cen mr-r-10"> <div class="greenDots"></div><p class="ff-E-M fs-10 txt-grey">11 Jan 2020 | 10:30 am</p></div></ion-label>
        <ion-label class="rightLabel txt-right">
          <!-- <ion-icon  name="arrow-forward"></ion-icon> -->
          <ion-icon class="forwardIcon" name="close"></ion-icon>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail class=" d-flex-cen">
          <div class="contentNumber d-flex-cen">
            <p class="ff-E-R fs-14 txt-white">01</p>
          </div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12  mr-0">Lorem Ipsum dolor sit amet.</p> <div class="d-flex-a-cen mr-r-10"> <div class="greenDots"></div><p class="ff-E-M fs-10 txt-grey">11 Jan 2020 | 10:30 am</p></div></ion-label>
        <ion-label class="rightLabel txt-right">
          <!-- <ion-icon  name="arrow-forward"></ion-icon> -->
          <ion-icon class="forwardIcon" name="close"></ion-icon>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail class=" d-flex-cen">
          <div class="contentNumber d-flex-cen">
            <p class="ff-E-R fs-14 txt-white">01</p>
          </div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12  mr-0">Lorem Ipsum dolor sit amet.</p> <div class="d-flex-a-cen mr-r-10"> <div class="greenDots"></div><p class="ff-E-M fs-10 txt-grey">11 Jan 2020 | 10:30 am</p></div></ion-label>
        <ion-label class="rightLabel txt-right">
          <!-- <ion-icon  name="arrow-forward"></ion-icon> -->
          <ion-icon class="forwardIcon" name="close"></ion-icon>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail class=" d-flex-cen">
          <div class="contentNumber d-flex-cen">
            <p class="ff-E-R fs-14 txt-white">01</p>
          </div>
        </ion-thumbnail>
        <ion-label><p class="ff-E-M fs-12  mr-0">Lorem Ipsum dolor sit amet.</p> <div class="d-flex-a-cen mr-r-10"> <div class="greenDots"></div><p class="ff-E-M fs-10 txt-grey">11 Jan 2020 | 10:30 am</p></div></ion-label>
        <ion-label class="rightLabel txt-right">
          <!-- <ion-icon  name="arrow-forward"></ion-icon> -->
          <ion-icon class="forwardIcon" name="close"></ion-icon>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
