<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-page/home/wallet"></ion-back-button>
    </ion-buttons>
    <ion-title class="ff-E-R fs-16">Transfer Amount to bank directly</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <div class="inputForm mr-b-20 d-flex-sb flex-col">
          <!-- <p class="ff-E-R fs-10  mr-0 txt-pinkgrey">Billing Info</p> -->
          <input class="Forminput" placeholder="Full Name">
          <input class="Forminput" placeholder="Mobile Number">
          <input class="Forminput" placeholder="Alternate Mobile Number">
          <input class="Forminput" placeholder="Email">
          </div>
          <div class="Bottomline"></div>
        </ion-col>
      
        <ion-col class="ion-padding">
          <ion-buttons class="d-flex-sb">
            <ion-button (click)="cancelPayment()" class="borderBTn Btn ff-E-R fs-10">Cancel</ion-button>
            <ion-button (click)="submitPayment()" class="fillBTn Btn ff-E-M fs-11">Submit Payment</ion-button>
          </ion-buttons>
        </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
