

.inputForm{
    padding: 20px 30px 25px 30px;
    width: 100%;
    height: 259px;
    border-radius: 20px;
    background-color: #F5F3F2;   
}
.inputAmount{
    padding: 20px 30px 25px 30px;
    width: 100%;
    height: 130px;
    border-radius: 20px;
    background-color: #F5F3F2; 
}

.addressInput{
    
    padding: 20px 30px 25px 30px;
    width: 100%;
    height: 275px;
    border-radius: 20px;
    background-color: #F5F3F2;
}
.Forminput{
    border-radius: 20px;
    width: 100%;
    height: 34px;
    border: none;
    background-color: white;
    padding:5px 20px 5px 20px ;
}

.Bottomline{
    width: 100%;
    height: 1px;
    background-color: #F1EFEF;
}
.Btn{
    width: 140px;
    --padding-top:10px;
    --padding-bottom:10px;
}
