<ion-content>
<ion-img src="../../assets/register.png"></ion-img>
  <form  #f [formGroup]="form" (ngSubmit)="logForm(f)">
  <ion-grid>
    <ion-row>      
      <ion-col>
        <p class="ff-E-M fs-16 txt-linkcolor txt-center">Register</p>
      </ion-col>     
      <ion-col size="12" class="ion-padding">        
        <div class="inputForm mr-b-20 d-flex-sb flex-col">
          <!-- <p class="ff-E-R fs-10  mr-0 txt-pinkgrey">Billing Info</p> -->
          <input name="firstName" required formControlName="first_name"  [(ngModel)]="formData.first_name" class="Forminput" placeholder="First Name">
          <p *ngIf="form.get('first_name') && !form.get('first_name').valid && form.get('first_name').touched"
          class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red">Field is required *</p>
          <input name="lastName" required formControlName="last_name" [(ngModel)]="formData.last_name" class="Forminput" placeholder="Last Name">
          <p *ngIf="form.get('last_name') && !form.get('last_name').valid && form.get('last_name').touched"
          class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red">Field is required *</p>
          <input type="email" name="email" required formControlName="email" [(ngModel)]="formData.email" class="Forminput" placeholder="Email">
          <p *ngIf="form.get('email') && !form.get('email').valid && form.get('email').touched"
          class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red">Field is required *</p>
          <input type="number" name="MobileNumber" required formControlName="mobile" [(ngModel)]="formData.mobile" class="Forminput" placeholder="Mobile">
          <p  *ngIf="form.get('mobile') && !form.get('mobile').valid && form.get('mobile').touched"
          class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red">Field is required *</p>
          <!-- <input name="city" [(ngModel)]="formData.city" class="Forminput" placeholder="City"> -->
          <input type="password" name="password" required formControlName="password" [(ngModel)]="formData.password" class="Forminput" placeholder="Password">
          <p *ngIf="form.get('password') && !form.get('password').valid && form.get('password').touched"
          class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red">Field is required *</p>
          <input type="password" name="passwordConfirmation" required formControlName="password_confirmation" [(ngModel)]="formData.password_confirmation" class="Forminput" placeholder="Confirm Password">
          <p *ngIf="form.get('password_confirmation') && !form.get('password_confirmation').valid && form.get('password_confirmation').touched"
          class="ion-padding-horizontal ff-E-R fs-14 mr-0 txt-left wd-100 txt-red">Field is required *</p>
          </div>
          <div class="Bottomline"></div>
        </ion-col>
        <ion-col size="12" class="d-flex-cen">
          <ion-button class="HomeBtn fillBT " type="submit" (click)="gotoVerifyOtp()" > <ion-label class="ff-E-M fs-12">Register</ion-label></ion-button>
        </ion-col>
        <ion-col class="d-flex-cen">
          <p class="ff-E-M fs-12 txt-grey txt-center" (click)="gotoLogin()">Already a member?<span class="txt-transform txt-linkcolor">Sign In</span></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
